<div class="dashboard">
  <h3> Inbox</h3>
  <div class="clear10"></div>
  <div class="table">
    <table id="tenderList" class="table table-bordered table-striped table-responsive tablesorter">
      <tr>
        <th></th>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
      <% @messages.each.with_index(1) do |message, i|%>
        <tr>
          <td><%= index_count(params[:page].to_i) + i %></td>
          <td><%= message.sender.try(:name) %></td>
          <td><%= message.try(:subject) %></td>
          <td><%= message.created_at.strftime("%d-%m-%Y")%>
          <td>
          <% if message.proposal.present? %>
            <%=  message.proposal.accepted? ? 'Accepted' : (message.proposal.rejected? ? 'Rejected' : ((message.proposal.negotiated? && message.proposal.negotiations.where(from: 'seller').present?) ? 'Negotiated' : 'New Message')) %>
          <% end %>
          </td>
          <% if message.proposal_id.present? %>
            <td><%= link_to 'view', proposal_path(id: message.proposal_id), data: {turbolinks: false}%></td>
          <% else %>
          <td><%= link_to 'view', message_path(message), data: {turbolinks: false}%></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
