<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag 'application' %>
<title>SafeTrade</title>
</head>
<body>
  <%= render :partial => "layouts/unauthenticate_navigation" %>
  <%= image_tag 'loader.gif', id: 'loading-image', class: 'hide', style: "height: 5em; z-index: 50 ;position: fixed; margin-top: 50px;margin-left: 50%;" %>
  <script>
      jQuery(document).ajaxStart(function () {
          $('#loading-image').removeClass('hide').show();
      })
      jQuery(document).ajaxStop(function () {
          $('#loading-image').hide();
      })
  </script>
  <div class="wrapper page-registration">
    <title>SafeTrade</title>
    <h6>Welcome to SafeTrade</h6>

    <div class="clear20"></div>
    <div class="clear20"></div>
    <div class="heading">Sign up</div>
    <div class="clear20"></div>
    <div class="login-box">
      <p style="color:red; font-size:13px;" class='error_msg'></p>
      <p class="clear10"></p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true, authenticity_token: true) do |f| %>
          <div id="devise-error-messages"><%= render 'devise_error_message' %></div>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true  %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :role %><br />
          <%= f.select :role, options_for_select(['Buyer/Seller', "Broker"]), {},  class: 'input form-control', autocomplete: "off", style: "width: 330px;" %>
        </div>

        <div class="field">
          <%= f.label 'Company/Individual', id: 'company_individual_label', class: 'hide'  %><br />
          <%= select_tag "company_individual", options_for_select(['Company', "Individual"]), prompt: 'Please select',  class: 'hide input form-control', autocomplete: "off", style: "width: 330px;" %>
        </div>

        <div class="field">
          <%= f.label :country , id: 'country_label'%><br />
          <%= select_tag "country", options_for_select(country_list), prompt: 'Please select', class: 'input form-control ', style: "width: 330px;"%>
        </div>

        <div class="field">
          <%= f.hidden_field :is_requested, value: false %>
          <%= f.label :company_id, id: 'company' %><br />
          <%= f.select :company_id, options_for_select([]), { prompt: 'Please select' }, class: ' input form-control', style: "width: 330px;" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :mobile_no %><br />
          <%= f.hidden_field :mobile_no %>
          <input type="tel" id="mobile_no">
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>


        <div class="btns-groups">
          <%= f.submit "Sign up", class: "btn-02 login-btn signup-btn" %>
          <%#= f.submit "Request Access", class: "btn-02 login-btn request-btn hide" %>
        </div>
        <br>
        <div class="text">
          <span>If your company is not listed, please e-mail us at <%= mail_to 'register@safetrade.ai', "register@safetrade.ai" %> with your company details and relevant documents as proof.</span>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</body>

<style type="text/css">
  .btns-groups {
    margin: 15px auto 0;
    text-align: center;
  }
  .btn-02.login-btn  {
    margin-left: 0;
    border: 0;
    margin-right: 10px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $(".tender-house7, .tender-house0").prop("checked", false);
    // check_company()
    $(document).on('keyup', '#customer_company_name', function(){
      // check_company()
    })
  })

  $('.tender-house0').on('click',function () {
    $(".tender-house0").is(':checked') ? $('.tender-house7').attr('disabled', true).prop('checked', false) : $('.tender-house7').prop('checked', false).attr('disabled', false)
  })

  $('#customer_role').change(function(){
    role = $('#customer_role').val()
    if (role == 'Broker'){
      $('#customer_company_name').val($('#customer_first_name').val())
      $('#customer_is_requested').val(false)
      $('.signup-btn').removeClass('hide')
      $('.request-btn').addClass('hide')
      $('#company_individual_label').removeClass('hide')
      $('#company_individual').removeClass('hide')
      $('#customer_company_id').addClass('hide')
      $('#company').addClass('hide')
      $('#country_label').addClass('hide')
      $('#country').addClass('hide')
    } else {
      $('#customer_company_name').val('')
      $('#customer_company_id').removeClass('hide')
      $('#company').removeClass('hide')
      $('#country_label').removeClass('hide')
      $('#country').removeClass('hide')
      $('#company_individual_label').addClass('hide')
      $('#company_individual').addClass('hide')
    }
  });

  $('#company_individual').change(function(){
    temp = $('#company_individual').val()
    if (temp == 'Company'){
      $('#customer_company_id').removeClass('hide')
      $('#company').removeClass('hide')
      $('#country_label').removeClass('hide')
      $('#country').removeClass('hide')
    } else {
      $('#customer_company_id').addClass('hide')
      $('#company').addClass('hide')
      $('#country_label').addClass('hide')
      $('#country').addClass('hide')
    }
  });

  $('#country').change(function(){
    var val = $(this).val()
    $.ajax({
      url: '/companies/country_company_list',
      data: { name: val },
      type: "GET",
      success: function(data) {}
    })
  });

  // function check_company(){
  //   val = $('#customer_company_name').val()
  //   $.ajax({
  //     url: '/companies/check_company',
  //     data: { name: val },
  //     type: "GET",
  //     success: function(data) {
  //       if ($('#customer_role').val() == 'Broker'){
  //         $('#customer_is_requested').val(false)
  //         $('.signup-btn').removeClass('hide')
  //         $('.request-btn').addClass('hide')
  //       } else {
  //         $('#customer_is_requested').val(data['success'])
  //         if (data['success'] == true){
  //           $('.signup-btn').addClass('hide')
  //           $('.request-btn').removeClass('hide')
  //         }else{
  //           $('.signup-btn').removeClass('hide')
  //           $('.request-btn').addClass('hide')
  //         }
  //       }
  //     }
  //   })
  // }

</script>