<div class="parcel_report">
	<%#= form_tag('/winners/save', :method => :put) do %>
	<div class="table stone_details">
	<h3>Stone Details</h3>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="table table-bordered table-responsive">
		<thead>
			<tr>
			  <th>Company</th>			  
			 	<th>Description</th>				
				<th>Carats</th>
				<th>Average</th>
				<th>Total</th>
				<th>Last</th>
				<th>%</th>
				<th>Reference</th>			
			</tr>
		</thead>
		<tbody>
		<% if @bid %>
			<tr>
			  <td><%= @bid.tender.supplier.name%></td>				
				<td><%= @bid.stone.description if @bid.stone %></td>				
				<td><%= @bid.stone.weight if @bid.stone %></td>
				<td><%= @bid.price_per_carat %></td>
				<td><%= @bid.total %></td>
				<td><%=  (@past_tenders.any? && @bid.stone) ? @tender.last_winner(@bid.stone.description, @past_tenders) : "-" %></td>		
				<td><%= (@past_tenders.any? && @bid.stone) ? @tender.Average_last_winner(@bid.price_per_carat, @tender.last_winner(@bid.stone.description, @past_tenders)) : "-" %></td>
				<td><%= @tender.parent_reference ?  @tender.parent_reference.try(:name) : "--" %>			
		</tr>	
		<% else %>
		<tr>
			<td colspan='6' style="text-align:center">No Bid details found. </td>
		</tr>
		<% end %>
	</tbody>
	</table>
	</div>
	<div class="clear20"></div>
	<div class="clear20"></div>
	<div class="parcel_n_client">
		<div class="stone_graph">
			<div id="container" style="width:570px;height:350px;" ></div>		
		</div>
		<% if @highest_bid != 0%>
		<div class="top_client table">
		<% if @top_client_bids.any? %>
		<h2 style="text-align:center;">Top <%= @top_client_bids.count >  10 ? '10' : @top_client_bids.count %> Clients</h2>
		<div class="clear10"></div>			
			<table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
		<thead>
			<tr>
			  <td>Client No</td>				
				<td>Average</td>
				<td>Total</td>
				<td>%</td>
				<td>Name of Client</td>			
			</tr>
		</thead>
		<%#= hidden_field_tag 'tender_id', @tender.id %>
		<tbody>			
		<% if @top_client_bids.any? %>
			<% @top_client_bids.each_with_index do |bid, index|%>
			  <% next if index >= 10 %>				 
				<tr>
					<td><%= index + 1  %> / <%= @top_client_bids.count %></td>					
					<td><%= bid.price_per_carat %></td>
					<td><%= bid.total %></td>
					<td><%= index == 0 ? "Winner" :  (bid.total / @highest_bid).round(2) %></td>
					<td><%= bid.customer.name if bid.customer %></td>							
			</tr>			
		<% end %>	
		<% else %>
		<tr>
			<td colspan='6' style="text-align:center">No Bid details found. </td>
		</tr>
		<% end %>
	</tbody>
	</table>
	<% end %>
		</div>
		<% end %>
	</div>
</div>
<div class="clear20"></div>
<script>

$(function() {
		$('#container').highcharts({
		 chart: {
          zoomType: 'x'
      },
      title: {
          text: 'Past Tender History'
      },     	
			xAxis : {
				categories : <%= raw @history.collect{ |t| t.tender.name } %> 
			},
			yAxis : {
				min : 0,
				title : {
					text : 'Price in $'
				}
			},
			tooltip : {
				headerFormat : '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat : '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>${point.y:.2f}</b></td></tr>',
				footerFormat : '</table>',
				shared : true,
				useHTML : true
			},
			legend: {
            enabled: false
      },
      plotOptions: {
          area: {
              fillColor: {
                  linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                  stops: [
                      [0, Highcharts.getOptions().colors[0]],
                      [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                  ]
              },
              marker: {
                  radius: 2
              },
              lineWidth: 1,
              states: {
                  hover: {
                      lineWidth: 1
                  }
              },
              threshold: null
          }
      },		
			series : [{
				type: 'area',
				name : 'Caret',
				data : <%= raw @stones.collect{ |t| t.weight } %>

			}
			, {
            type: 'spline',
            name: 'Avg. Selling Price',
            data: <%= raw @history.collect{ |t| t.avg_selling_price } %>,
            marker: {
            	lineWidth: 2,
            	lineColor: Highcharts.getOptions().colors[3],
            	fillColor: 'white'
            }
        }
        ]
		});
	});
    
</script>

  