<div class="table">
<div id="counter">1:00</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
		<thead>
			<tr>
				<th>Parcel ID</th>
				<th>Mine</th>		
				<th>No of Stones</th>
				<th>Weight</th>
				<th>Description</th>
				<th>My Note</th>
				<th>Per carat</th>
				<th>For parcel</th>
			</tr>
		</thead>
		<tbody>
			<% @stones.each_with_index do |stone,i| %>
			<tr class="<%= get_color(@diff, stone.description) %>" id="<%=stone.id%>" >
				<td><%= stone.id %></td>
				<td><%#= stone.tender.company.customer.name %></td>
				<td><%= stone.no_of_stones %></td>
				<td><%= stone.weight %></td>
				<td><%= stone.description %></td> 
				<td><%=  %></td> 		
				<td><%=  %></td> 				
				<td><%= link_to 'Bid', place_new_stone_bids_path(stone.id), :class => 'place_bid' %></td>		
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function(){
    function countdown() {
		    var seconds = 60;
		    function tick() {
		        var counter = document.getElementById("counter");
		        seconds--;
		        counter.innerHTML = "0:" + (seconds < 10 ? "0" : "") + String(seconds);
		         if( seconds > 0 ) {
			            setTimeout(tick, 1000);
			        } else {
			           window.location.reload(true);
			        }
		    }
		    tick();
		}
		countdown();
	});  
</script>


<style type="text/css">
	#counter{
		float: right;
		font-size: 18px;
		color: red;
	}
</style>
