<div class="table">
<div id="getting-started"></div><br>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
    <tr>
      <td> Time  : </td>
      <td><%= @auction.time %></td>
    </tr>
    <tr>
      <td> Minimum bid  : </td>
      <td><%= @auction.min_bid %></td>
    </tr>
    <tr>
      <td> Tender :</td>
      <td><%= @auction.tender.name %></td>
    </tr>
  </table>
</div>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_auction_path(@auction),class: "btn-02 login-btn" %>
<%= link_to 'Back', auctions_path, class: "btn-02 login-btn" %>
<br><br>
<div class="table">
<div id="getting-started"></div><br>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
<%# if @auction.started? && !@auction.completed %>
  <table>
    <tr>
      <th>Index</th>
      <th>Stone Type</th>
      <th>No. of stones</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Description</th>
      <th>Your bid</th>
      <th></th>
    </tr>
    <tbody>
      <%= hidden_field_tag :auction_id, @auction.id %>
      <% @auction.tender.stones.each_with_index do |stone,index| %>
        <tr class="stone-detail">
          <%= hidden_field_tag :stone_id, stone.id %>
          <td><%= index+1 %></td>
          <td><%= stone.stone_type %></td>
          <td><%= stone.no_of_stones %></td>
          <td><%= stone.size %></td>
          <td><%= stone.weight %></td>
          <td><%= stone.description %></td>
          <td><%= number_field_tag :bid_amount %></td>
          <td>
          <% if @auction.started? %>
            <% if user_win_last_round_for_stone?(stone) %>
              <p>You are the winner</p>
            <% elsif can_user_place_bid?(stone) %>
              <%= button_tag 'Place your Bid', class: 'place-bid' %>
            <% else %>
              <p>You have placed lowest bid in last round</p>
            <% end %>
          <% else %>  
              <p>Auction not started yet</p>
          <% end %>  
          </td>
          <td class="response" id="response-<%= stone.id %>"></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <script>
    $(document).on('click','.place-bid',function(){
      var stone_id = $(this).parents('.stone-detail').find('#stone_id').val();
      var amount = $(this).parents('.stone-detail').find('#bid_amount').val();
      $.ajax({
        type: 'POST',
        url: "<%= place_bid_auction_path(@auction) %>",
        data: { stone_id: stone_id, bid_amount: amount },
        success: function(response){
          $('.response').html('');
          $('#response-'+stone_id).html(response.msg)
          if (response.success){
            $('#response-'+stone_id).attr('style','color:green;');
          }
          else{
            $('#response-'+stone_id).attr('style','color:red;');
          }
        }
      })
    });
  </script>
<%# end %>

<script>
  <% unless @auction.completed? %>
    <% watch_time = (@auction.started ? @next_round.started_at+@auction.round_time.seconds : @auction.time) %>

    $('#getting-started').countdown("<%= watch_time %>", function(event) {
      var auction_time = new Date("<%= watch_time %>");
      var current_time = new Date();
      $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
      if (auction_time < current_time){
        <% if @auction.started %>
          window.location = "<%= round_completed_auction_path(@auction) %>?round=<%= @next_round.id %>"
        <% else %>
          window.location = "<%= auction_path(@auction) %>"
        <% end %>
      }
    });
  <% end %>
</script>
</table>
</div>
<style type="text/css">
  .table table td{text-align: center !important; }
  #myTable td{text-align: left !important; }
</style>