<%= form_for @companies_group, html: { class: 'form-horizontal'} do |f| %>
  <div class="form-row">
   <ul>
      <% @companies_group.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
   </ul>
   <h5>Group Name:</h5>
    <div class='field'>
      <%=f.text_field :group_name, class: 'form-control', placeholder: "Enter Group Name", required: true, style: 'width: 500px;' %>
      <%=f.hidden_field :seller_id, value: current_company.id %>
    </div>
  </div>
  <div class="form-row">
    <h5>Select Companies:</h5>
    <div class='field'>
      <% if @companies_group.present? %>
        <%= f.select :company_id, options_for_select(all_companies_for_group(current_company, @companies_group.id), f.object.company_id), { }, { class: 'selected-customer form-control select2', multiple: true, style: 'width: 500px;' }%>
      <% else %>
        <%= f.select :company_id, options_for_select(all_companies_for_group(current_company, nil), f.object.company_id), { }, { class: 'selected-customer form-control select2', multiple: true, style: 'width: 500px;' }%>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <h5>Group Market Limit:</h5>
    <div class='field'>
       <%=f.text_field :group_market_limit, class: 'form-control', placeholder: "Enter Group Market Limit", style: 'width: 500px;' %>
    </div>
  </div>
  <div class="form-row">
    <h5>Group Overdue Limit:</h5>
    <div class='field'>
      <%=f.text_field :group_overdue_limit, class: 'form-control', placeholder: "Enter Group Overdue Limit", style: 'width: 500px;' %>
    </div>
  </div>
  <div class="form-row">
    <div class='field'>
      <%=f.submit class: 'btn btn-danger', style: 'margin-top: 15px;' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#companies_group_customer_id").select2({
    multiple: true
  });
</script>