<div class="modal fade bs-example-modal-lg" id="parcel_details_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Parcel Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-8 col-sm-8 col-xs-12" id="container">
            </div>
            <div class="col-lg-4">
              <% total = @parcel.try(:price)*@parcel.try(:weight) rescue 0 %>
              <p><b>Supplier:</b> <%= @parcel.try(:customer).try(:company) %></p>
              <p><b>Lot No.:</b> <%= @parcel.try(:lot_no) %></p>
              <p><b>Description:</b> <%= @parcel.try(:description) %></p>
              <p><b>Carats:</b> <%= @parcel.try(:weight) %></p>
              <p><b>Cost:</b> <%= @parcel.try(:cost) %></p>
              <p><b>Avg Price:</b> <%= @parcel.try(:price) %></p>
              <p><b>Credit:</b> <%= @parcel.try(:credit_period) %></p>
              <p><b>Percent:</b> <%= @parcel.try(:percent)  %>%</p>
              <p><b>Last Avg. selling Price:</b> <%=   %></p>
              <p><b>Avg. Price for last 3 sell:</b> <%=last_3_trading_avg(@history)  %></p>
              <%= form_for @proposal, html: { class: "proposalform" } do |f| %>
                <div class="form-row">
                  <div class="row control-label col-sm-3">%</div>
                  <div class=' col-sm-9'>
                    <%=text_field_tag "percent", @parcel.try(:percent), class: 'form-control', required: true %>
                  </div>
                </div>
                <div class="clear10"></div>
                <div class="form-row">
                  <div class="row control-label col-sm-3">Credit:</div>
                  <div class=' col-sm-9'>
                    <%=f.text_field :credit, value: @parcel.try(:credit), class: 'form-control', required: true %>
                  </div>
                </div>
                <div class="clear10"></div>
                <div class="form-row">
                  <div class="row control-label col-sm-3">Avg. price:</div>
                  <div class=' col-sm-9'>
                    <%=f.text_field :price, value: @parcel.try(:price), class: 'form-control', required: true %>
                  </div>
                </div>
                <div class="clear10"></div>
                <div class="form-row">
                  <div class="row control-label col-sm-3">Total $:</div>
                  <div class=' col-sm-9'>
                    <%=text_field_tag "total", total, class: 'form-control', required: true %>
                  </div>
                </div>
                <div class="clear10"></div>
                <div class="form-row">
                  <p>% diff from last sold price: <span class="difference"></span></p>
                </div>
                <%=f.hidden_field :buyer_id, value: current_customer.id %>
                <%=f.hidden_field :supplier_id, value: @parcel.try(:customer_id) %>
                <%=f.hidden_field :action_for, value: @parcel.try(:customer_id) %>
                <%=f.hidden_field :trading_parcel_id, value: @parcel.try(:id) %>
                <%=hidden_field_tag :carats,  @parcel.try(:weight) %>
                <%=hidden_field_tag :cost,  @parcel.try(:cost) %>
                <%=hidden_field_tag :avg_price,  @parcel.try(:price) %>
                <div class="clear10"></div>
                  <div class="parcel-details">
                    <span class="error-message" style="margin: 0px 0px 6px 5px; color: red;"></span></br>
                    <%if @parcel.present?%>
                      <% if (current_customer.id == @parcel.try(:customer_id))  %>
                      <% elsif current_customer.is_blocked_by_supplier(@parcel.try(:customer_id)) %>
                        <p style="margin: 0px 0px 6px 5px; color: red;">Supplier has blocked you. Please contact supplier.</p>
                      <% elsif !current_customer.has_limit(@parcel.try(:customer_id)) %>
                        <p style="margin: 0px 0px 6px 5px; color: red;">Supplier has not given credit limit to you.
                        <%= link_to 'Request', message_trading_parcel_path(id: @parcel.try(:customer_id)), class: 'btn-02 login-btn ',data: { turbolinks: false } %></p>
                      <% elsif current_customer.has_overdue_transaction_of_30_days(@parcel.try(:customer_id)) %>
                        <p style="margin: 0px 0px 6px 5px; color: red;">You cannot buy anything. Please clear your overdue payments.</p>
                      <% elsif grey_buy_btn(current_customer.id, @parcel.try(:customer_id)) %>
                        <%= link_to 'Buy', 'javascript:void(0)', class: 'btn-02 login-btn disabled'  %>
                        <p style="margin: -14px 0px 6px 65px; color: red;">Credit limit is 0. Please contact supplier
                        <%= link_to 'Request', message_trading_parcel_path(id: @parcel.try(:customer_id)), class: 'btn-02 login-btn ',data: { turbolinks: false } %></p>
                      <% elsif current_customer.check_group_overdue(@parcel.try(:customer_id)) %>
                        <p style="margin: 0px 0px 6px 5px; color: red;">You cannot buy anything. Your group customer have overdue.</p>
                      <% elsif current_customer.check_market_limit_overdue(get_market_limit(current_customer, @parcel.try(:customer_id)), @parcel.try(:customer_id)) %>
                        <p style="margin: 0px 0px 6px 5px; color: red;">You cannot buy anything, due to your Market limit overdue.</p>
                      <% else %>
                        <%=link_to "Send Proposal", 'javascript:void(0)', class: 'btn btn-danger btn-sm', id: 'form-submit'%>
                      <% end %>
                    <% else %>
                        <%=link_to "Send Proposal", 'javascript:void(0)', class: 'btn btn-danger btn-sm', id: 'form-submit'%>
                      <% end %>
                  </div>
                </div>
                  <%= f.submit "Send Proposal", class: 'btn btn-danger btn-sm submit-form hide'%>
              <% end %>
            </div>
            <%=link_to "Size info", 'javascript:void(0)', class: 'size_info', "data-id" => @parcel.try(:id) %>
            <div class="col-lg-8">
              <p><b>Comment: </b></p>
              <ul class="list-group">
                <li class="list-group-item"><%= @parcel.try(:comment) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="size-info">
  <%= render partial: 'trading_parcels/size_info' %>
</div>

<script type="text/javascript">

  $('#container').highcharts({
    chart : {
      type : 'column',
      width: 500,
      height: 300
    },
    title : {
      text : 'Past Trading History'
    },
    // subtitle : {
      // text : 'Source: WorldClimate.com'
    // },
    xAxis : {
      type: 'datetime',
      categories: <%= raw @history.collect{ |t| [t.created_at.strftime("%b-%Y")] } %>
    },
    yAxis : {
      min : 0,
      title : {
        text : 'Price in $'
      }
    },
    tooltip : {
      pointFormat: 'Last sold price: <b>${point.y:.1f}</b>'
    },
    plotOptions : {
      column : {
        pointPadding : 0.2,
        borderWidth : 0
      }
    },
    series : [{
      name : 'Sold Price',
      data : <%= raw @history.collect{ |t| [t.total_amount.to_f] } %>

    }]
  });

  $(document).ready(function(){
    $('#form-submit').on('click', function(e) {
      if ((parseInt($('#percent').val()) == 0) || (parseInt($('#proposal_price').val()) == 0) || (parseInt($('#total').val()) == 0)){
        $('.error-message').text("Please enter value greater than 0")
      } else if ($('#percent').val() == '' || $('#proposal_price').val() == '' || $('#total').val() == '' || $('#proposal_credit').val() == ''){
        $('.error-message').text("Value cannot be blank...");
      } else {
        $('form.proposalform').submit();
      }
    })
  });

</script>
