<div class="modal fade" id="for_sale_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title" id="myModalLabel">Select Parcel Visibility</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-10">
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_all", "sale_all", @parcel.try(:sale_all),  "data-id" => @parcel.try(:id), class: 'for_sale' %> All
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_none", "sale_none", @parcel.try(:sale_none), "data-id" => @parcel.try(:id), class: 'for_sale' %> None
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_broker", "sale_broker", @parcel.try(:sale_broker), "data-id" => @parcel.try(:id), class: 'for_sale' %> Broker
                    </label>
                  </div>
                </div>
              </div>
              <span class="broker-list <%=(@parcel.try(:sale_broker) == true) ? '' : 'hide' %>">
                <%= select_tag "broker_id", options_for_select(list_of_brokers(current_customer), selected: @parcel.try(:broker_ids)), 'data-id' => @parcel.try(:id), include_blank: true, multiple: true, class: 'broker-select form-control' %>
              </span>
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_credit", "sale_credit", @parcel.try(:sale_credit), "data-id" => @parcel.try(:id), class: 'for_sale' %> Credit Given
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_demanded", "sale_demanded", @parcel.try(:sale_demanded), "data-id" => @parcel.try(:id), class: 'for_sale' %> Demanded
                    </label>
                  </div>
                </div>
              </div>
             <%= button_tag 'Apply', class: 'btn btn-primary', 'data-dismiss': "modal" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>