<div class="modal fade" id="for_sale_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title" id="myModalLabel">Select Parcel Visibility</h4>
      </div>
      <div class="modal-body">
        <%= form_for @parcel, url: check_for_sale_trading_parcels_path(id: @parcel), remote: true, html: { class: 'form-horizontal visibility-form', method: :post} do |f| %>
          <div class="form-group">
            <div class="col-sm-10">
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :sale_none, class: 'form-check-input' %>
                      <%= f.label "None", class: 'form-check-label' %>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :sale_broker, class: 'form-check-input' %>
                      <%= f.label "Broker", class: 'form-check-label' %>
                    </label>
                  </div>
                </div>
              </div>
              <span class="broker-list <%=(@parcel.try(:sale_broker) == true) ? '' : 'hide' %>">
                <%= select_tag "broker_id", options_for_select(list_of_brokers(current_company), selected: @parcel.try(:broker_ids)), 'data-id' => @parcel.try(:id), include_blank: true, multiple: true, class: 'broker-select form-control', style: 'width: 500px;' %>
              </span>
              <span class="broker-error text-danger"></span>
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :sale_credit, class: 'form-check-input' %>
                      <%= f.label "Credit Given", class: 'form-check-label' %>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :sale_demanded, class: 'form-check-input' %>
                      <%= f.label "Demanded", class: 'form-check-label' %>
                    </label>
                  </div>
                </div>
              </div>
              <%= link_to "Apply", 'javascript:void(0)', class: 'btn btn-primary apply' %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '.apply', function(){
    if ($('#trading_parcel_sale_broker').prop('checked') && $('.broker-select').val() == null) {
      $('.broker-error').text('Please select brokers...')
    } else {
      $('form.visibility-form').submit();
    }
  })
</script>