<table class="table table-bordered table-responsive">
  <tr>
    <td> UID</td>
    <td><%= @parcel.uid %></td>
  </tr>
  <tr>
    <td> Supplier</td>
    <td><%= @parcel.try(:customer).try(:company).try(:name) %></td>
  </tr>
  <tr>
    <td> Source </td>
    <td><%= (@parcel.source.nil? || @parcel.source.blank?) ? 'N/A' : @parcel.source %></td>
  </tr>
  <tr>
    <td> Description</td>
    <td><%= get_description(@parcel) %></td>
  </tr>
  <tr>
    <td> No. of stones</td>
    <td><%= @parcel.no_of_stones.nil? ? 'N/A' : @parcel.no_of_stones %></td>
  </tr>
  <tr>
    <td> Box </td>
    <td><%= (@parcel.box.nil? || @parcel.box.blank?) ? 'N/A' : @parcel.box %><%=link_to "Size info", 'javascript:void(0)', class: 'pull-right size_info', "data-id" => @parcel.try(:id) %></td>
  </tr>
  <tr>
    <td> Carats</td>
    <td><%= number_with_precision(@parcel.weight, precision: 2) %></td>
  </tr>
  <tr>
    <td> Cost</td>
    <td><%= @parcel.cost.nil? ? 'N/A' : @parcel.cost %></td>
  </tr>
  <tr>
    <td> Box Value</td>
    <td><%= (@parcel.box_value.nil? || @parcel.box_value.blank?) ? 'N/A' : @parcel.box_value %></td>
  </tr>
  <tr>
    <td> Sight</td>
    <td><%= (@parcel.try(:sight).nil? || @parcel.try(:sight).blank?) ? 'N/A' : @parcel.try(:sight).try(:to_date).strftime("%m/%y") rescue 'N/A' %></td>
  </tr>
  <tr class="parcel-details">
    <td> Avg. Price</td>
    <td><%= @parcel.price.nil? ? 'N/A' : number_with_precision(@parcel.price, precision: 2) %></td>
  </tr>
  <tr class="parcel-details">
    <td>Price</td>
    <td><%= @parcel.price.nil? ? 'N/A' : number_with_precision((@parcel.price*@parcel.weight), precision: 2) %></td>
  </tr>
  <tr class="parcel-details">
    <td> Credit</td>
    <td><%= @parcel.credit_period %> days (<%= (Date.today + (@parcel.credit_period.to_i).days).strftime("%B %d, %Y") %>)</td>
  </tr>
  <tr>
    <td> Comment</td>
    <td><%= @parcel.try(:comment) %></td>
  </tr>
</table>
<div class="size-info">
  <%= render partial: 'trading_parcels/size_info' %>
</div>