<div class="modal fade" id="for_sale_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Parcel Visibility</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 label">For sale:</label>
            <div class="col-sm-10">
              <%#= check_box_tag %>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_all", "sale_all", @parcel.try(:sale_all),  "data-id" => @parcel.try(:id), class: 'for_sale' %> All
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_none", "sale_none", @parcel.try(:sale_none), "data-id" => @parcel.try(:id), class: 'for_sale' %> None
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_broker", "sale_broker", @parcel.try(:sale_broker), "data-id" => @parcel.try(:id), class: 'for_sale' %> Broker
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_credit", "sale_credit", @parcel.try(:sale_credit), "data-id" => @parcel.try(:id), class: 'for_sale' %> Credit Given
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "sale_demanded", "sale_demanded", @parcel.try(:sale_demanded), "data-id" => @parcel.try(:id), class: 'for_sale' %> Demanded
                    </label>
                  </div>
                </div>
              </div>
              
              <%#= select_tag "for_sale", options_for_select(for_sale_options, TradingParcel.for_sales[@parcel.try(:for_sale)]), 'data-id' => @parcel.try(:id), class: 'form-control' %>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>