<%= stylesheet_link_tag "https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
<%= javascript_include_tag "https://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
<% dt = @parcel.diamond_type%>
<h3>Transaction </h3>
<%= form_for @transaction, url: save_direct_sell_trading_parcel_path(@parcel), html: { class: 'form-horizontal' } do |f| %>
  <% if @transaction.errors.any? %>
    <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li class="text-danger"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="clear10"></div>
  <div class="rough_diamond <%=(dt == 'Rough') ? '' : 'hide'%>">
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Description:</label>
      <div class="col-sm-10">
        <%= text_field_tag "description", @parcel.description, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">No of Stones::</label>
      <div class="col-sm-10">
        <%= text_field_tag "no_of_stones", @parcel.no_of_stones, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Lot No:</label>
      <div class="col-sm-10">
        <%= text_field_tag "lot_no", @parcel.lot_no, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Credit:</label>
      <div class="col-sm-10">
        <%= text_field_tag "credit", @parcel.credit_period, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Carats:</label>
      <div class="col-sm-10">
        <%= text_field_tag "carat", @parcel.weight, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Avg Price:</label>
      <div class="col-sm-10">
        <%= text_field_tag "avg_price", @parcel.price, class: 'form-control disabled' %>
      </div>
    </div>
  </div>
  <div class="sight_diamond <%=(dt == 'DTC' || dt == 'RUSSIAN' || dt == 'Sight') ? '' : 'hide'%>">
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label"> Source:</label>
      <div class="col-sm-10">
        <%= text_field_tag "source", @parcel.source, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Cost:</label>
      <div class="col-sm-10">
        <%= text_field_tag "cost", @parcel.cost, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Box Value:</label>
      <div class="col-sm-10">
        <%= text_field_tag "box_value", @parcel.box_value, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Month Sight:</label>
      <div class="col-sm-10">
        <%= text_field_tag "sight", @parcel.sight, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Credit:</label>
      <div class="col-sm-10">
        <%= text_field_tag "credit", @parcel.credit_period, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Carats:</label>
      <div class="col-sm-10">
        <%= text_field_tag "carat", @parcel.weight, class: 'form-control disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Avg Price:</label>
      <div class="col-sm-10">
        <%= text_field_tag "avg_price", @parcel.price, class: 'form-control disabled' %>
      </div>
    </div>
  </div>
  <div class="polished_diamond <%=(dt == 'Polished' || dt == 'POLISHED') ? '' : 'hide' %>">

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label"> Source:</label>
      <div class="col-sm-10">
        <%= text_field_tag "source", @parcel.source, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Description:</label>
      <div class="col-sm-10">
        <%= text_field_tag "description", @parcel.description, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Shape:</label>
      <div class="col-sm-10">
        <%= text_field_tag "shape", @parcel.shape, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Size:</label>
      <div class="col-sm-10">
        <%= text_field_tag "weight", @parcel.weight, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Color:</label>
      <div class="col-sm-10">
        <%= text_field_tag "color", @parcel.color, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Clarity:</label>
      <div class="col-sm-10">
        <%= text_field_tag "clarity", @parcel.clarity, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Cut:</label>
      <div class="col-sm-10">
        <%= text_field_tag "cut", @parcel.cut, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Polish:</label>
      <div class="col-sm-10">
        <%= text_field_tag "polish", @parcel.polish, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Symmetry:</label>
      <div class="col-sm-10">
        <%= text_field_tag "symmetry", @parcel.symmetry, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Fluorescence:</label>
      <div class="col-sm-10">
        <%= text_field_tag "fluorescence", @parcel.fluorescence, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Lab:</label>
      <div class="col-sm-10">
        <%=text_field_tag "lab", @parcel.lab, class: 'form-control disabled'%>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Credit:</label>
      <div class="col-sm-10">
        <%= text_field_tag "credit", @parcel.credit_period, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Carats:</label>
      <div class="col-sm-10">
        <%= text_field_tag "carat", @parcel.weight, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Avg Price:</label>
      <div class="col-sm-10">
        <%= text_field_tag "price", @parcel.price, class: 'form-control disabled' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Total/Box Value:</label>
      <div class="col-sm-10">
        <%= text_field_tag "total_value", @parcel.total_value, class: 'form-control disabled' %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Buyer:</label>
    <div class="col-sm-8">
      <%= f.select :buyer_id, all_companies(current_company), { include_blank: true }, class: 'form-control no-border' %>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Invite', invite_transactions_path, :class => 'invite' %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Invoice Date:</label>
    <div class='col-sm-10'>
      <%=f.text_field :created_at,  class: 'form-control date' %>
    </div>
  </div>
  <div class="clear10"></div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Paid:</label>
    <div class='col-sm-10'>
      <%= f.select :paid, options_for_select([[true, 1],[false, 0]]), { include_blank: true },  class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"></label>
    <div class='col-sm-10'>
      <div class="idt_terms_text"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label"></label>
    <div class='col-sm-8'>
      <%=f.submit 'Submit', class: 'btn-01 login_btn disabled', id: 'transaction_submit' %>
    </div>
  </div>
<% end %>
<div class="bid_form" style="width:80%!important; margin-left:-10px; display:none; background: #fff;"></div>
<div class="clear"></div>

<script type="text/javascript">

  $(document).ready(function (){
    credit = $('#trading_parcel_credit_period').val()
    price = $('#trading_parcel_price').val()
    weight = $('#trading_parcel_weight').val()
    $('.transactions-credit').val(credit)
    $('.transactions-price').val(price)
    $('.transactions-weight').val(weight)
    $(".date").datepicker({
      "dateFormat" : 'dd/mm/yy'
    });
    parcel_list($('#trading_document_diamond_type').val())
    setTimeout(function(){
      $('#trading_parcel_description').val('<%=@parcel.description%>')
    }, 500);
  })

  $(document).on('click', '.invite', function(e) {
    e.preventDefault()
    var _this = $(this);
    var top = $(this).position()['top'] - 300;
    $.ajax({
      url : '/transactions/invite',
      type : 'GET',
      success : function(response) {
        console.log(response)
        $('.bid_form').html(response).show()
        $('tr').removeClass('current_bid');
        $(_this).parents('tr').addClass('current_bid');

      }
    })
  });

  $(document).on('change', '#trading_document_diamond_type', function(){
    val = $(this).val()
    if(val == "Rough"){
      $('.common').removeClass('hide')
      $('.rough_diamond').removeClass('hide')
      $('.sight_diamond').addClass('hide')
      $('.carat-field').removeClass('hide')
      $('#trading_parcel_description').val('')
      // $('.transactions-weight').val('')
      // $('#trading_parcel_weight').val('')
      $('.diamond_type_value').val('Rough')
    }else if(val == "Sight"){
      $('.common').removeClass('hide')
      $('.rough_diamond').addClass('hide')
      $('.sight_diamond').removeClass('hide')
      $('.carat-field').removeClass('hide')
      $('#trading_parcel_description').val('')
      // $('.transactions-weight').val('')
      // $('#trading_parcel_weight').val('')
      $('.diamond_type_value').val('Sight')
    }else if(val == "Something Special"){
      $('.common').removeClass('hide')
      $('.rough_diamond').addClass('hide')
      $('.sight_diamond').addClass('hide')
      $('.carat-field').addClass('hide')
      $('#trading_parcel_description').val('Finance Transaction')
      $('.transactions-weight').val(1)
      $('#trading_parcel_weight').val(1)
      $('.diamond_type_value').val('Finance')
    }else{
      $('.common').addClass('hide')
      $('.rough_diamond').addClass('hide')
      $('.sight_diamond').addClass('hide')
      // $('.carat-field').removeClass('hide')
      $('#trading_parcel_description').val('')
      // $('.transactions-weight').val('')
      // $('#trading_parcel_weight').val('')
    }
  });

  $(document).on('input', '#trading_parcel_credit_period', function() {
    val = $(this).val()
    $('.transactions-credit').val(val)
  });

  $(document).on('input', '#trading_parcel_price', function() {
    val = $(this).val()
    $('.transactions-price').val(val)
  });

  $(document).on('input', '#trading_parcel_weight', function() {
    val = $(this).val()
    $('.transactions-weight').val(val)
  });

  function add_icons_to_select(state) {
    var originalOption = state.element;

    if (!state.id) return state.text; // optgroup
    return "<img class='customer_list_verified_icon' src='" + $(originalOption).data('icon') +"'/>" + " " + state.text;
  }

  $(document).ready(function(){
    $("#transaction_buyer_id").select2({
      formatResult: add_icons_to_select,
      formatSelection: add_icons_to_select
    });

    $('#transaction_submit').prop('disabled', true);
  })

  $(document.body).on("change", "#transaction_buyer_id", function(){
    text = "Manual transactions are not protected by IDT Credit Protection. Please be aware the safest way to transact is ask your Buyer to purchase your parcel from you. Should you choose to go ahead with a manual transaction, you will not be notified for this transaction whether the buyer is already late on any payment. By ticking the box, you are agreeing to forego IDT Credit Protection."

    $(".idt_terms_text").html('<div><input type="checkbox" value="true" id="read" name="read"><span class="idt_terms_text">'+ text +'</span></div>')
    toggle_checkbox()
    // id = $(this).val()
    // $.ajax({
    //   url: '/verified_unverified',
    //   type: 'GET',
    //   data: {id: id},
    //   success: function(data){
    //     text = data.text
    //     $(".idt_terms_text").html('<div><input type="checkbox" value="true" id="read" name="read"><span class="idt_terms_text">'+ text +'</span></div>')
    //     toggle_checkbox()
    //   }
    // })
  });

  function toggle_checkbox() {
    $('#read').click(function () {
      //check if checkbox is checked
      if ($(this).is(':checked')) {
        $('#transaction_submit').removeClass('disabled');
        $('#transaction_submit').prop('disabled', false);
      } else {
        $('#transaction_submit').addClass('disabled');
        $('#transaction_submit').prop('disabled', true);
      }
    });
  }

  $(document).on('change', '#trading_parcel_source', function(){
    id = $('#trading_parcel_source').val()
    $.ajax({
      url: '/supplier_demand_list',
      method: 'get',
      data: {id: id}
    })
  })

  $(document).on('change', '#trading_document_diamond_type', function(){
    val = $('#trading_document_diamond_type').val()
    parcel_list(val)
  })

  function parcel_list(doc_type) {
    if (doc_type == 'Rough'){
      $.ajax({
        url: '/supplier_demand_list',
        method: 'get',
        data: {id: doc_type}
      })
    } else if (doc_type == 'Sight'){
      $.ajax({
        url: '/supplier_list',
        method: 'get',
        data: {diamond_type: doc_type}
      })
    }
  }
</script>
<style>
  .current_bid {
    background-color: #E4E4E4 !important;
  }

</style>