<h3>Parcel Details</h3>
<div class="table">
  <%= render partial: 'parcel_details' %>
</div><br>
<div class="parcel-details">
  <% if (current_customer.id == @parcel.customer_id)  %>
  <% elsif current_customer.is_blocked_by_supplier(@parcel.customer_id) %>
    <p style="margin: 0px 0px 0px 5px; color: red;">Supplier has blocked you. Please contact supplier.</p>
  <% elsif !current_customer.has_limit(@parcel.customer_id) %>
    <p style="margin: 0px 0px 0px 5px; color: red;">Supplier has not given credit limit to you.</p>
  <% elsif current_customer.has_overdue_transaction_of_30_days(@parcel.customer_id) %>
    <p style="margin: 0px 0px 0px 5px; color: red;">You cannot buy anything. Please clear your overdue payments.</p>
  <% elsif grey_buy_btn(current_customer.id, @parcel.customer_id) %>
    <%= link_to 'Buy', 'javascript:void(0)', class: 'btn-02 login-btn disabled'  %>
    <p style="margin: -14px 0px 0px 65px; color: red;">Credit limit is 0. Please contact supplier</p>
  <% else %>
    <%= link_to 'Buy', 'javascript:void(0)', class: 'btn-02 login-btn buy_btn'  %>
  <% end %>
</div>


<div class="proposal-form hide">
  <h3> Send Proposal </h3>
  <div class="clear10"></div>
  <div class="form-wrapper">
  <%= form_for @proposal do |f| %>
    <%= render partial: 'proposals/form', locals: { f: f } %>
    <%=f.hidden_field :buyer_id, value: current_customer.id %>
    <%=f.hidden_field :supplier_id, value: @parcel.customer_id %>
    <%=f.hidden_field :action_for, value: @parcel.customer_id %>
    <%=f.hidden_field :trading_parcel_id, value: @parcel.id %>
  <% end %>
  </div>
</div>
<div class="clear"></div>

<script type="text/javascript">
  $(document).on('click', '.buy_btn', function(){
    $('.parcel-details').addClass('hide')
    $('.proposal-form').removeClass('hide')
  })
</script>