<div class=''>
  <div class=''>
    <div class='tender-detail'>

      <!--  Form Wrapper Start -->
      <div class="form-wrapper tend-detail">
        <%= form_tag save_note_tender_path(@tender), :remote => true do %>
        <%= hidden_field_tag 'key', @key %>
        <%= hidden_field_tag 'index', params[:index] %>
        <%= hidden_field_tag 'stone_id', params[:stone_id] %>
        <%= hidden_field_tag 'sight_id', params[:sight_id] %>
        <%= hidden_field_tag 'deec_no', params[:deec_no] %>
        <div class='form-row'>
          <div class='label'>
            Tender
          </div>
          <div class='field'>
            <strong><%= @tender.name %></strong>
          </div>
          <div class='clear'></div>
        </div>
        <div class='form-row'>
          <div class='label'>
            Description
          </div>
          <div class='field'>
            <%= @key.split('#').first %>
          </div>
          <div class='clear'></div>
        </div>
        <div class='form-row'>
          <div class='label'>
            Carat
          </div>
          <div class="field parcel_weight">
            <%= @key.split('#').last %>
          </div>
          <div class='clear'></div>
        </div>

          <div class="form-row">
	          <div class="label">
		          Note
	          </div>
	          <div class="field" style='width:60%!important'>
		          <%= text_area_tag :note,(@note.note unless @note.nil?) ,:rows => 4, :style => "width:100%;"%>
		      </div>
	          <div class="clear"></div>
          </div>
          <div class="clear10"></div>
          <div class="form-row">
	          <div class="label" style='width:25%!important'>
		          &nbsp;
	          </div>
	          <div class="field" style='width:60%!important'>
		          <%= submit_tag "Add Note", :class => 'btn-01 submit_bid' %>
		          <%= button_tag "Cancel", :class => 'btn-01 submit_bid', :onclick => "$('tr').removeClass('current_bid');$('.bid_form').html('').hide();removeMask();" %>
	          </div>
	          <div class="clear"></div>
          </div>
          <div class="clear10"></div>
          <% end %>



      </div>
      <!-- form Wrapper End -->

      <div class='clear'></div>


    </div>
    <div class='clear'></div>
  </div>
</div>


<script type='text/javascript'>

	addMask();

  $(document).ready(function(){

    $(document).on('click', '.submit_bid', function(e){
      $('.amount_error').html('')

      if( $('.total_bid').val() == '' && $('.price_per_carat').val() == '' ){
        e.preventDefault();
        $('.amount_error').html("can't be blank");
      } else{
        if( $('.total_bid').val() == '' ){
          calculateTotalAmount()
        } else{
          if( $('.price_per_carat').val() == '' ){
            calculatePricePerCarat()
          }
        }
      }

    })

    $(document).on('keydown', '.total_bid, .price_per_carat', function(e){
      if( validateKey(e.keyCode) ){
       // console.log('valid')
      } else {
        e.preventDefault()
      }
    })

    $(document).on('keyup', '.total_bid', function(e){
      calculatePricePerCarat()
    })

    $(document).on('keyup', '.price_per_carat', function(e){
      calculateTotalAmount()
    })

  })

  function validateKey(key){
    if ( key == 8 || key == 190 || key == 110 || (key <= 105 && key >= 96) || (key <= 57 && key >= 48) ){
      return true;
    } else {
      return false;
    }
  }



  function calculatePricePerCarat(){

    var price_per_carat, weight, total_bid;

    weight = parseFloat($('.parcel_weight').html());
    total_bid = parseFloat( $('.total_bid').val() );

    price_per_carat = total_bid/weight;

    if( isNaN(price_per_carat) ){
      $('.price_per_carat').val('');
    } else {
      price_per_carat = (Math.round(price_per_carat * 100) / 100);
      $('.price_per_carat').val( price_per_carat );
    }

  }

  function calculateTotalAmount(){

    var weight, price_per_carat, total_bid;

    weight = parseFloat($('.parcel_weight').html());
    price_per_carat = parseFloat( $('.price_per_carat').val() );
    total_bid = price_per_carat * weight;

    if( isNaN(total_bid) ){
      $('.total_bid').val('')
    } else {
      total_bid = (Math.round(total_bid * 100) / 100);
      $('.total_bid').val(total_bid)
    }

  }

</script>

