<h4>Active</h4>
<div class="table active_table">
  <table id="tenderList" class="table table-bordered tablesorter table-responsive">
    <thead class="thead-desktop">
      <th>Tender</th>
      <th>Tender Type</th>
      <th>Tender Goods</th>
      <th>Bids</th>
      <th>Total Bid Amount</th>
      <th>Time Remaining</th>
      <%  if current_customer %>
      <th>Send Confirmation</th>
      <% else %>
      <th>Results</th>
      <% end %>
    </thead>
    <% @tenders.each do |tender| %>
      <tr id="<%= tender.id %>">
        <td><span class="table-head-in-td">Tender</span><%= link_to tender.name, tender, data: {turbolinks: false} %></td>
        <td><span class="table-head-in-td">Tender Type</span><%= tender.tender_type %></td>
        <td><span class="table-head-in-td">Tender Goods</span><%= tender.diamond_type %></td>
        <td><span class="table-head-in-td">Bids</span><%= tender.bid_count(current_customer) > 0 ? tender.bid_count(current_customer) : (tender.sight_bid_count(current_customer) > 0 ? tender.sight_bid_count(current_customer) : 0) %></td>
        <td><span class="table-head-in-td">Total Bid Amount</span><%= tender.total_bid_amount(current_customer) > 0 ? tender.total_bid_amount(current_customer) : (tender.total_sight_bid_amount(current_customer)> 0 ? tender.total_sight_bid_amount(current_customer) : 0.0)%></td>
        <td><span class="table-head-in-td">Time Remaining</span><%= distance_time_remaining(tender, tender.close_date) if !tender.close_date.nil?%></td>
        <% if current_customer %>
        <td><span class="table-head-in-td">Send Confirmation</span><%= bid_confirmation_link(tender, current_customer)  %></td>
        <% else %>
        <td><span class="table-head-in-td">Results</span>
        	<%= link_to raw("<span class='xls'></span>"), "/winners/winner.xls?tender_id=" + tender.id.to_s   %>
        	&nbsp;&nbsp;<%= link_to raw("<span class='print'></span>"), "/winners/print?tender_id=" + tender.id.to_s, :target => "_blank" %>
        	
        </td>
        <% end %>
      </tr>
    <% end %>

  </table>
</div>
<%= paginate @tenders %>

<h4>Upcoming</h4>
<div class="table upcoming_table">
  <table id="tenderList" class="table table-bordered tablesorter table-responsive">
      <thead class="thead-desktop">
        <th>Tender</th>
        <th>Tender Type</th>
        <th>Tender Goods</th>
        <th>Total Parcels</th>
        <th>Total Carats</th>
        <th>Start Date</th>
        <th>Days Untill Start</th>
      </thead>
      <% @upcoming_tenders.each do |tender| %>
        <tr id="<%= tender.id %>">
          <td><span class="table-head-in-td">Tender</span><%= link_to tender.name, tender, data: {turbolinks: false} %></td>
          <td><span class="table-head-in-td">Tender Type</span><%= tender.tender_type %></td>
          <td><span class="table-head-in-td">Tender Goods</span><%= tender.diamond_type %></td>
          <td><span class="table-head-in-td">Total Parcels</span><%= tender.stones.count %></td>
          <td><span class="table-head-in-td">Total Carats</span><%= tender.stones.sum(:weight) %></td>
          <td><span class="table-head-in-td">Start Date</span><%= tender.open_date.strftime("%B, %d %Y") %></td>
          <td><span class="table-head-in-td">Days Untill Start</span><%= distance_time_remaining(tender, tender.open_date) if !tender.open_date.nil? %></td>
        </tr>
      <% end %>

  </table>
</div>
<%= paginate @upcoming_tenders %>