
<h4>Active</h4>
<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter">
    <tr>
      <th>Tender</th>
      <th>Bids</th>
      <th>Total Bid Amount</th>
      <th>Time Remaining</th>
      <%  if current_customer %>
      <th>Send Confirmation</th>
      <% else %>
      <th>Results</th>
      <% end %>
    </tr>
    <% @tenders.each do |tender| %>
      <tr id="<%= tender.id %>">
        <td><%= link_to tender.name, tender %></td>
        <td><%= tender.bid_count(current_customer) %></td>
        <td><%= tender.total_bid_amount(current_customer) %></td>
        <td><%= time_remaining(tender.close_date) if !tender.close_date.nil?%></td>
        <% if current_customer %>
        <td><%= bid_confirmation_link(tender, current_customer)  %></td>
        <% else %>
        <td>
        	<%= link_to raw("<span class='xls'></span>"), "/winners/winner.xls?tender_id=" + tender.id.to_s   %>
        	&nbsp;&nbsp;<%= link_to raw("<span class='print'></span>"), "/winners/print?tender_id=" + tender.id.to_s, :target => "_blank"   %>
        	
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate @tenders %>


<h4>Upcoming</h4>
<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter">
      <tr>
        <th>Tender</th>
        <th>Bids</th>
        <th>Total Bid Amount</th>
        <th>Time Remaining</th>
        <%  if current_customer %>
        <th>Send Confirmation</th>
        <% else %>
        <th>Results</th>
        <% end %>
      </tr>
      <% @upcoming_tenders.each do |tender| %>
      <tr id="<%= tender.id %>">
        <td><%= link_to tender.name, tender %></td>
        <td><%= tender.bid_count(current_customer) %></td>
        <td><%= tender.total_bid_amount(current_customer) %></td>
        <td><%= time_remaining(tender.close_date) if !tender.close_date.nil?%></td>
        <% if current_customer %>
        <td><%= bid_confirmation_link(tender, current_customer)  %></td>
        <% else %>
        <td>
          <%= link_to raw("<span class='xls'></span>"), "/winners/winner.xls?tender_id=" + tender.id.to_s   %>
          &nbsp;&nbsp;<%= link_to raw("<span class='print'></span>"), "/winners/print?tender_id=" + tender.id.to_s, :target => "_blank"   %>
          
        </td>
        <% end %>
      </tr>
      <% end %>
  </table>
</div>
<%= paginate @upcoming_tenders %>