<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable_stones" class="tablesorter table-responsive stone-list-table">
    <thead class="thead-desktop">
      <tr>
        <% if current_customer %>
          <th>Imp&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Read&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <% end %>
        <th>Lot No</th>
        <th>Description</th>
        <th>Stones&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Carat</th>
        <th>System Price</th>
        <% if current_customer %>
          <th>Winning price</th>
          <th>My Note</th>
        <% end %>
        <th>History&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Yes / No</th>
      </tr>
    </thead>
    <tbody>
    <% tender_timer = @tender.tender_timer %>
    <%#= tender_timer.inspect %>
    <% current_round = tender_timer['current_round']%>
    <% @stones.each_with_index do |stone,i| %>
         <% unless stone.description == "Description" || stone.description == "DESCRIPTION"%>
            <% is_customer_can_bid = current_customer.can_bid_on_parcel('stone', current_round, @tender, stone) %>
            <% stone_winner = stone.yes_no_buyer_winner %>

              <tr class="<%= get_color(@diff, stone.description) %> ">
                <% if current_customer %>
                  <td><span class="table-head-in-td">Imp</span><div id_key="<%= stone.id %>" key="<%= stone.key %>" score='<%= @important.include?(stone.key) ? 1 : 0 %>' id="star_<%= stone.id %>" class="star" ></div><span class="score"><%= @important.include?(stone.key) ? 1 : 0%></span></td>
                  <td><span class="table-head-in-td">Read</span><%= check_box_tag "read",1,@read.include?(stone.key) ,{:id => "read_" + stone.id.to_s, :class => "read", :key => stone.key} %><span class="score"><%= @read.include?(stone.key) ? 1 : 0 %></span></td>
                <% end %>
                <td><span class="table-head-in-td">Lot No</span><%= stone.lot_no %></td>
                <td><span class="table-head-in-td">Description</span><%= stone.description %></td>
                <td><span class="table-head-in-td">Stones</span><%= stone.no_of_stones %></td>
                <td><span class="table-head-in-td">Carat</span><%= stone.weight %></td>
                <td><span class="table-head-in-td">System Price</span>
                <% if current_round == 1 %>
                  <% system_price = stone.reserved_price.present? ? stone.reserved_price - ((20.to_f/100.to_f)*stone.reserved_price) : "empty price" %>
                <% else %>
                  <% system_price = stone.stone_winning_price.present? ? stone.stone_winning_price : (stone.yes_no_system_price.present? ? stone.yes_no_system_price : stone.reserved_price.to_f - ((20.to_f/100.to_f)*stone.reserved_price.to_f)) %>
                <% end %>
                  <span class = "yes_no_reserved_price"><%= system_price%></span>
                </td>
                <% if current_customer %>
                  <td><span class="table-head-in-td">Winning price</span><%= stone.stone_winning_price.present? ? stone.stone_winning_price : "" %></td>
                  <td><span class="table-head-in-td">My Note</span>
                    <span id="note-<%= i %>"><%= image_tag('icon-notes.png') if @notes.include?(stone.key) %></span>
                     <%= link_to 'Note', add_note_tender_path(@tender.id, :key => stone.key, :stone_id => stone.id, :deec_no => stone.deec_no, :index => i), :class => 'add_note' %>
                  </td>
                <% end %>
                  <td><span class="table-head-in-td">History</span><%= link_to "View", view_past_result_tender_path(@tender.id, :stone_id => stone.id, :key => stone.description, stone_count: stone.no_of_stones), :class => "past_result_link" %></td>
                  <td><span class="table-head-in-td">Yes / No</span>
                    <%#= is_customer_can_bid%>
                    <% if tender_timer['tender_state'] == 'tender_wait' %>
                      Pending
                    <% elsif tender_timer['tender_state'] == 'round_break' %>
                      Round Break<input type="hidden" id="<%= @tender.id %>-<%= stone.id %>">
                    <% elsif stone.stone_winning_price.present? && stone_winner.try(:customer_id) == current_customer.id %>
                      Winner<input type="hidden" id="<%= @tender.id %>-<%= stone.id %>">
                    <% elsif stone.stone_winning_price.present? && stone_winner.try(:customer_id) != current_customer.id %>
                      You are not Winner
                  <% elsif is_customer_can_bid %>
                      <label class="switch">
                        <input class="switch-input"
                               type="checkbox"
                               <%= current_customer.can_bid_on_parcel('stone', current_round+1, @tender, stone) ? 'checked="checked"' : ''%>
                               data-system-price="<%= system_price %>"
                               data-stone-id = "<%= stone.id %>"
                        />
                        <span class="switch-label" data-on="Yes" data-off="No"></span>
                        <span class="switch-handle"></span>
                      </label>
                    <% else %>
                      Withdrawn
                    <% end %>
                    <input type="hidden" class="yes_no_stone_id" value="<%= stone.id %>">
                    <input type="hidden" class="yes_no_tender_id" value="<%= @tender.id %>">
                </td>
              </tr>

        <%end%>
      <% end %>
    </tbody>

  </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {

      addStarRatings('<%= @tender.id %>');
      addRead('<%= @tender.id %>');

      $(document).on('click', '.add_note, .past_result_link', function(e) {
          e.preventDefault()
          var _this = $(this),
              url = $(this).attr('href');
          $.ajax({
              url : url,
              type : 'GET',
              success : function(response) {
                  $('.bid_form').html(response).show();
                  $('tr').removeClass('current_bid');
                  $(_this).parents('tr').addClass('current_bid');
              }
          })
      });

      $('.switch-input').on('change', function() {
          var isChecked = $(this).is(':checked'),
              stone_id = $(this).data('stone-id'),
              reserved_price =  $(this).data('system-price'),
              data = [
                  {name: 'tender_id', value: "<%= @tender.id %>"},
                  {name: 'current_customer', value: "<%= current_customer.id %>"},
                  {name: 'interest', value: isChecked ? "Yes" : "No"},
              ];
          if(!isNaN(stone_id)) {
              data.push({name: 'stone_id', value: stone_id})
          }
          if(!isNaN(reserved_price)) {
              data.push({name: 'reserved_price', value:reserved_price});
          }

          ajaxRequest(
              "/tenders/yes_or_no_winners",
              data,
              function (result) {
                  //console.log(result);
              },
              false,
              'POST'
          );
      });

      // Params ($selector, boolean)
      function setSwitchState(el, flag) {
          el.attr('unchecked', flag);
      }
      // Usage
      setSwitchState($('.switch-input'), true);

  })



</script>

<style>
  .current_bid {
    background-color: #E4E4E4 !important;
  }
</style>