<table id="tenderList" class="table table-bordered tablesorter table-responsive" >
  <thead class="thead-desktop">
    <tr>
      <th>S No.</th>
      <th>Description</th>
      <th>No. of Stones</th>
      <th>Carats</th>
      <th>Cost</th>
      <th>Box Value</th>
      <th>Sight</th>
      <th>Avg. Price</th>
      <th>Total $</th>
      <th>Credit</th>
      <th>Activity</th>
      <th>Counterparty</th>
      <th>Payment Status</th>
      <th>Invoice Date</th>
      <th>Confirm Status</th>
      <th>Transaction Detail</th>
      <!-- <th>View Invoice</th> -->
    </tr>
  </thead>
  <tbody>
    <% transactions.each.with_index(1) do |transaction, i| %>
      <% if get_status(transaction) == 'Overdue' %>
        <% color = 'bg-normal' %>
        <% link = '' %>
      <% else %>
         <% color = 'bg-normal' %>
         <% link = '' %>
      <% end %>
      <tr class="<%= color %>">
        <td class="td-mobile-count">
            <div class="lefter">
              <%= i  %>
            </div>
            <div class="righter">
                <div class="top">
                  <%= get_description(transaction.trading_parcel) rescue 'N/A'  %>
                </div>
                <div class="bottom">
                  Weight: <%= number_with_precision(transaction.trading_parcel.weight, precision: 2) rescue 'N/A'  %>,
                  Stone: <%= transaction.trading_parcel.no_of_stones rescue 'N/A'  %>
                </div>
            </div>
        </td>

        <td>
          <span class="table-head-in-td">Description</span><%= get_description(transaction.trading_parcel) rescue 'N/A'  %>
        </td>
        <td>
          <span class="table-head-in-td">No. of Stones</span><%= transaction.trading_parcel.no_of_stones rescue 'N/A'  %></td>
        <td>
          <span class="table-head-in-td">Carats</span><%= number_with_precision(transaction.trading_parcel.weight, precision: 2) rescue 'N/A'  %></td>
        <td>
          <span class="table-head-in-td">Cost</span><%= transaction.trading_parcel.cost rescue 'N/A'  %>
        </td>
        <td>
          <span class="table-head-in-td">Box Value</span><%= transaction.trading_parcel.box_value rescue 'N/A' %>
        </td>
        <td>
          <span class="table-head-in-td">Sight</span><%= transaction.trading_parcel.sight rescue 'N/A' %>
        </td>
        <td>
          <span class="table-head-in-td">Avg. Price</span><%= number_to_currency(transaction.price) rescue 'N/A' %>
        </td>
        <td>
          <span class="table-head-in-td">Total Price</span><%= number_to_currency(transaction.total_amount) rescue 'N/A' %>
        </td>
        <td>
          <span class="table-head-in-td">Credit</span><%= transaction.credit rescue 'N/A' %>
        </td>
        <% if current_company.id == transaction.buyer_id %>
          <td>Bought</td>
          <td>
            <span class="table-head-in-td">Activity</span><%= transaction.seller.try(:name) rescue 'N/A' %>
          </td>
        <% elsif current_company.id == transaction.seller_id  %>
          <td>Sold</td>
          <td>
            <span class="table-head-in-td">Counterparty</span><%= transaction.buyer.try(:name) rescue 'N/A' %>
          </td>
        <% end %>
        <td>
          <span class="table-head-in-td">Status</span><%= get_status(transaction) %></td>
        <td>
          <span class="table-head-in-td">Invoice Date</span><%= transaction.created_at.strftime("%B, %d %Y")  %>
        </td>
        <% if transaction.buyer_confirmed %>
          <td>Confirmed</td>
        <% elsif current_company.id == transaction.buyer_id && transaction.transaction_type == 'manual' && !transaction.buyer_confirmed && get_status(transaction) != 'Completed' %>
          <td>
            <%=link_to 'Confirm', confirm_transaction_path(transaction), data: {turbolinks: false}, class: link %>
          </td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <%=link_to 'view' , transaction_path(transaction), data: {turbolinks: false}, class: link %>
        </td>
        <%# if current_company.id == transaction.seller_id %>
          <!-- <td>
            <%#=link_to 'Invoice' , edit_transaction_path(transaction), data: {turbolinks: false}, class: link %>
          </td> -->
        <%#else%>
          <!-- <td></td> -->
        <%# end %>
      </tr>
      <% end %>
  </tbody>
</table>

<script>$("#myTable").tablesorter();</script>