<h3>Detailed Bidder List : <%= @tender.name %></h3>
<br/>
<div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="table table-bordered table-responsive">
        <tr>
            <th>
                No
            </th>
            <th>
                Name
            </th>
            <th>
                Company
            </th>
            <th>
                Description
            </th>
            <th>
                Carat
            </th>
			<th>
                Avg
            </th>
            <th>
                Total
            </th>
        </tr>
        <% total = 0 %>
        <% @bids.each_with_index do |bid, i| %>
        <tr>
            <td>
                <%= i + 1 %>
            </td>
            <td>
                <%= link_to bid.customer.name, customer_bid_detail_tender_path(@tender, :customer_id => bid.customer.id ) %>
            </td>
            <td>
                <%= bid.customer.company %>
            </td>
			<td>
				<%= bid.stone.description %>
			</td>	
            <td>
				<%= bid.stone.weight %>
			</td>	
			<td>
                <%= number_to_currency(bid.price_per_carat) %>
            </td>
            <td>
                <% total = total + bid.total %>
                <%= number_to_currency(bid.total) %>
            </td>
        </tr>
        <% end %>
        <tr>
            <td colspan="6">
            </td>
            <td>
                <strong><%= number_to_currency(total) %></strong>
            </td>
        </tr>
    </table>
</div>
<div class="clear20">
</div>
<%= link_to "Winner List","/winners/list", :class => "btn-01" %>