<div class="c1 dashboard">
  <h3>Trading Dashboard</h3>
  <div class="clear10"></div>
   <div class="tender_filter">
    <div class="company_div">
      <span><%= text_field_tag "search_tender", nil, :placeholder => 'Enter Tender Name'%></span>
    	<span><%= select_tag "search_company",  options_from_collection_for_select(Company.all, "id", "name"), :selected => params[:search_company], :prompt => 'Select Company' %></span>
     	<span><%= select_tag "search_status",  options_for_select(["All", "Active", "Upcoming"], :selected => params[:search_status])%></span>
     	<div class="actions">
	     	<input type="submit" value="Filter" name="commit" class="fright btn-00" id="tender_index" >
				<input type="button" value="Reset" class="fright btn-00" onclick="window.location.href='<%= tenders_path %>'" >
        <!-- <input type="button" value="New Tender" class="fright btn-00" onclick="window.location.href='<%= new_tender_path %>'" > -->
			</div>
  	</div>
  </div>
  <div class="tenderList">
  	<%= render 'list' %>
  </div>
</div>

<%= render 'shared/news' %>

<div class="clear"></div>
 <script>
  $(document).ready(function() {
   	$("#tender_index").click(function(){
   		var tender = $("#search_tender").val();
   		var company = $("#search_company option:selected").val();
   		var status = $("#search_status option:selected").val();
   		$.ajax({
  			url : '/tenders',
  			type : 'GET',
  			data : {company: company, tender: tender, status: status},
        success: function (data) {
          var html = $('.tenderList', data).html();
          $(".tenderList").html(html);
        }
  		})
    });

    $("#search_status").change(function(e){
      val = $(this).val()
      if(val == "Active"){
        $('.upcoming_table').addClass('hide')
        $('.active_table').removeClass('hide')
      }else if(val == "Upcoming"){
        $('.upcoming_table').removeClass('hide')
        $('.active_table').addClass('hide')
      }else{
        $('.upcoming_table').removeClass('hide')
        $('.active_table').removeClass('hide')
      }
    })


      var CREDENTIALS = {
        appId: 67854,
        authKey: 'cQ3F2AYqFThBR5t',
        authSecret: 'tDrTBXv6Vp2w47E'
      };
      QB.init(CREDENTIALS.appId, CREDENTIALS.authKey, CREDENTIALS.authSecret);

      QB.createSession(function(err,result){
          if (result){
            var param_check_user= {login: ["<%=current_user.email%>"]}
            QB.users.get(param_check_user, function(err, result){
              debugger
                if (err) {
                  var params = { 'login': "<%=current_user.email%>", 'password': "<%=current_user.email%>", 'tag_list': "DIALUCK",'full_name':"<%=current_user.name%>"};
                  QB.users.create(params, function(err, user){
                      if (user) {
                          // user created
                      } else  {
                        // debugger
                      }
                  });
                }
            });
          }
      });

  });
</script>
