<script src="http://code.highcharts.com/highcharts.js"></script>
<div class="tender-detail">
	<h3> <%= @tender.name %></h3>
	<div class="clear10"></div>
	<%= raw(@tender.description)  %>
	<div class="clear10"></div>
	<form>
		<div class="form-wrapper tend-detail">
			<div class="form-row">
				<div class="label">
					Open Date
				</div>
				<div class="field">
					<div>
						<%= @tender.open_date.strftime('%b %e, %l:%M %p') rescue "" %>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-row">
				<div class="label">
					Close Date
				</div>
				<div class="field">
					<div>
						<%= @tender.try(:close_date).strftime('%b %e, %l:%M %p') rescue "" %>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-row">
				<div class="label">
					Status
				</div>
				<div class="field">
					<% if @tender.open? %>
					<span class="stat-open">Open</span>
					<% else %>
					<span class="stat-close">Closed</span>
					<% end %>
				</div>
          <div class="form-row">
          <%if @tender.bid_open.present? && @tender.bid_close.present? %>
            <div class="label">
              Time Remaining
            </div>
            <div class="field">
              <% unless @tender.nil? %>
                <% if @tender.bidding_start %>
                  <div class="clock"></div>
                <% elsif @tender.before_bidding_start %>
                  <div class="clock1" ></div>
                  Bidding start time <b><%= @tender.bid_open %></b>
                <% elsif @tender.break_time %>
                  <div class="clock2" ></div>
                  Next Round will be start at <b><%=(@tender.round_open_time + @tender.round_duration.minutes+ @tender.rounds_between_duration.minutes) %></b>
                <% elsif DateTime.now > @tender.close_date %>
                  Bidding is completed
                <% end %>
              <%end%>
            </div>
          <%end%>
          <div class="clear"></div>
        </div>
				<div class="clear"></div>
			</div>
		</div>
	</form>
	<div class="clear"></div>
	<% if @tender.open? or current_admin %>

	<div class="table">
		<h2>Stone details :</h2>

    <div class="form-wrapper bid-info">
      <div class='stone_filter'>
        <%= render 'stone_filter' %>
      </div>
      <%if @tender.diamond_type == "Rough" %>
        <% if @tender.stones.length > 0 %>
          <div class='stone_list'>
            <%= render :partial => "graph" unless @last_tender.nil? or @diff.length == 0 %>
            <% if @tender.tender_type == "Blind" %>
              <%= render 'stone_bids' if @stones.present? %>
            <%elsif @tender.tender_type == "Yes/No" %>
              <%= render 'stone_yes_no_bid' if @stones.present? %>
            <%end%>
          </div>
        <% else %>
          <p class="center">Tender details not uploaded.</p>
        <% end %>
      <% else %>
        <% if @tender.sights.length > 0 %>
          <div class='stone_list'>
            <%= render :partial => "graph" unless @last_tender.nil? or @diff.length == 0 %>
            <% if @tender.tender_type == "Blind" %>
              <%= render 'sights_bids' if @sights.present? %>
            <%elsif @tender.tender_type == "Yes/No"  %>
              <%= render 'sight_yes_no_bid' if @sights.present? %>
            <%end%>
          </div>
        <% else %>
          <p class="center">Tender details not uploaded.</p>
        <% end %>
      <% end %>
      <%# if @tender.open? %>
      <%#= render 'bids/form' %>
      <%# else %>
      <%#= render 'bids/details' %>
      <%# end %>
    </div>

		<div class="bid-info bid_form" style="width:80%!important; margin-left:-10px; display:none">

		</div>

		<div class="bid-info past_result" style="width:40%!important; margin-left:20px; display:none">

		</div>

	</div>
	<% end %>
</div>
<div class="clear"></div>
<script>
<% unless @tender.nil? || @tender.tender_type == 'Blind' %>
  $(document).ready(function() {
    $("#myTable").tablesorter();
    var buyer_left = $(this).find('.yes-no-round').html();

    if ('<%= @tender.bidding_start %>' == 'true') {
      console.log("kkkkkkkkkkkkkkkkkkkkkkkk")
      var clock = $('.clock').FlipClock('<%=@tender.bidding_time.to_i%>', {
        clockFace: 'MinuteCounter',
        countdown: true,
        callbacks: {
          stop: function() {
            console.log('342432423432345245453543')
            yes_no_rounds("<%= @tender.id %>", "<%= (@tender.round_open_time.to_i + @tender.round_duration) %>");
          }
        }
      });
    } else if ('<%= @tender.before_bidding_start %>' == 'true') {
      console.log("hHHHHHHHHHHHHHHH")
      var clock1 = $('.clock1').FlipClock('<%=@tender.round_duration_time.to_i%>', {
        clockFace: 'MinuteCounter',
        countdown: true,
        callbacks: {
          stop: function() {
            console.log('The clock has stopped!');
            yes_no_rounds_show();
          }
        }
      });
    } else if ('<%= @tender.break_time %>' == 'true') {
      console.log("LLLLLLLLLLLLLLLLLLLLLLLLLL")
      // $.ajax({
      //   url : '/change_system_price',
      //   type : 'GET',
      //   data : { tender_id: '<%=@tender.id%>', customer_id: '<%=current_customer.id%>'},
      //   success: function (data) {
      //     console.log(data)
      //   }
      // })
      round = $('.fleft.yes-no-round').text().split(': ')[1]
      $.ajax({
        url : '/change_tender_open_time',
        type : 'GET',
        data : { tender_id: '<%=@tender.id%>', round: round },
        success: function (data) {
          console.log(data)
        }
      })
      var clock2 = $('.clock2').FlipClock('<%=@tender.break_duration.to_i%>',{
        clockFace: 'MinuteCounter',
        countdown: true,
        callbacks: {
          stop: function() {
            console.log('The clock has stopped!3');
            yes_no_rounds_show();
            $.ajax({
              url : '/change_system_price',
              type : 'GET',
              data : { tender_id: '<%=@tender.id%>', round: round },
              success: function (data) {
                console.log(data)
              }
            })
          }
        }
      });
    } else {
      console.log("time up")
    }

    function yes_no_rounds_show(){
      console.log('in yes no')
      setTimeout(function () { location.reload(true); }, 1000);
    }

    function yes_no_rounds(tender, bidclosetime) {
      console.log('in yes no rounds')
      var data = {"tender_id": tender}
      setTimeout(function () { location.reload(true); }, 3000);
    }
  });
<% end %>

</script>