<!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
<div class="tender-detail">
	<h3> <%= @tender.name %></h3>
  <% tender_timer = @tender.tender_timer %>
	<div class="clear10"></div>
	<%= raw(@tender.description)  %>
	<div class="clear10"></div>
	<form>
		<div class="form-wrapper tend-detail">
			<div class="form-row">
				<div class="label">
					Open Date
				</div>
				<div class="field">
					<div>
						<%= @tender.open_date.strftime('%b %e, %l:%M %p') rescue "" %>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-row">
				<div class="label">
					Close Date
				</div>
				<div class="field">
					<div>
						<%= @tender.try(:close_date).strftime('%b %e, %l:%M %p') rescue "" %>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-row">
				<div class="label">
					Status
				</div>
				<div class="field">
					<% if @tender.open? %>
					<span class="stat-open">Open</span>
					<% else %>
					<span class="stat-close">Closed</span>
					<% end %>
				</div>
          <div class="form-row">
          <%if @tender.bid_open.present? && @tender.bid_close.present? %>
            <div class="label">
              Time Remaining
            </div>
            <div class="field">
              <%#= tender_timer.inspect %>
              <% if tender_timer['timer_value'] > 0 %>
                <div class="clock"></div>
                <% if tender_timer['tender_state'] == 'round_break' %>
                  Next Round will be start at <b><%= tender_timer['round_start_in'] %></b>
                <% elsif tender_timer['tender_state'] == 'tender_wait' %>
                  Bidding start time <b><%= tender_timer['round_start_in'] %></b>
                <% elsif tender_timer['tender_state'] == 'finished' %>
                  Bidding is completed
                <% end %>
              <% end %>
              <!-- <% unless @tender.nil? %>
                <% if @tender.bidding_start %>
                  <div class="clock"></div>
                <% elsif @tender.before_bidding_start %>
                  <div class="clock1" ></div>
                  Bidding start time <b><%= @tender.bid_open %></b>
                <% elsif @tender.break_time %>
                  <div class="clock2" ></div>
                  Next Round will be start at <b><%=(@tender.round_open_time + @tender.round_duration.minutes+ @tender.rounds_between_duration.minutes) %></b>
                <% elsif DateTime.now > @tender.close_date %>
                  Bidding is completed
                <% end %>
              <%end%> -->
            </div>
          <%end%>
          <div class="clear"></div>
        </div>
				<div class="clear"></div>
			</div>
		</div>
	</form>
	<div class="clear"></div>
	<% if @tender.open? or current_admin %>

	<div class="table">
		<h2>Stone details :</h2>

    <div class="form-wrapper bid-info">
      <div class='stone_filter'>
        <%= render 'stone_filter' %>
      </div>
      <%if @tender.diamond_type == "Rough" %>
        <% if @tender.stones.length > 0 %>
          <div class='stone_list'>
            <%= render :partial => "graph" unless @last_tender.nil? or @diff.length == 0 %>
            <% if @tender.tender_type == "Blind" %>
              <%= render 'stone_bids' if @stones.present? %>
            <%elsif @tender.tender_type == "Yes/No" %>
              <%= render 'stone_yes_no_bid' if @stones.present? %>
            <%end%>
          </div>
        <% else %>
          <p class="center">Tender details not uploaded.</p>
        <% end %>
      <% else %>
        <% if @tender.sights.length > 0 %>
          <div class='stone_list'>
            <%= render :partial => "graph" unless @last_tender.nil? or @diff.length == 0 %>
            <% if @tender.tender_type == "Blind" %>
              <%= render 'sights_bids' if @sights.present? %>
            <%elsif @tender.tender_type == "Yes/No"  %>
              <%= render 'sight_yes_no_bid' if @sights.present? %>
            <%end%>
          </div>
        <% else %>
          <p class="center">Tender details not uploaded.</p>
        <% end %>
      <% end %>
      <%# if @tender.open? %>
      <%#= render 'bids/form' %>
      <%# else %>
      <%#= render 'bids/details' %>
      <%# end %>
    </div>

		<div class="bid-info bid_form" style="width:80%!important; margin-left:-10px; display:none">

		</div>

		<div class="bid-info past_result" style="width:40%!important; margin-left:20px; display:none">

		</div>

	</div>
	<% end %>
</div>
<div class="clear"></div>
<script>
<% unless @tender.nil? || @tender.tender_type == 'Blind' %>
  $(document).ready(function() {
    $("#myTable").tablesorter();
      <% if tender_timer['timer_value'] > 0 %>

        init_timer(<%=tender_timer['timer_value'].to_i%>, '<%=tender_timer['clockFace'].to_s%>');
        <%if tender_timer['tender_state'] == 'round_break' %>
        on_round_finished();
        <% end %>

        function init_timer(value, clockFace)
        {
            if($('.clock').length == 1 && value) {
                if(typeof clockFace == 'undefined') {
                    clockFace = 'MinuteCounter'
                }
                $('.clock').FlipClock(value, {
                    clockFace: clockFace,
                    countdown: true,
                    callbacks: {
                        stop: function() {
                            <%if tender_timer['tender_state'] == 'round_break' %>
                            on_round_break_finished();
                            <% else %>
                            setTimeout(function () { location.reload(true); }, 1500);
                            <% end %>
                        }
                    }
                });
            }
        }
      <%if tender_timer['tender_state'] == 'round_break' %>
      function on_round_break_finished()
      {
          $.ajax({
              url : '/change_system_price',
              type : 'GET',
              data : { tender_id: '<%=@tender.id%>'},
              success: function (data) {
                  console.log(data)
                  if(data.success == true) {
                      setTimeout(function () { location.reload(true); }, 1000);
                  } else {
                      console.log(data);
                      alert('An error occurred during request to the server. Please contact to administrator.');
                  }
              }
          })
      }

      function on_round_finished() {
          var round = Math.max(<%= tender_timer['current_round']%>, 1);
          console.log(round);
          $.ajax({
              url : '/change_tender_open_time',
              type : 'GET',
              data : { tender_id: '<%=@tender.id%>', round: round },
              success: function (data) {
                  if(data.success == true) {
                      //setTimeout(function () { location.reload(true); }, 1000);
                  } else {
                      console.log(data);
                      alert('An error occurred during request to the server. Please contact to administrator.');
                  }
              }
          })

      }
      <% end %>
      <% end %>
  });
<% end %>

</script>