<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter table-responsive">
  <tr class="thead-desktop">
    <th></th>
    <th>Description</th>
    <th>No. of Stones</th>
    <th>Carats</th>
    <th>Cost</th>
    <th>Box Value</th>
    <th>%</th>
    <th>Avg Price</th>
    <th>Sight</th>
    <th>Total $</th>
    <th>Days</th>
    <% if params[:controller] == 'customers' %>
      <th>Supplier</th>
    <% end %>
    <th>UID</th>
    <% unless params[:controller] == 'customers' %>
      <th>Demand</th>
      <th>For Sale</th>
    <% end %>
    <th></th>
  </tr>
  <% parcels.each.with_index(1) do |parcel, i|%>
    <% if check_parcel_visibility(parcel, current_customer) %>
      <% if parcel.sold %>
        <tr style="background: #ccc;">
          <td class="td-mobile-count">
            <div class="lefter">
              <%= index_count(params[:page].to_i) + i %>
            </div>
            <div class="righter">
              <div class="top">
                <%= get_description(parcel) if parcel %>
              </div>
              <div class="bottom">
                Weight: <%= number_with_precision(parcel.weight, precision: 2) %>,
                Stone: <%= parcel.no_of_stones.nil? ? 'N/A' : parcel.no_of_stones %>
              </div>
            </div>
          </td>
          <td><span class="table-head-in-td">Description</span><%= get_description(parcel) if parcel %></td>
          <td><span class="table-head-in-td">No. of Stones</span><%= parcel.no_of_stones.nil? ? 'N/A' : parcel.no_of_stones %></td>
          <td><span class="table-head-in-td">Carats</span><%= number_with_precision(parcel.weight, precision: 2) %></td>
          <td><span class="table-head-in-td">Cost</span><%= parcel.cost.nil? ? 'N/A' : parcel.cost %></td>
          <td><span class="table-head-in-td">Box Value</span><%= (parcel.box_value.nil? || parcel.box_value.blank?) ? 'N/A' : parcel.box_value %></td>
          <td><span class="table-head-in-td">Percent</span><%= (parcel.percent.nil? || parcel.percent.blank?) ? 'N/A' : parcel.percent %></td>
          <td class="td-mobile-open"><span class="table-head-in-td">Avg Price</span><%= parcel.price.nil? ? 'N/A' : number_with_precision(parcel.price, precision: 2) %></td>
          <td><span class="table-head-in-td">Sight</span><%= (parcel.sight.nil? || parcel.sight.blank?) ? 'N/A' : parcel.sight %></td>
           <td><span class="table-head-in-td">Price</span><%= parcel.price*parcel.weight %></td>

          <td><span class="table-head-in-td">Credit</span><%= parcel.credit_period %></td>
          <% if params[:controller] == 'customers' %>
            <td><span class="table-head-in-td">Supplier</span><%= parcel.try(:customer).try(:company) %></td>
          <% end %>
          <td><span class="table-head-in-td">UID</span><%= parcel.uid %></td>
          <!-- <td><%=parcel.demand_count(parcel)%></td> -->
          <% if parcel.customer_id == current_customer.id %>
            <% if params[:controller] == 'customers' %>
              <td><%= link_to "Let's buy", trading_parcel_path(parcel),data: {turbolinks: false} %></td>
            <% else %>
              <td>
                <%= link_to 'View', trading_parcel_path(parcel), class: 'mr5',data: {turbolinks: false} %>
                <%= link_to 'Delete', trading_parcel_path(parcel), class: 'mr5', method: :delete, data: { confirm: "Are you sure?", turbolinks: false} %>
              </td>
            <% end %>
          <% else %>
            <td><%= link_to "Let's buy", trading_parcel_path(parcel),data: {turbolinks: false} %></td>
          <% end %>
        </tr>
      <% else %>
        <%if current_customer.id == parcel.customer_id%>
          <tr style="background: #ffff99;">
        <%else%>
          <tr>
        <%end%>
          <td class="td-mobile-count">
            <div class="lefter">
              <%= index_count(params[:page].to_i) + i %>
            </div>
            <div class="righter">
              <div class="top">
                <%= get_description(parcel) if parcel %>
              </div>
              <div class="bottom">
                Weight: <%= number_with_precision(parcel.weight, precision: 2) %>,
                Stone: <%= parcel.no_of_stones.nil? ? 'N/A' : parcel.no_of_stones %>
              </div>
            </div>
          </td>
          <td><span class="table-head-in-td">Description</span><%= get_description(parcel) if parcel %></td>
          <td><span class="table-head-in-td">No. of Stones</span><%= parcel.no_of_stones.nil? ? 'N/A' : parcel.no_of_stones %></td>
          <td><span class="table-head-in-td">Carats</span><%= number_with_precision(parcel.weight, precision: 2) %></td>
          <td><span class="table-head-in-td">Cost</span><%= parcel.cost.nil? ? 'N/A' : parcel.cost %></td>
          <td><span class="table-head-in-td">Box Value</span><%= (parcel.box_value.nil? || parcel.box_value.blank?) ? 'N/A' : parcel.box_value %></td>
          <td><span class="table-head-in-td">Percent</span><%= (parcel.percent.nil? || parcel.percent.blank?) ? 'N/A' : parcel.percent %></td>
          <td><span class="table-head-in-td">Avg Price</span><%= parcel.price.nil? ? 'N/A' : number_with_precision(parcel.price, precision: 2) %></td>
          <td><span class="table-head-in-td">Sight</span><%= (parcel.sight.nil? || parcel.sight.blank?) ? 'N/A' : parcel.sight %></td>
          <td><span class="table-head-in-td">Price</span><%= parcel.price*parcel.weight rescue 0 %></td>
          <td><span class="table-head-in-td">Credit</span><%= parcel.credit_period %></td>
          <% if params[:controller] == 'customers' %>
            <td><span class="table-head-in-td">Supplier</span><%= parcel.try(:customer).try(:company) %></td>
          <% end %>
          <td><span class="table-head-in-td">UID</span><%= parcel.uid %></td>
          <% unless params[:controller] == 'customers' %>
            <td>
              <%= link_to parcel.demand_count(parcel,current_customer), demand_supplier_path(id: parcel.id) %>
            </td>
          <% end %>
          <% if parcel.customer_id == current_customer.id %>
            <% if params[:controller] == 'customers' %>
              <td><%= link_to "Let's buy", trading_parcel_path(parcel),data: {turbolinks: false} %></td>
            <% else %>
              <td><%=link_to "Click", 'javascript:void(0)', class: 'btn btn-primary btn-xs sale_visibility', "data-id" => parcel.id %></td>
              <td>
                <%= link_to 'View', trading_parcel_path(parcel), class: 'mr5',data: {turbolinks: false} %>
                <%= link_to 'Edit', edit_trading_parcel_path(parcel), class: 'mr5',data: {turbolinks: false} %>
                <%= link_to 'Delete', trading_parcel_path(parcel), class: 'mr5', method: :delete, data: { confirm: "Are you sure?", turbolinks: false} %>
              </td>
            <% end %>
          <% else %>
            <td><%= link_to "Let's buy", 'javascript:void(0)', data: {turbolinks: false}, class: 'lets_buy', "data-id" => parcel.id %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<%#= paginate @parcels %>
<% unless params[:controller] == 'customers' %>
  <div class="parcel-detail">
    <%= render partial: 'trading_parcels/parcel_visibility'%>
  </div>
<% else %>
  <div class="parcel-detail">
    <%= render partial: 'trading_parcels/parcel_details_modal'%>
  </div>
<% end %>