<table id="tenderList" class="table table-bordered table-striped tablesorter table-responsive">
  <thead class="thead-desktop">
    <th>No. of Stones</th>
    <th>Carats</th>
    <th>Cost</th>
    <th>%</th>
    <th>Avg Price</th>
    <th>Sight</th>
    <th>Total $</th>
    <th>Days</th>
    <th>Supplier</th>
    <th>UID</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td><%= parcel.no_of_stones %></td>
      <td><%= parcel.weight %></td>
      <td><%= parcel.cost %></td>
      <td><%= parcel.percent %></td>
      <td><%= parcel.price %></td>
      <td><%= parcel.sight %></td>
      <td><%= parcel.total_value %></td>
      <td><%= parcel.credit_period %></td>
      <td><%= parcel.company.try(:name) %></td>
      <td><%= parcel.uid %></td>
      <% unless parcel.company_id == current_company.id %>
        <td>
          <%= link_to "Let's buy", 'javascript:void(0)', data: {turbolinks: false}, class: 'lets_buy', "data-id" => parcel.id, id: 'lets_buy_id', :onclick => "calling('#{parcel.id}')" %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<div class="clear"></div>


<script type="text/javascript">
  function calling (id) {
    // id = $('#parcel_id').val()
    $.ajax({
      url : '/parcel_detail',
      data : { id: id, proposal: true }
    });
  }

 // $('#tenderList').DataTable({
 //    "pageLength": 25,
 //    "bFilter" :false,
 //    "bLengthChange": false
 //  });
</script>