<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter">
  <tr>
    <th></th>
    <th>Description</th>
    <th>No. of Stones</th>
    <th>Carats</th>
    <th>Cost</th>
    <th>Box Value</th>
    <th>Avg Price</th>
    <th>Sight</th>
    <th>Price</th>
    <th>Credit</th>
    <th>Supplier</th>
    <th>UID</th>
    <% unless params[:controller] == 'customers' %>
      <th>For Sale</th>
    <% end %>
    <th></th>
  </tr>
  <% @parcels.each.with_index(1) do |parcel, i|%>
    <% if parcel.sold %>
      <tr style="background: #ccc;">
        <td><%= index_count(params[:page].to_i) + i %></td>
        <td><%= get_description(parcel) if parcel %></td>
        <td><%= parcel.no_of_stones.nil? ? 'N/A' : parcel.no_of_stones %></td>
        <td><%= parcel.weight %></td>
        <td><%= parcel.cost.nil? ? 'N/A' : parcel.cost %></td>
        <td><%= (parcel.box_value.nil? || parcel.box_value.blank?) ? 'N/A' : parcel.box_value %></td>
        <td><%= parcel.price.nil? ? 'N/A' : number_with_precision(parcel.price, precision: 2) %></td>
        <td><%= (parcel.sight.nil? || parcel.sight.blank?) ? 'N/A' : parcel.sight %></td>
         <td><%= parcel.price*parcel.weight %></td>

        <td><%= parcel.credit_period %></td>
        <td><%= parcel.try(:customer).try(:company) %></td>
        <td><%= parcel.uid %></td>
        <% if parcel.customer_id == current_customer.id %>
          <% if params[:controller] == 'customers' %>
            <td><%= link_to 'View', trading_parcel_path(parcel),data: {turbolinks: false} %></td>
          <% else %>
            <td>
              <%= link_to 'View', trading_parcel_path(parcel), class: 'mr5',data: {turbolinks: false} %>
              <%= link_to 'Delete', trading_parcel_path(parcel), class: 'mr5', method: :delete, data: { confirm: "Are you sure?", turbolinks: false} %>
            </td>
          <% end %>
        <% else %>
          <td><%= link_to 'View', trading_parcel_path(parcel),data: {turbolinks: false} %></td>
        <% end %>
      </tr>
    <% else %>
      <tr>
        <td><%= index_count(params[:page].to_i) + i %></td>
        <td><%= get_description(parcel) if parcel %></td>
        <td><%= parcel.no_of_stones.nil? ? 'N/A' : parcel.no_of_stones %></td>
        <td><%= parcel.weight %></td>
        <td><%= parcel.cost.nil? ? 'N/A' : parcel.cost %></td>
        <td><%= (parcel.box_value.nil? || parcel.box_value.blank?) ? 'N/A' : parcel.box_value %></td>
        <td><%= parcel.price.nil? ? 'N/A' : number_with_precision(parcel.price, precision: 2) %></td>
        <td><%= (parcel.sight.nil? || parcel.sight.blank?) ? 'N/A' : parcel.sight %></td>
        <td><%= parcel.price*parcel.weight rescue 0 %></td>
        <td><%= parcel.credit_period %></td>
        <td><%= parcel.try(:customer).try(:company) %></td>
        <td><%= parcel.uid %></td>
        <% if parcel.customer_id == current_customer.id %>
          <% if params[:controller] == 'customers' %>
            <td><%= link_to 'View', trading_parcel_path(parcel),data: {turbolinks: false} %></td>
          <% else %>
            <td><%= check_box_tag :for_sale, parcel.id, nil, checked: parcel.for_sale %></td>
            <td>
              <%= link_to 'Share', '#', 'data-id' => parcel.id, id: 'share', class: 'mr5',data: {turbolinks: false} %>
              <%= link_to 'View', trading_parcel_path(parcel), class: 'mr5',data: {turbolinks: false} %>
              <%= link_to 'Edit', edit_trading_parcel_path(parcel), class: 'mr5',data: {turbolinks: false} %>
              <%= link_to 'Delete', trading_parcel_path(parcel), class: 'mr5', method: :delete, data: { confirm: "Are you sure?", turbolinks: false} %>
            </td>
          <% end %>
        <% else %>
          <td><%= link_to 'View', trading_parcel_path(parcel),data: {turbolinks: false} %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<%= paginate @parcels %>