<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter">
    <tr>
      <th></th>
      <% if params[:controller] == "customers" %>
        <th>Supplier</th>
      <% else %>
        <th>Buyer </th>
      <% end %>
      <th>Description</th>
      <th>List Price</th>
      <th>Offer Price</th>
      <th>List Credit</th>
      <th>Offer Credit</th>
    </tr>
    <% transactions.each.with_index(1) do |proposal, i|%>
      <tr>
        <td><%= index_count(params[:page].to_i) + i %></td>
        <% if current_customer.id == proposal.buyer_id %>
          <td><%= proposal.supplier.company %></td>
        <% else %>
          <td><%= proposal.buyer.company %></td>
        <% end %>
        <td><%= get_description(proposal.trading_parcel) %></td>
        <td><%= proposal.trading_parcel.price.nil? ? 'N/A' : proposal.trading_parcel.price %></td>
        <td><%= proposal.price.nil? ? 'N/A' : proposal.price %></td>
        <td><%= proposal.trading_parcel.credit_period.nil? ? 'N/A' : proposal.trading_parcel.credit_period %></td>
        <td><%= proposal.credit %></td>
      </tr>
    <% end %>

  </table>
</div>
<%= paginate transactions %>