
<div class="dashboard">
  <div class="clear10"></div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <h2>DTC</h2>
    <%# dtc.each do |d| %>
    <% dtc.group_by(&:description).each do |description, parcels| %>
      <div class="panel panel-default">
        <div class="panel-heading <%#= 'my_parcels' if o.company_id == current_company.id %>" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#parcel_<%= parcels.first.id %>" aria-expanded="false" aria-controls="collapseOne">
             <p class="mb0"><%= description %>(<%= parcels.count %>)</p>
            </a>
          </h4>
        </div>
        <div id="parcel_<%= parcels.first.id %>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
              <%= render partial: 'customers/trading/trading_parcels', locals: { parcels: parcels } %>
          </div>
        </div>
      </div>
    <% end %>
    <div class='clear10'></div>
    <h2>RUSSIAN</h2>
    <% russian.group_by(&:description).each do |description, parcels| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#parcel_<%= parcels.first.id %>" aria-expanded="false" aria-controls="collapseTwo">
             <p class="mb0"><%= description %>(<%= parcels.count %>)</p>
            </a>
          </h4>
        </div>
        <div id="parcel_<%= parcels.first.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
              <%= render partial: 'customers/trading/trading_parcels', locals: { parcels: parcels } %>
          </div>
        </div>
      </div>
    <% end %>

    <div class='clear10'></div>
    <h2>OUTSIDEGOODS</h2>
    <% outside.group_by(&:description).each do |description, parcels| %>
      <div class="panel panel-default">
        <div class="panel-heading " role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#parcel_<%= parcels.first.id %>" aria-expanded="false" aria-controls="collapseThree">
             <p class="mb0"><%= description %>(<%= parcels.count %>)</p>
            </a>
          </h4>
        </div>
        <div id="parcel_<%= parcels.first.id %>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
              <%= render partial: 'customers/trading/trading_parcels', locals: { parcels: parcels } %>
          </div>
        </div>
      </div>
    <% end %>

    <div class='clear10'></div>
    <h2>SOMTHING SPECIAL</h2>
    <% something_special.group_by(&:description).each do |description, parcels| %>
      <div class="panel panel-default">
        <div class="panel-heading " role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#parcel_<%= parcels.first.id %>" aria-expanded="false" aria-controls="collapseFour">
             <p class="mb0"><%= description %>(<%= parcels.count %>)</p>
            </a>
          </h4>
        </div>
        <div id="parcel_<%= parcels.first.id %>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
              <%= render partial: 'customers/trading/trading_parcels', locals: { parcels: parcels } %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <% unless params[:controller] == 'customers' %>
    <div class="parcel-detail">
      <%= render partial: 'trading_parcels/parcel_visibility'%>
    </div>
  <% else %>
    <div class="parcel-detail">
      <%= render partial: 'trading_parcels/parcel_details_modal'%>
    </div>
  <% end %>
  <!-- <div class="table trading-parcel-table">
    <%#= render partial: 'customers/trading/trading_parcels', locals: { parcels: @parcels } %>
  </div> -->
</div>