<%
  # get scores data
  buyer_score = current_company.get_buyer_score
  market_buyer_score = MarketBuyerScore.get_scores
%>
<style>
  table.scores-table tr th {
    text-align: center;
  }

</style>
<div class="c1 dashboard" xmlns="http://www.w3.org/1999/html">
  <div class="clear10"></div>
  <div class="company">
    <% unless buyer_score.nil? && market_buyer_score.present? %>
      <h3>Total Buyer Score: <strong><%= buyer_score.total %></strong></h3>
      <div class="clear20"></div>
      <h2>Buyer Scores</h2>
      <div class="clear10"></div>
      <table class="scores-table table table-bordered table-striped tablesorter table-responsive">
        <tr>
          <th>Score Name</th>
          <th>User Score</th>
          <th>User Score vs Market Score</th>
        </tr>
        <tr>
          <td>Late Payment Score</td>
          <td><%= buyer_score.late_payment %></td>
          <td><%= (buyer_score.late_payment/market_buyer_score.late_payment).to_f.round(2) %></td>
        </tr>
        <tr>
          <td>Current Risk Score</td>
          <td><%= buyer_score.current_risk %></td>
          <td><%= (buyer_score.current_risk/market_buyer_score.current_risk).to_f.round(2) %></td>
        </tr>
        <tr>
          <td>Network Diversity</td>
          <td><%= buyer_score.network_diversity %></td>
          <td><%= (buyer_score.network_diversity/market_buyer_score.network_diversity).to_f.round(2) %></td>
        </tr>
        <tr>
          <td>Buyer Network Score</td>
          <td><%= buyer_score.buyer_network %></td>
          <td><%= (buyer_score.buyer_network/market_buyer_score.buyer_network).to_f.round(2) %></td>
        </tr>
        <tr>
          <td>Due Date Score</td>
          <td><%= buyer_score.due_date %></td>
          <td><%= (buyer_score.due_date/market_buyer_score.due_date).to_f.round(2) %></td>
        </tr>
        <tr>
          <td>Credit Used Score</td>
          <td><%= buyer_score.credit_used %></td>
          <td><%= (buyer_score.credit_used/market_buyer_score.credit_used).to_f.round(2) %></td>
        </tr>
        <tr>
          <td>Number of Suppliers Giving You Credit</td>
          <td><%= buyer_score.count_of_credit_given %></td>
          <td><%= (buyer_score.count_of_credit_given/market_buyer_score.count_of_credit_given).to_f.round(2) %></td>
        </tr>
      </table>
    <%else %>
      <h2>The Buyer Score is empty.</h2>
      <div>It seems like it is not enough to calculate scores for your company. <br/>Please buy something to see your Buyer Score</div>
    <%end %>

    <% if market_buyer_score.present? %>
      <div class="clear20"></div>
      <h2>Market Buyer Scores</h2>
      <div class="clear10"></div>
      <table class="scores-table table table-bordered table-striped tablesorter table-responsive">
        <tr>
          <td>Score Name</td>
          <td>Score</td>
        </tr>

        <tr>
          <td>Lifetime Late Payment Score</td>
          <td><%= market_buyer_score.late_payment %></td>
        </tr>
        <tr>
          <td>Current Late Risk Score</td>
          <td><%= market_buyer_score.current_risk %></td>
        </tr>
        <tr>
          <td>Concentration Score</td>
          <td><%= market_buyer_score.network_diversity %></td>
        </tr>
        <tr>
          <td>Buyer Network Score</td>
          <td><%= market_buyer_score.buyer_network %></td>
        </tr>
        <tr>
          <td>Due Date Score</td>
          <td><%= market_buyer_score.due_date %></td>
        </tr>
        <tr>
          <td>Credit Used Score</td>
          <td><%= market_buyer_score.credit_used %></td>
        </tr>
        <tr>
          <td>No of Suppliers Giving Credit</td>
          <td><%= market_buyer_score.count_of_credit_given %></td>
        </tr>
      </table>
    <%else %>
      <h1>The Buyer Score is empty.</h1>
      <h2>It seems like it is not enough to calculate scores for your company. <br/>Please buy something to see your Buyer Score</h2>
    <%end %>
  </div>
</div>

