<div class="">
	<% if @customer.sign_in_count == 1%>
	<h3>Hi <%= @customer.first_name %> <%= @customer.last_name %>. Welcome to Dialuck Tender program</h3>
	<div class="clear10"></div>
	<p class="welcome" >
		Please set new password for your acount :
	</p>
	<% else %>
	<h3>Change Password</h3>
	<% end %>
	<div class="clear10"></div>

	<%= form_for @customer, :url => update_password_customers_path do |f| %>
	<div class="form-wrapper">

		<div class="form-row">
			<div class="label">
				New Password
			</div>
			<div class="field">
				<%= f.password_field :password, :class => 'input' %>
			</div>
			<div class="clear"></div>
		</div>

		<div class="form-row">
			<div class="label">
				Password Confirmation
			</div>
			<div class="field">
				<%= f.password_field :password_confirmation, :class => 'input' %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="form-row">
			<div class="label">
				&nbsp;
			</div>
			<div class="field">
				<%= submit_tag 'Change Password', :class => 'btn-01' %>
				<!-- <a href="#" class="btn-01">Search</a> -->
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<% end %>

</div>
<div class="clear"></div>

