<div class="">
  <h2>Credit Limits</h2>
  <p>Total Credit Received = <%= overall_credit_received(current_customer) %></p>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter">
      <tr>
        <th>Supplier Name</th>
        <th>Total Credits</th>
        <th>Remaining Credits</th>
        <th></th>
      </tr>
      <% @customers.each.with_index(1) do |customer, i|%>
        <% unless current_customer.is_blocked_by_supplier(customer.id) %>
          <tr>
            <td><%= customer.company %></td>
            <td><%= get_total_credit_limit(current_customer, customer) %></td>
            <td><%= get_credit_limit(current_customer, customer) %></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <%= paginate @customers %>
</div>