<div class="form-wrapper">
  <% if @disable %>
    <p>YOU ARE NOT ALLOW TO DEMAND, PLEASE CLEAR YOUR OVERDUE PAYMENT</p>
  <% else %>
    <%= form_for @demanding_parcel, :url =>  demanding_create_customers_path , method: :post  do |f| %>
      <div class="form-row">
        <div class="label">Source: </div>
        <div class="field">
          <%= f.select :demand_supplier_id, options_for_select(supplier_list_for_demand(current_company, false)), { include_blank: true }, { class: 'input' } %>
        </div>
      </div>
      <div class="form-row">
        <div class="label">Description: </div>
        <div class="field demand_desc">
          <%= f.select :description, options_for_select(parcel_list_for_demand(nil)), {include_blank: true}, { class: 'input', multiple: true }%>
        </div>
      </div>
      <div class="clear20"></div>
      <div class="form-row">
        <div class="label"></div>
        <div class="field">
          <%=f.submit 'Save', class: 'login-btn btn-02' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="clear20"></div>

<h3>Demand List</h3>
<div class="row">
  <div class="col-sm-3">
    <h1>DTC</h1>
    <div class="table no-padding">
      <table id="tenderList" class="table table-bordered table-responsive tablesorter">
        <thead class="thead-desktop">
          <th>Description</th>
          <th>Supplier</th>
          <th></th>
        </thead>
        <% @dtc_demands.each do |demand| %>
          <tr>
            <td><%= demand.description %></td>
            <td><%= demand.demand_supplier.name rescue 'N/A' %></td>
            <td><%= link_to(image_tag("/assets/wrong.png", width: "15"), remove_demand_customer_path(id: demand.id), method: :delete)%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <h1>Russian</h1>
    <div class="table no-padding">
      <table id="tenderList" class="table table-bordered table-responsive tablesorter">
        <thead class="thead-desktop">
          <th>Description</th>
          <th>Supplier</th>
          <th></th>
        </thead>
        <% @russian_demands.each do |demand| %>
          <tr>
            <td><%= demand.description %></td>
            <td><%= demand.demand_supplier.name rescue 'N/A' %></td>
            <td><%= link_to(image_tag("/assets/wrong.png", width: "15"), remove_demand_customer_path(id: demand.id), method: :delete)%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <h1>Outside</h1>
    <div class="table no-padding">
      <table id="tenderList" class="table table-bordered table-responsive tablesorter">
        <thead class="thead-desktop">
            <th>Description</th>
            <th>Supplier</th>
            <th></th>
        </thead>
        <% @outside_demands.each do |demand| %>
          <tr>
            <td><%= demand.description %></td>
            <td><%= demand.demand_supplier.name rescue 'N/A' %></td>
            <td><%= link_to(image_tag("/assets/wrong.png", width: "15"), remove_demand_customer_path(id: demand.id), method: :delete)%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <h1>Something Special</h1>
    <div class="table no-padding">
      <table id="tenderList" class="table table-bordered table-responsive tablesorter">
        <thead class="thead-desktop">
            <th>Description</th>
            <th>Supplier</th>
            <th></th>
        </thead>
        <% @something_special_demands.each do |demand| %>
          <tr>
            <td><%= demand.description %></td>
            <td><%= demand.demand_supplier.name rescue 'N/A' %></td>
            <td><%= link_to(image_tag("/assets/wrong.png", width: "15"), remove_demand_customer_path(id: demand.id), method: :delete)%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="row1">
  <% unless @disable %>
    <div class="pull-right">
      <%=link_to "Add Polished demand", polished_demand_customers_path, class: 'btn btn-success', data: { turbolinks: false } %>
    </div>
  <%end%>
  <h1>Polished </h1>
  <div class="table no-padding">
    <table id="tenderList" class="table table-bordered table-responsive tablesorter">
      <thead class="thead-desktop">
          <th>Supplier</th>
          <th>Shape</th>
          <th>Carat</th>
          <th>Color</th>
          <th>Clarity</th>
          <th>Cut</th>
          <th>Polish</th>
          <th>Symmetry</th>
          <th>fluorescence</th>
          <th>lab</th>
          <th></th>

      </thead>
      <% @polished_demands.each do |demand| %>
        <tr>
          <td><%= demand.try(:demand_supplier).try(:name) rescue 'N/A' %></td>
          <td><%= demand.try(:shape) rescue 'N/A' %></td>
          <td><%= demand.try(:weight_from) rescue 'N/A' %>-<%= demand.try(:weight_to) rescue 'N/A' %></td>
          <td><%= demand.try(:color_from) rescue 'N/A' %>-<%= demand.try(:color_to) rescue 'N/A' %></td>
          <td><%= demand.try(:clarity_from) rescue 'N/A' %>-<%= demand.try(:clarity_to) rescue 'N/A' %></td>
          <td><%= demand.try(:cut_from).first rescue 'N/A' %>-<%= demand.try(:cut_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:polish_from).first rescue 'N/A' %>-<%= demand.try(:polish_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:symmetry_from).first rescue 'N/A' %>-<%= demand.try(:symmetry_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:fluorescence_from).first rescue 'N/A' %>-<%= demand.try(:fluorescence_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:lab) rescue 'N/A' %></td>
          <td><%= link_to(image_tag("/assets/wrong.png", width: "15"), remove_demand_customer_path(id: demand.id, type: 'POLISHED'), method: :delete)%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).on('change', '#demand_demand_supplier_id', function(){
    id = $('#demand_demand_supplier_id').val()
    $.ajax({
      url: '/supplier_demand_list',
      method: 'get',
      data: {id: id}
  })
})
</script>