<div class="c1 dashboard">
  <div class="clear10"></div>
  <div class="company">
    <h3>Transaction</h3>
    <div class="clear10"></div>
    <h1>You have <%=@total_transaction%> transactions registered</h1>
    <ul>
      <li>
        <h1><%=@pending_transactions%> pending transaction<%=link_to 'view',transaction_list_customers_path(type: "pending", id: current_customer.id), data: {turbolinks: false} %></h1>
      <li>
        <h1><%=@complete_transactions%> complete transaction<%=link_to 'view',transaction_list_customers_path(type: "complete", id: current_customer.id), data: {turbolinks: false} %></h1>
      </li>
      <li>
        <h1><%=@overdue_transactions%> overdue transaction<%=link_to 'view',transaction_list_customers_path(type: 'overdue', id: current_customer.id), data: {turbolinks: false} %></h1>
      </li>
    </ul>
    <div class="clear20"></div>
    <h3>Purchase</h3>
    <div class="clear10"></div>
    <h1>Total Credit Received = <%= number_to_currency(overall_credit_received(current_customer)) %></h1>
    <h1>Credit Providers = <%= @credit_recieved.count %></h1>
    <div class="table">
      <table width="75%" border="0" cellspacing="0" cellpadding="0" id="myTable"  class="tablesorter" >
        <thead>
          <th>Terms</th>
          <th>#</th>
          <th>value</th>
        </thead>
        <tbody>
          <tr>
            <td>Cash</td>
            <td><%=count_value('0', @credit_recieved_transaction.count, 'count', current_customer)%></td>
            <td><%=count_value('0', @total_received_value, 'value', current_customer)%></td>
          </tr>
          <tr>
            <td>1<=30</td>
            <td><%=count_value('less_30', @credit_recieved_transaction.count,'count', current_customer)%></td>
            <td><%=count_value('less_30',@total_received_value,'value', current_customer)%></td>
          </tr>
          <tr>
            <td>31<=60 </th>
            <td><%=count_value('60', @credit_recieved_transaction.count,'count', current_customer)%></td>
            <td><%=count_value('60', @total_received_value,'value', current_customer)%></td>
          </tr>
          <tr>
            <td>61<=90</td>
            <td><%=count_value('90', @credit_recieved_transaction.count,'count', current_customer)%></td>
            <td><%=count_value('90',@total_received_value,'value', current_customer)%></td>
          </tr>
          <tr>
            <td>91<</td>
            <td><%=count_value('more_90', @credit_recieved_transaction.count,'count', current_customer)%></td>
            <td><%=count_value('more_90',@total_received_value,'value', current_customer)%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clear20"></div>
    <h3>Sales</h3>
    <div class="clear10"></div>
    <h1>Credit given to = <%=@credit_given.count%> </h1>
    <h1>Total Credit Given = <%=number_to_currency(overall_credit_given(current_customer))%></h1>
    <h1>Total Credit Used = <%=number_to_currency(overall_credit_spent_by_customer(current_customer))%></h1>
    <h1>Total Credit Available = <%=credit_available(current_customer)%></h1>
    <div class="table">
      <table width="75%" border="0" cellspacing="0" cellpadding="0" id="myTable"  class="tablesorter" >
        <thead>
          <th>Terms</th>
          <th>#</th>
          <th>value</th>
        </thead>
        <tbody>
          <tr>
            <td>Cash</td>
            <td><%=sale_count_value('0', @credit_given_transaction.count,'count', current_customer)%></td>
            <td><%=sale_count_value('0', @total_sent_value ,'value', current_customer)%></td>
          </tr>
          <tr>
            <td>1<=30</td>
            <td><%=sale_count_value('less_30', @credit_given_transaction.count,'count', current_customer)%></td>
            <td><%=sale_count_value('less_30',@total_sent_value ,'value', current_customer)%></td>
          </tr>
          <tr>
            <td>31<=60</td>
            <td><%=sale_count_value('60', @credit_given_transaction.count,'count', current_customer)%></td>
            <td><%=sale_count_value('60', @total_sent_value ,'value', current_customer)%></td>
          </tr>
          <tr>
            <td>61<=90</td>
            <td><%=sale_count_value('90', @credit_given_transaction.count,'count', current_customer)%></td>
            <td><%=sale_count_value('90', @total_sent_value ,'value', current_customer)%></td>
          </tr>
          <tr>
            <td>91<</td>
            <td><%=sale_count_value('more_90', @credit_given_transaction.count,'count', current_customer)%></td>
            <td><%=sale_count_value('more_90', @total_sent_value ,'value', current_customer)%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="c2">
  <div class="clear10"></div>
  <h3>Share With</h3>
  <div class="form-wrapper">
    <%=form_for(@shared, :url=> shared_customers_path) do |f|%>
      <div class="form-row">
        <div class="field">
          <%= f.select :shared_to_id, customer_list_options, { include_blank: true }, class: 'input no-border' %>
        </div>
      </div>
      <div class="form-row">
        <div class="field">
          <%=f.submit "Share", class: 'submit_share' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clear20"></div>
  <div class="table">
    <h3>Sharing With</h3>
    <div class="share_with">
      <%= render partial: 'sharing_info', locals: { shared_table: @shared_table } %>
    </div>
  </div>
</div>
<div class="clear"></div>
<script>
 $(document).ready(function(){

    $("#shared_shared_to_id").select2({
    });
  })
 </script>