<%= render partial: 'layouts/internal_navigation' %>
<h3>Live Demand List</h3>
<div class="row">
  <div class="col-sm-12">
    <div class="table no-padding">
      <table id="tenderList" class="table table-bordered table-responsive tablesorter">
        <thead class="thead-desktop">
          <th colspan="4">Description</th>
          <th>Demands</th>
          <th></th>
        </thead>
        <%# @normal_demands.each do |demand| %>
        <% @normal_demands.group_by(&:description).each do |description, parcels| %>
          <tr>
            <td colspan="4"><%= description %></td>
            <td><%= parcels.count %></td>
            <td><%= get_last_demand_date(parcels).strftime("%B, %d %Y") %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<h3>Live Polished Demand </h3>
<div class="row">
  <div class="col-sm-12">
    <div class="table no-padding">
      <table id="tenderList" class="table table-bordered table-responsive tablesorter">
      <thead class="thead-desktop">
          <th>Shape</th>
          <th>Size</th>
          <th>Color</th>
          <th>Clarity</th>
          <th>Cut</th>
          <th>Polish</th>
          <th>Symmetry</th>
          <th>fluorescence</th>
          <th>lab</th>
      </thead>
      <% @polished_demands.each do |demand| %>
        <tr>
          <td><%= demand.try(:shape) rescue 'N/A' %></td>
          <td><%= demand.try(:weight_from) rescue 'N/A' %>-<%= demand.try(:weight_to) rescue 'N/A' %></td>
          <td><%= demand.try(:color_from) rescue 'N/A' %>-<%= demand.try(:color_to) rescue 'N/A' %></td>
          <td><%= demand.try(:clarity_from).first rescue 'N/A' %>-<%= demand.try(:clarity_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:cut_from).first rescue 'N/A' %>-<%= demand.try(:cut_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:polish_from).first rescue 'N/A' %>-<%= demand.try(:polish_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:symmetry_from).first rescue 'N/A' %>-<%= demand.try(:symmetry_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:fluorescence_from).first rescue 'N/A' %>-<%= demand.try(:fluorescence_to).first rescue 'N/A' %></td>
          <td><%= demand.try(:lab) rescue 'N/A' %></td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>

