<%= form_for @polished_demand, url: polished_demand_customers_path, html: { class: 'form-horizontal' } do |f| %>
  <div class="tranding-parcel-errors">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%@trading_parcel = @polished_demand%>
      <center><%= render partial: 'suppliers/tranding_parcel_errors' %></center>
    </div>
  </div>
  </br>
  <div class="clear10"></div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Source:</label>
    <div class="col-sm-10">
      <%= text_field_tag "demand_supplier", "" ,:class => 'form-control', :disabled => true, value: 'POLISHED' %>
      <%= f.hidden_field :demand_supplier_id, value: @demand_list.try(:first).try(:demand_supplier_id) %>
      <%= f.hidden_field :company_id, value: current_company.id %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Shape:</label>
    <div class="col-sm-10">
      <%= f.select :shape, options_for_select(TradingParcel::SHAPE), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Carats:</label>
    <div class="col-sm-5">From
     <%= f.text_field :weight_from, class: 'form-control' %>
    </div>
    <div class="col-sm-5">To
     <%= f.text_field :weight_to, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Color:</label>
    <div class="col-sm-5">From
      <%= f.select :color_from, options_for_select(TradingParcel::COLOR), {include_blank: true}, {class: 'form-control' }%>
    </div>
    <div class="col-sm-5">To
      <%= f.select :color_to, options_for_select(TradingParcel::COLOR), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Clarity:</label>
    <div class="col-sm-5">From
      <%= f.select :clarity_from, options_for_select(TradingParcel::CLARITY), {include_blank: true}, {class: 'form-control' }%>
    </div>
     <div class="col-sm-5">To
      <%= f.select :clarity_to, options_for_select(TradingParcel::CLARITY), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Cut:</label>
    <div class="col-sm-5">From
      <%= f.select :cut_from, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY), {include_blank: true}, {class: 'form-control' }%>
    </div>
    <div class="col-sm-5">To
      <%= f.select :cut_to, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Polish:</label>
    <div class="col-sm-5">From
      <%= f.select :polish_from, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY), {include_blank: true}, {class: 'form-control' }%>
    </div>
    <div class="col-sm-5">To
      <%= f.select :polish_to, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Symmetry:</label>
    <div class="col-sm-5">From
      <%= f.select :symmetry_from, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY), {include_blank: true}, {class: 'form-control' }%>
    </div>
    <div class="col-sm-5">To
      <%= f.select :symmetry_to, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Fluorescence:</label>
    <div class="col-sm-5">From
      <%= f.select :fluorescence_from, options_for_select(TradingParcel::FLUORESCENCE), {include_blank: true}, {class: 'form-control' }%>
    </div>
    <div class="col-sm-5">To
      <%= f.select :fluorescence_to, options_for_select(TradingParcel::FLUORESCENCE), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Lab:</label>
    <div class="col-sm-10">
      <%= f.select :lab, options_for_select(TradingParcel::LAB), {include_blank: true}, {class: 'form-control' }%>
    </div>
  </div>

  <%#= render partial: 'suppliers/polished_form', locals: {f: f, direct_sell: false} %>
  <div class="form-group">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <%=f.submit 'Submit', class: 'btn btn-md btn-danger' %>
    </div>
  </div>
<%end%>