<%
  # get scores data
  payment_history = current_company.get_payment_history
  payment_history_ex = current_company.get_payment_history_ex

%>
<div class="c1 dashboard">
  <div class="clear10"></div>
  <div class="company">
    <%#= current_company.buyer_transactions.count.inspect%>
    <h3>Payment History</h3>
    <div class="clear10"></div>
    <h1>Total Score: <strong><%= payment_history %></strong></h1>
    <div class="clear20"></div>
    <h2>Formula Parts</h2>
    <div class="clear10"></div>
    <ul>
      <li>First Part <strong><%= payment_history_ex['first']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Late Payments / (On Time Payments/Months of Data) * 0.25)</span>
        <ul style="padding-left: 10px">
          <li>Late Payments: <strong><%= payment_history_ex['first']['late_payments'] %></strong></li>
          <li>On Time Payments: <strong><%= payment_history_ex['first']['on_time_payments'] %></strong></li>
          <li>Months of Data: <strong><%= payment_history_ex['first']['months_of_data'] %></strong></li>
        </ul>
        <div class="clear10"></div>
      </li>
      <li>Second Part: <strong>2</strong> <span style="font-size: 90%;font-style: italic;">(Pending Payments / Average 3 Month Pending Number of Payments * 0.25)</span>
        <ul style="padding-left: 10px">
          <li>Pending Payments</li>
          <li>Average 3 Month Pending Number of Payments</li>
        </ul>
        <div class="clear10"></div>
      </li>

      <li>Third Part: <strong>3</strong> <span style="font-size: 90%;font-style: italic;">(Amount of Pending / Amount Completed In Last 3 Months * 0.25)</span>
        <ul style="padding-left: 10px;">
          <li>Amount of Pending</li>
          <li>Amount Completed In Last 3 Months</li>
        </ul>
        <div class="clear10"></div>
      </li>
      <li>Fourth Part: <strong>4</strong> <span style="font-size: 90%;font-style: italic;">(Seller A’s Amount * Later Payer A’s Sales History Score + Seller B’s Amount * Late Payer B Sales History
        Score / Later Payer A + B Amounts) * 0.25</span>
        <ul style="padding-left: 10px;">
          <li>Seller A’s Amount</li>
          <li>Later Payer A’s Sales History Score</li>
          <li>Seller B’s Amount</li>
          <li>Late Payer B Sales History Score</li>
        </ul>
        <div class="clear10"></div>
      </li>
    </ul>
    <div class="clear20"></div>


  </div>
</div>

