<%
  # get scores data
  total_scores = current_company.get_total_credit_score

  payment_history = current_company.get_payment_history
  payment_history_ex = current_company.get_payment_history_ex

  sales_history = current_company.get_sales_history
  sales_history_ex = current_company.get_sales_history_ex

  network_diversity = current_company.business_with_company(241)
  activity = current_company.get_activity


%>
<div class="c1 dashboard" xmlns="http://www.w3.org/1999/html">
  <div class="clear10"></div>
  <div class="company">
    <h3>Total Credit Score: <strong><%= total_scores %></strong></h3>
    <div class="clear20"></div>
    <%#= Date.civil(Date.today.year, Date.today.mon, Date.today.day).inspect%>
    <%#= current_company.inspect%>
    <h3>Payment History</h3>
    <div class="clear10"></div>
    <h1>Total Score: <strong><%= payment_history %></strong></h1>
    <div class="clear20"></div>
    <h2>Formula Parts</h2>
    <div class="clear10"></div>
    <ul>
      <li>First Part <strong><%= payment_history_ex['first']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Late Payments / (On Time Payments/Months of Data) * 0.25)</span>
        <ul style="padding-left: 10px">
          <li>Late Payments: <strong><%= payment_history_ex['first']['late_payments'] %></strong></li>
          <li>On Time Payments: <strong><%= payment_history_ex['first']['on_time_payments'] %></strong></li>
          <li>Months of Data: <strong><%= payment_history_ex['first']['months_of_data'] %></strong></li>
        </ul>
        <div class="clear10"></div>
      </li>
      <li>Second Part: <strong><%= payment_history_ex['second']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Pending Payments / Average 3 Month Pending Number of Payments * 0.25)</span>
        <ul style="padding-left: 10px">
          <li>Pending Payments: <strong><%= payment_history_ex['second']['this_month_pending_count'] %></strong></li>
          <li>Average 3 Month Pending Number of Payments: <strong><%= payment_history_ex['second']['avg_3_month_pending_count'] %></strong></li>
        </ul>
        <div class="clear10"></div>
      </li>

      <li>Third Part: <strong><%= payment_history_ex['third']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Amount of Pending / Amount Completed In Last 3 Months * 0.25)</span>
        <ul style="padding-left: 10px;">
          <li>Amount of Pending: <strong><%= payment_history_ex['third']['this_month_pending_amount'] %></strong></li>
          <li>Amount Completed In Last 3 Months: <strong><%= payment_history_ex['third']['avg_3_month_completed_amount'] %></strong></li>
        </ul>
        <div class="clear10"></div>
      </li>
      <li>Fourth Part: <strong><%= payment_history_ex['fourth']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Seller A’s Amount * Later Payer A’s Sales History Score + Seller B’s Amount * Late Payer B Sales History Score / Later Payer A + B Amounts) * 0.25</span>
      </li>
    </ul>
    <div class="clear20"></div>

    <h3>Sales History</h3>
    <div class="clear10"></div>
    <h1>Total Score: <strong><%= sales_history %></strong></h1>
    <div class="clear20"></div>
    <h2>Formula Parts</h2>
    <div class="clear10"></div>
    <ul>
      <li>First Part <strong><%= sales_history_ex['first']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Late Payments / On Time Payments * 0.25)</span>
        <ul style="padding-left: 10px">
          <li>Late Payments: <strong><%= sales_history_ex['first']['late_payments'] %></strong></li>
          <li>On Time Payments: <strong><%= sales_history_ex['first']['on_time_payments'] %></strong></li>
          <li>Months of Data: <strong><%= sales_history_ex['first']['months_of_data'] %></strong></li>
        </ul>
        <div class="clear10"></div>
      </li>
      <li>Second Part: <strong><%= sales_history_ex['second']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Pending Payments / Average 3 Month Pending Number of Payments * 0.25)</span>
        <ul style="padding-left: 10px">
          <li>Pending Payments: <strong><%= sales_history_ex['second']['this_month_pending_count'] %></strong></li>
          <li>Average 3 Month Pending Number of Payments: <strong><%= sales_history_ex['second']['avg_3_month_pending_count'] %></strong></li>
        </ul>
        <div class="clear10"></div>
      </li>

      <li>Third Part: <strong><%= sales_history_ex['third']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Amount of Pending / Amount Sold In Last 3 Months * 0.25)</span>
        <ul style="padding-left: 10px;">
          <li>Amount of Pending: <strong><%= sales_history_ex['third']['this_month_pending_amount'] %></strong></li>
          <li>Amount Completed In Last 3 Months: <strong><%= sales_history_ex['third']['avg_3_month_completed_amount'] %></strong></li>
        </ul>
        <div class="clear10"></div>
      </li>
      <li>Fourth Part: <strong><%= sales_history_ex['fourth']['total'] %></strong> <span style="font-size: 90%;font-style: italic;">(Later Payer A Amount * Later Payer A’s Payment History Score + Later Payer B / Later Payer A + B Amounts) * 0.25</span>
      </li>
    </ul>
    <div class="clear20"></div>

    <h3>Network Diversity</h3>
    <div class="clear10"></div>
    <h2>Score for Business with company <i><%= network_diversity['company_name'] %></i>: <strong><%= network_diversity['total']%></strong></h2>
    <div><span style="font-size: 90%;font-style: italic;">(Amount of Business with A / Total Business)</span></div>
    <div class="clear10"></div>
    <ul>
      <li>Amount of business with company as buyer: <strong><%=network_diversity['company_business_amount_as_buyer']%></strong></li>
      <li>Amount of business with company as seller: <strong><%=network_diversity['company_business_amount_as_seller']%></strong></li>
      <li> My company total business <strong><%= network_diversity['my_business_amount']%></strong></li>
    </ul>

    <h3>Activity</h3>
    <div class="clear10"></div>
    <ul>
      <li><strong><%=activity['last_transaction_count']%></strong> / <strong><%=activity['avg_transaction_count']%></strong></li>
      <li>Activity on network by number of transactions vs last three month average(rolling)</li>
      <li><strong><%=activity['last_transaction_amount']%></strong> / <strong><%=activity['avg_transaction_amount']%></strong></li>
      <li>Activity on network by size of transactions vs last three month average (rolling)</li>
    </ul>

  </div>
</div>

