<%
  # get scores data
  seller_score = current_company.get_seller_score
  market_seller_score = MarketSellerScore.get_scores
%>
<style>
  table.scores-table tr th {
    text-align: center;
  }

</style>
<div class="c1 dashboard" xmlns="http://www.w3.org/1999/html">
  <div class="clear10"></div>
  <div class="company">
    <% unless seller_score.nil? && market_seller_score.present? %>
      <h3>Seller Score: <strong><%= seller_score.total %></strong></h3>
      <div class="clear20"></div>
      <h2>Seller Scores</h2>
      <div class="clear10"></div>
      <table class="scores-table table table-bordered table-striped tablesorter table-responsive">
        <tr>
          <th>Score Name</th>
          <th>User Score</th>
          <th>Market Average</th>
          <th>User Score vs Market Score</th>
        </tr>
        <tr>
          <td>Late Payment Score</td>
          <td><%= seller_score.late_payment %></td>
          <td><%= market_seller_score.late_payment %></td>
          <td><%= ApplicationHelper.safe_divide_float(seller_score.late_payment, market_seller_score.late_payment) %></td>
        </tr>
        <tr>
          <td>Current Risk Score</td>
          <td><%= seller_score.current_risk %></td>
          <td><%= market_seller_score.current_risk %></td>
          <td><%= ApplicationHelper.safe_divide_float(seller_score.current_risk, market_seller_score.current_risk) %></td>
        </tr>
        <tr>
          <td>Network Diversity</td>
          <td><%= seller_score.network_diversity %></td>
          <td><%= market_seller_score.network_diversity%></td>
          <td><%= ApplicationHelper.safe_divide_float(seller_score.network_diversity, market_seller_score.network_diversity)%></td>
        </tr>
        <tr>
          <td>Seller Network Score</td>
          <td><%= seller_score.seller_network %></td>
          <td><%= market_seller_score.seller_network %></td>
          <td><%= ApplicationHelper.safe_divide_float(seller_score.seller_network, market_seller_score.seller_network) %></td>
        </tr>
        <tr>
          <td>Due Date Score</td>
          <td><%= seller_score.due_date %></td>
          <td><%= market_seller_score.due_date %></td>
          <td><%= ApplicationHelper.safe_divide_float(seller_score.due_date, market_seller_score.due_date) %></td>
        </tr>
        <tr>
          <td>Credit Used Score</td>
          <td><%= seller_score.credit_used %></td>
          <td><%= market_seller_score.credit_used %></td>
          <td><%= ApplicationHelper.safe_divide_float(seller_score.credit_used, market_seller_score.credit_used) %></td>
        </tr>
      </table>
    <%else %>
      <h2>The Seller Score is empty.</h2>
      <div>It seems like it is not enough to calculate scores for your company. <br/>Please sell something to see your Seller Score</div>
    <%end %>
  </div>
</div>

