<div class="c1 dashboard">
  <div class="clear10"></div>
  <div class="company">
    <h3>Transaction</h3>
    <div class="clear10"></div>
    <h1><%=@company.try(:name) %> have <%=@total_transaction%> transactions registered</h1>
    <ul>
      <li>
        <h1><%=@pending_transactions%> pending transaction<%=link_to 'view',transaction_list_customers_path(type: "pending", id: @company.id),data: {turbolinks: false}%></h1>
      </li>
      <li>
        <h1><%=@complete_transactions%> complete transaction<%=link_to 'view',transaction_list_customers_path(type: "complete", id: @company.id),data: {turbolinks: false} %></h1>
      </li>
      <li>
        <h1><%=@overdue_transactions%> overdue transaction<%=link_to 'view',transaction_list_customers_path(type: 'overdue', id: @company.id),data: {turbolinks: false} %></h1>
      </li>
    </ul>
    <div class="clear20"></div>
    <h3>Purchase</h3>
    <div class="clear10"></div>
    <h1>Total Credit Received = <%=number_to_currency(overall_credit_received(@company))%></h1>
    <h1>Credit Providers = <%=@credit_recieved.count%></h1>
    <div class="table">
      <table width="75%" border="0" cellspacing="0" cellpadding="0" id="myTable"  class="tablesorter table-purchase" >
        <thead class="thead-desktop">
          <th>Terms</th>
          <th>#</th>
          <th>Pending Transaction</th>
          <th>Overdue Transaction</th>
          <th>Complete Transaction</th>
        </thead>
        <tbody>
          <tr>
            <td><span class="table-head-in-td">Terms</span>Cash</td>
            <td><span class="table-head-in-td">#</span><%=count_value('0', @credit_recieved_transaction.count, 'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=count_value('0', @total_pending_received, 'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=count_value('0', @total_overdue_received, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=count_value('0', @total_complete_received, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>1<=30</td>
            <td><span class="table-head-in-td">#</span><%=count_value('less_30', @credit_recieved_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=count_value('less_30',@total_pending_received,'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=count_value('less_30', @total_overdue_received, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=count_value('less_30', @total_complete_received, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>31<=60</th>
            <td><span class="table-head-in-td">#</span><%=count_value('60', @credit_recieved_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=count_value('60', @total_pending_received,'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=count_value('60', @total_overdue_received, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transactionspan><%=count_value('60', @total_complete_received, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>61<=90</td>
            <td><span class="table-head-in-td">#</span><%=count_value('90', @credit_recieved_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=count_value('90',@total_pending_received,'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=count_value('90', @total_overdue_received, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=count_value('90', @total_complete_received, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>91<</td>
            <td><span class="table-head-in-td">#</span><%=count_value('more_90', @credit_recieved_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=count_value('more_90',@total_pending_received,'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=count_value('more_90', @total_overdue_received, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=count_value('more_90', @total_complete_received, 'complete', @company)%></td>
          </tr>
          <tr>
            <th><span class="table-head-in-td">Terms</span>Total</th>
            <th><span class="table-head-in-td">#</span><%=@credit_recieved_transaction.count%></th>
            <th><span class="table-head-in-td">Pending Transaction</span><%=number_to_currency(@total_pending_received)%></th>
            <th><span class="table-head-in-td">Overdue Transaction</span><%=number_to_currency(@total_overdue_received)%></th>
            <th><span class="table-head-in-td">Complete Transaction</span><%=number_to_currency(@total_complete_received)%></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="clear20"></div>
    <h3>Sales</h3>
    <div class="clear10"></div>
    <h1>Credit given to = <%=@credit_given.count%> </h1>
    <h1>Total Credit Given = <%=number_to_currency(overall_credit_given(@company))%></h1>
    <h1>Total Credit Used = <%=number_to_currency(overall_credit_spent_by_customer(@company))%></h1>
    <h1>Total Credit Available = <%=credit_available(@company)%></h1>
    <div class="table">
      <table width="75%" border="0" cellspacing="0" cellpadding="0" id="myTable"  class="tablesorter table-sales" >
        <thead>
          <th>Terms</th>
          <th>#</th>
           <th>Pending Transaction</th>
          <th>Overdue Transaction</th>
          <th>Complete Transaction</th>
        </thead>
        <tbody>
          <tr>
            <td><span class="table-head-in-td">Terms</span>Cash</td>
            <td><span class="table-head-in-td">#</span><%=sale_count_value('0', @credit_given_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=sale_count_value('0', @total_pending_sent, 'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=sale_count_value('0', @total_overdue_sent, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=sale_count_value('0', @total_complete_sent, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>1<=30</td>
            <td><span class="table-head-in-td">#</span><%=sale_count_value('less_30', @credit_given_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=sale_count_value('less_30', @total_pending_sent, 'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=sale_count_value('less_30', @total_overdue_sent, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=sale_count_value('less_30', @total_complete_sent, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>31<=60</td>
            <td><span class="table-head-in-td">#</span><%=sale_count_value('60', @credit_given_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=sale_count_value('60', @total_pending_sent, 'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=sale_count_value('60', @total_overdue_sent, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=sale_count_value('60', @total_complete_sent, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>61<=90</td>
            <td><span class="table-head-in-td">#</span><%=sale_count_value('90', @credit_given_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=sale_count_value('90', @total_pending_sent, 'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=sale_count_value('90', @total_overdue_sent, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=sale_count_value('90', @total_complete_sent, 'complete', @company)%></td>
          </tr>
          <tr>
            <td><span class="table-head-in-td">Terms</span>91<</td>
            <td><span class="table-head-in-td">#</span><%=sale_count_value('more_90', @credit_given_transaction.count,'count', @company)%></td>
            <td><span class="table-head-in-td">Pending Transaction</span><%=sale_count_value('more_90', @total_pending_sent, 'pending', @company)%></td>
            <td><span class="table-head-in-td">Overdue Transaction</span><%=sale_count_value('more_90', @total_overdue_sent, 'overdue', @company)%></td>
            <td><span class="table-head-in-td">Complete Transaction</span><%=sale_count_value('more_90', @total_complete_sent, 'complete', @company)%></td>
          </tr>
         <tr>
            <th><span class="table-head-in-td">Terms</span>Total</th>
            <th><span class="table-head-in-td">#</span><%=@credit_given_transaction.count%></th>
            <th><span class="table-head-in-td">Pending Transaction</span><%=number_to_currency(@total_pending_sent)%></th>
            <th><span class="table-head-in-td">Overdue Transaction</span><%=number_to_currency(@total_overdue_sent)%></th>
            <th><span class="table-head-in-td">Complete Transaction</span><%=number_to_currency(@total_complete_sent)%></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear"></div>
