<div class="c1 dashboard">
  <div class="clear10"></div>
  <div class="company">
    <h3>Transaction</h3>
    <div class="clear10"></div>
    <h1><%=@customer.company %> have <%=@total_transaction%> transactions registered</h1>
    <ul>
      <li>
        <h1><%=@pending_transactions%> pending transaction<%=link_to 'view',transaction_list_customers_path(type: "pending", id: @customer.id),data: {turbolinks: false}%></h1>
      </li>
      <li>
        <h1><%=@complete_transactions%> complete transaction<%=link_to 'view',transaction_list_customers_path(type: "complete", id: @customer.id),data: {turbolinks: false} %></h1>
      </li>
      <li>
        <h1><%=@overdue_transactions%> overdue transaction<%=link_to 'view',transaction_list_customers_path(type: 'overdue', id: @customer.id),data: {turbolinks: false} %></h1>
      </li>
    </ul>
    <div class="clear20"></div>
    <h3>Purchase</h3>
    <div class="clear10"></div>
    <h1>Total Credit Received = <%=number_to_currency(overall_credit_received(@customer))%></h1>
    <h1>Credit Providers = <%=@credit_recieved.count%></h1>
    <div class="table">
      <table width="75%" border="0" cellspacing="0" cellpadding="0" id="myTable"  class="tablesorter" >
        <thead>
          <th>Terms</th>
          <th>#</th>
          <th>value</th>
        </thead>
        <tbody>
          <tr>
            <td>Cash</td>
            <td><%=count_value('0', @credit_recieved_transaction.count,'count', @customer)%></td>
            <td><%=count_value('0', @total_received_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>1<=30</td>
            <td><%=count_value('less_30', @credit_recieved_transaction.count,'count', @customer)%></td>
            <td><%=count_value('less_30', @total_received_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>31<=60</th>
            <td><%=count_value('60', @credit_recieved_transaction.count,'count', @customer)%></td>
            <td><%=count_value('60', @total_received_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>61<=90</td>
            <td><%=count_value('90', @credit_recieved_transaction.count,'count', @customer)%></td>
            <td><%=count_value('90', @total_received_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>91<</td>
            <td><%=count_value('more_90', @credit_recieved_transaction.count,'count', @customer)%></td>
            <td><%=count_value('more_90', @total_received_value,'value', @customer)%></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="clear20"></div>
    <h3>Sales</h3>
    <div class="clear10"></div>
    <h1>Credit given to = <%=@credit_given.count%> </h1>
    <h1>Total Credit Given = <%=number_to_currency(overall_credit_given(@customer))%></h1>
    <h1>Total Credit Used = <%=number_to_currency(overall_credit_spent_by_customer(@customer))%></h1>
    <h1>Total Credit Available = <%=credit_available(@customer)%></h1>
    <div class="table">
      <table width="75%" border="0" cellspacing="0" cellpadding="0" id="myTable"  class="tablesorter" >
        <thead>
          <th>Terms</th>
          <th>#</th>
          <th>value</th>
        </thead>
        <tbody>
          <tr>
            <td>Cash</td>
            <td><%=sale_count_value('0', @credit_given_transaction.count,'count', @customer)%></td>
            <td><%=sale_count_value('0',  @total_sent_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>1<=30</td>
            <td><%=sale_count_value('less_30', @credit_given_transaction.count,'count', @customer)%></td>
            <td><%=sale_count_value('less_30', @total_sent_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>31<=60</td>
            <td><%=sale_count_value('60', @credit_given_transaction.count,'count', @customer)%></td>
            <td><%=sale_count_value('60', @total_sent_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>61<=90</td>
            <td><%=sale_count_value('90', @credit_given_transaction.count,'count', @customer)%></td>
            <td><%=sale_count_value('90', @total_sent_value,'value', @customer)%></td>
          </tr>
          <tr>
            <td>91<</td>
            <td><%=sale_count_value('more_90', @credit_given_transaction.count,'count', @customer)%></td>
            <td><%=sale_count_value('more_90', @total_sent_value,'value', @customer)%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="clear"></div>
