<%= render partial: 'layouts/internal_navigation' %>
<div class="row ">
  <div class="col-md-2">
    <%= link_to "Create Parcel", suppliers_path, class: 'btn btn-danger btn-sm side-btn', data: {turbolinks: false } %>
  </div>
  <div class="col-md-2">
    <%= link_to "Direct Sell", direct_sell_trading_parcels_path, class: 'btn btn-danger btn-sm side-btn', data: {turbolinks: false }, style: "margin-left: 50px;" %>
  </div>
</div>
<h3> My Parcels </h3>
<div class="dashboard">
  <div class="table trading-parcel-table">
    <div class="clear10"></div>
      <h4> My Rough </h4>
      <%= render partial: 'customers/trading/supplier_parcels', locals: { parcels: @my_parcels } %>

      <h4> My Polished </h4>
      <%= render partial: 'customers/trading/supplier_polished_parcels', locals: { parcels: @polished_parcels } %>
  </div>
</div>
