<div class="table">

  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable"  class="tablesorter table-responsive" >
    <thead class="thead-desktop">
      <tr>
        <th>Description</th>
        <th>No. of Stones</th>
        <th>Carats</th>
        <th>Cost</th>
        <th>Box Value</th>
        <th>Sight</th>
        <th>Price</th>
        <th>Credit</th>
        <th>Activity</th>
        <th>Counterparty</th>
        <th>Status</th>
        <th>Invoice Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr class='bg-normal'>
          <td><span class="table-head-in-td">Description</span><%= get_description(transaction.trading_parcel) rescue 'N/A'  %></td>
          <td><span class="table-head-in-td">No. of Stones</span><%= transaction.trading_parcel.no_of_stones rescue 'N/A'  %></td>
          <td><span class="table-head-in-td">Carats</span><%= number_with_precision(transaction.trading_parcel.weight, precision: 2) rescue 'N/A'  %></td>
          <td><span class="table-head-in-td">Cost</span><%= transaction.trading_parcel.cost rescue 'N/A'  %></td>
          <td><span class="table-head-in-td">Box Value</span><%= transaction.trading_parcel.box_value rescue 'N/A' %></td>
          <td><span class="table-head-in-td">Sight</span><%= transaction.trading_parcel.sight rescue 'N/A' %></td>
          <td><span class="table-head-in-td">Price</span><%= transaction.price rescue 'N/A' %></td>
          <td><span class="table-head-in-td">Credit</span><%= transaction.credit rescue 'N/A' %></td>
          <% if @customer.id == transaction.buyer_id %>
            <td><span class="table-head-in-td">Activity</span>Bought</td>
            <td><span class="table-head-in-td">Counterparty</span><%= transaction.supplier.company.try(:name) rescue 'N/A' %></td>
          <% elsif @customer.id == transaction.seller_id  %>
            <td><span class="table-head-in-td">Activity</span>Sold</td>
            <td><span class="table-head-in-td">Counterparty</span><%= transaction.buyer.company.try(:name) rescue 'N/A' %></td>
          <%else%>
            <td></td>
            <td></td>
          <% end %>
          <td><span class="table-head-in-td">Status</span><%= get_status(transaction) %></td>
          <td><span class="table-head-in-td">Invoice Date</span><%= transaction.created_at.strftime("%B, %d %Y")  %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>$("#myTable").tablesorter();</script>