<%= render partial: "index"%>
<%= render partial: "index2"%>
<%= render partial: "index3"%>
<%= render partial: "index3a"%>
<%= render partial: "index3b"%>
<script type="text/template" id="tpl_loading">
    <div class="loading__wrapper">
        <div class="loading_inner">
            <img class="loading__logo" src="<%=asset_path("img/qb-logo.svg")%>" alt="QB_logo">
            <p class="loading__description">Loading...</p>
        </div>
    </div>
</script>

    <!-- <script src="/assets/js/login.js" defer></script> -->
    <!--ede upr vala sara code ek html file ch  -->
    <!-- js likhni login kron li -->

    <!--check lona same as routes vaala  -->
    <!--agr login hai tan roites.js ne aapi fredirect kr dena  -->
    <!--  agr login ni aa tan js to login kra dena-->
    <!-- <script src="/assets/js/QBconfig.js" defer></script>
    <script src="/assets/js/user.js" defer></script>
    <script src="/assets/js/dialog.js" defer></script>
    <script src="/assets/js/message.js" defer></script>
    <script src="/assets/js/listeners.js" defer></script>
    <script src="/assets/js/helpers.js" defer></script>
    <script src="/assets/js/app.js" defer></script> -->
    <%= javascript_include_tag "js/QBconfig"  ,:defer => "defer" %>
    <%= javascript_include_tag "js/user"  ,:defer => "defer" %>
    <%= javascript_include_tag "js/dialog"  ,:defer => "defer" %>
    <%= javascript_include_tag "js/message"  ,:defer => "defer" %>
    <%= javascript_include_tag "js/listeners"  ,:defer => "defer" %>
    <%= javascript_include_tag "js/helpers"  ,:defer => "defer" %>
    <%= javascript_include_tag "js/app"  ,:defer => "defer" %>

    <%= javascript_include_tag "js/login"  ,:defer => "defer" %>
    <!-- <script src="/assets/js/login.js" defer></script> -->


  <script type="text/javascript">
  var user_email="<%=current_user.email%>"
  var user_name="<%=current_user.first_name%>"
  var user_phone_number="<%=current_user.mobile_no%>"
  // var bb="bjmdghgds "
  // $( document ).ready(function() {
  // var loginModule = new Login();

  // if(!loginModule.isLogin) {
  //           Login.prototype.setListeners = function(){
  //
  //               var self = this,
  //               loginForm = document.forms.loginForm,
  //               formInputs = ["dsddvfv", "mndsnfj"],
  //               loginBtn = loginForm.login_submit;
  //
  //               var userName = "<%=current_user.first_name%>",
  //                   userGroup = "chat";
  //
  //               var user = {
  //                   login: "<%=current_user.email%>",
  //                   password: '<%=current_user.email%>',
  //                   full_name: userName,
  //                   tag_list: userGroup
  //               };
  //
  //               localStorage.setItem('user', JSON.stringify(user));
  //
  //               self.login(user).then(function(){
  //                   router.navigate('/dashboard');
  //               }).catch(function(error){
  //                   alert('lOGIN ERROR\n open console to get more info');
  //                   loginBtn.removeAttribute('disabled');
  //                   console.error(error);
  //                   loginForm.login_submit.innerText = 'LOGIN';
  //               });
  //             }
  //
  //       };
// })




  </script>
  <!-- <script src="/assets/js/login2.js" defer></script> -->
  <%= javascript_include_tag "js/login2"  ,:defer => "defer" %>
  <%= javascript_include_tag "js/route"  ,:defer => "defer" %>


  <!-- <script src="/assets/js/route.js" defer></script> -->


</body>
</html>
