<div class="">
  <h2> Set Credit Limit </h2>
  <div class="clear10"></div>
  <div class="form-wrapper">
    <%= form_tag(list_company_companies_path, :method => "get", id: "search-form") do %>
      <div class="form-row">
        <div class="label">Search</div>
        <div class="field">
          <%= text_field_tag :name, params[:search], placeholder: "Search Companeis", class: 'input'%>
        </div>
      </div>
      <div class="form-row">
        <div class="label"></div>
        <div class="field">
          <%= submit_tag "Search", :name => nil, class: 'login-btn btn-02' %>
        </div>
      </div>
    <% end %>
    <div class="clear"></div>
    <% if @companies.present? %>
      <% @companies.each do |buyer|%>
        <table>
          <tr>
            <td width='49%'>
              <%= buyer.company %>
            </td>
            <td>
              <p>Credit Limit: <%= get_credit_limit(buyer, current_customer) %></p>
              <br>
              <div class="form-wrapper">
                <%= form_for(CreditLimit.new, url: company_limits_companies_path) do |f|%>
                  <div class="form-row">
                    <%= f.label :credit_limit, 'Credit Limit:', class: '' %>
                    <%= hidden_field_tag 'credit_limit[buyer_id]', buyer.id %>
                    <%= hidden_field_tag 'credit_limit[supplier_id]', current_customer.id %>
                    <%= f.text_field :credit_limit, class: 'input' %><br><br>
                    <%= f.submit "Set Limit", class: 'login-btn btn-02' %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
        </table>
        <div class="clear10"></div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', credit_suppliers_path %>