<%= form_tag(list_company_companies_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :name, params[:search], placeholder: "Search Companeis" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @companies.present? %>
<% @companies.each do |company|%>
  <table>
    <tr>
	    <td width='100px'>
	    	<%= company.name%>
	    </td>
	    <td>
	    <%if company.credit_limit.present? && company.market_limit.present? %>
	       <p> Credit Limit   <%= company.credit_limit  %> </p>
	       <p> Market Limit   <%= company.market_limit %> </p>
	       
	    <% else %>
	    	<%= form_for(Company.new, url: company_limits_companies_path) do |f|%>
				 <%= f.label :credit_limit %>
				 <%= hidden_field_tag 'company[company_id]',company.id %>
				 <%= f.text_field :credit_limit %><br><br>
				 <%= f.label :market_limit %>
				 <%= f.text_field :market_limit %><br><br>
				 <%= f.submit "Set Limit" %>
				<% end %>
			<% end %>	
	    </td>
    </tr>
  </table>
<% end %>
<% end %>

<%= link_to 'Back', root_path %>