<div class="clear10"></div>
<%= link_to raw("<span class='xls'></span>Export Bidder List"), "/winners/bidders.xls?tender_id=" + @tender.id.to_s, :class => "btn-01"   %>
<%= link_to "View Winner List", "/winners/winner?tender_id=" + @tender.id.to_s, :class => "btn-01", data: { turbolinks: false } %>
<div class="clear20"></div>
<div class="table">
  <%= form_tag('/winners/save', :method => :put) do %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter"  >
    <thead>
      <tr>
        <th>Parcel Deec No</th>
        <th>Lot No</th>
        <th>Description</th>
        <th>Carat</th>
        <th>System Calculated Winners</th>
        <th>Winning Bid</th>
      </tr>
    </thead>
    <%= hidden_field_tag 'tender_id', @tender.id %>
    <tbody>
      <% sum = 0 %>
      <% @tender.stones.each_with_index do |stone, i| %>
      <tr>
        <td><%= stone.deec_no %></td>
        <td><%= stone.lot_no %></td>
        <td><%= stone.description %></td>
        <td><%= stone.weight %></td>
        <% if stone.bids.blank? %>
        <td>-</td>
        <td>-</td>
        <% else %>
        <% unless stone.top_bid.blank? %>
        <td> <% stone.top_bid.each do |bid| %>
        <%= hidden_field_tag "winner[#{i}][tender_id]", @tender.id %>
        <%= hidden_field_tag "winner[#{i}][stone_id]", stone.id %>
        <%= hidden_field_tag "winner[#{i}][customer_id]", bid.customer.id %>
        <%= radio_button_tag "winner[#{i}][bid_id]", bid.id, true %> <%= bid.customer.name %>
        <%= " (#{bid.customer.email}) " %>
        <br>
        <% end %> </td>
        <td><%= number_to_currency(stone.top_bid.first.total) %></td>
        <% sum = sum + stone.top_bid.first.total  %>
        <% else %>
        <td>-</td>
        <td>-</td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
    <% unless @tender.stones.length == 0 %>
    <tr>
      <td colspan='5' style="text-align:center"> <%= submit_tag 'Save', :class => 'btn-01' %><span style="float:right;margin-top:10px;">Total :</span>  </td>
      <td><%= number_to_currency(sum) %></td>
    </tr>
    <% else %>
    <tr>
      <td colspan='6' style="text-align:center">No Stone details found. </td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>
<div class="clear20"></div>
<%= link_to raw("<span class='xls'></span>Export Bidder List"), "/winners/bidders.xls?tender_id=" + @tender.id.to_s, :class => "btn-01"   %>
<%= link_to "View Winner List", "/winners/winner?tender_id=" + @tender.id.to_s, :class => "btn-01", data: { turbolinks: false } %>
<div class="clear20"></div>
