<table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
	<thead>
		<tr>
			<th>Sr.</th>
			<th>Parcel Deec No</th>
			<th>Lot No</th>
			<th>Description</th>
			<th>Carat</th>
			<th>System Winner</th>
			<th>Bid amount</th>
			<th>Winning Bid Amount</th>
		</tr>
	</thead>
	<tbody>
		<% @stones.each_with_index do |stone,i| %>
		<% unless stone.winner.blank? %>
		<% winner = stone.winner %>
		<% if @winner_list[stone.deec_no].to_f == winner.bid.total.to_f %>
		<tr id="row_<%= i %>" >
			<td><%= i + 1 %></td>
			<td><%= stone.deec_no %></td>
			<td><%= stone.lot_no %></td>
			<td><%= stone.description %></td>
			<td><%= stone.carat %></td>
			<% unless stone.winner.blank? %>
			<% winner = stone.winner %>
			<td><%= "#{winner.customer.name} (#{winner.customer.email})" %></td>
			<td><%= winner.bid.total.to_f %></td>
			<td><%= @winner_list[stone.deec_no].to_f %></td>
			<% if @winner_list[stone.deec_no].to_f == winner.bid.total.to_f %>
			<% end %>
			<% else %>
			<td><%= '-' %></td>
			<td><%= '-' %></td>
			<td><%= @winner_list[stone.deec_no].to_f %></td>
			<% end %>
		</tr>
		<% end %>
		<% end %>
		<% end %>
	</tbody>
</table>