<% if @proposal.new_record? %>
  <% price = @parcel.price %>
  <% credit =  @parcel.credit_period %>
  <% percent =  @parcel.percent %>
  <% total_value = @parcel.total_value %>
<% else %>
  <% price = @proposal.price %>
  <% credit =  @proposal.credit %>
  <% percent =  @proposal.percent %>
  <% total_value =  @proposal.total_value %>
<% end %>
<% if @proposal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>
    <ul>
      <% @proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-row">
  <div class="label">Percent:</div>
  <div class='field'>
    <%=f.text_field :percent, value: percent, class: 'input' %>
  </div>
</div>

<div class="form-row">
  <div class="label">Credit</div>
  <div class='field'>
    <%=f.number_field :credit, value: credit, class: 'input' %>
  </div>
</div>

<div class="form-row">
  <div class="label">Avg. price</div>
  <div class='field'>
    <%=f.text_field :price, value: price, class: 'input' %>
  </div>
</div>

<div class="form-row">
  <div class="label">Total price</div>
  <div class='field'>
    <%=f.text_field :total_value, value: total_value, class: 'input' %>
  </div>
</div>


<% if current_company.id == @proposal.seller_id %>
  <div class="form-row">
    <div class="label">Comments</div>
    <div class='field'>
      <%=f.text_area :notes, class: 'input' %>
    </div>
  </div>
<% else %>
  <div class="form-row">
    <div class="label">Comments</div>
    <div class='field'>
      <%=f.text_area :buyer_comment, class: 'input' %>
    </div>
  </div>
<% end %>
 <%= hidden_field_tag "flag", "" %>
 <div class="form-row">
  <div class="label"></div>
  <div class='field'>
    <%=f.submit 'Submit', class: 'btn-01 login_btn' %>
    <%=link_to 'Back', trading_customers_path, class: 'btn-01 login_btn',data: { turbolinks: false } %>
  </div>
</div>
