<table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter">
  <tr>
    <th></th>
    <th>Description</th>
    <th>No of Stones</th>
    <th>Carats</th>
    <th>Cost</th>
    <th>Box Value</th>
    <th>Sight</th>
    <th>Price</th>
    <th>Credit</th>
    <th>From</th>
    <th></th>
  </tr>
  <% @proposals.each.with_index(1) do |proposal, i|%>
    <tr>
      <td><%= index_count(params[:page].to_i) + i %></td>
      <td><%= get_description(proposal.trading_parcel) %></td>
      <td><%= proposal.trading_parcel.no_of_stones.nil? ? 'N/A' : proposal.trading_parcel.no_of_stones %></td>
      <td><%= proposal.trading_parcel.weight %></td>
      <td><%= proposal.trading_parcel.cost.nil? ? 'N/A' : proposal.trading_parcel.cost %></td>
      <td><%= (proposal.trading_parcel.box_value.nil? || proposal.trading_parcel.box_value.blank?)? 'N/A' : proposal.trading_parcel.box_value %></td>
      <td><%= (proposal.trading_parcel.sight.nil? || proposal.trading_parcel.sight.blank?) ? 'N/A' : proposal.trading_parcel.sight.to_date.try(:strftime, "%m/%y") %></td>
      <td><%= proposal.price.nil? ? 'N/A' : number_with_precision(proposal.price, precision: 2) %></td>
      <td><%= proposal.credit %></td>
      <% if current_customer.id == proposal.buyer_id%>
        <td><%= proposal.supplier.company %></td>
      <% else %>
        <td><%= proposal.buyer.company %></td>
      <% end %>
      <td><%= link_to 'View', proposal_path(proposal) %></td>
    </tr>
  <% end %>
</table>
<%= paginate @proposals %>