<h3>Proposal Details</h3>
<div class="table">
  <table class="table table-bordered table-striped table-responsive tablesorter">
    <% if current_company.id == proposal.try(:buyer_id) %>
      <% if proposal.accepted? %>
        <h5>The deal was accepted.</h5>
      <% elsif proposal.rejected? %>
        <h5>The deal was rejected.</h5>
      <% end %>
      <tr>
        <td> Supplier </td>
        <% if proposal.trading_parcel.anonymous %>
          <td>Anonymous</td>
        <% else %>
          <td><%= proposal.try(:seller).try(:name) %></td>
        <% end %>
      </tr>
    <% else %>
      <tr>
        <td> Buyer</td>
        <td><%= proposal.try(:buyer).try(:name) %></td>
      </tr>
    <% end %>
    <tr>
      <td> Source</td>
      <td><%= proposal.trading_parcel.try(:source) %></td>
    </tr>
    <% unless proposal.try(:trading_parcel).try(:source) == 'POLISHED' %>
      <tr>
        <td> Description </td>
        <td><%= proposal.trading_parcel.try(:description) %></td>
      </tr>
    <% end %>
    <tr>
      <td> Sight</td>
      <td><%= proposal.trading_parcel.try(:sight) %></td>
    </tr>
    <tr>
      <td> No of stones:</td>
      <td><%= proposal.trading_parcel.try(:no_of_stones) %></td>
    </tr>
    <tr>
      <td> Carats </td>
      <td class="carats"><%= proposal.trading_parcel.weight.nil? ? 'N/A' : number_with_precision(proposal.trading_parcel.weight, precision: 2) %></td>
    </tr>
    <tr>
      <td> Cost </td>
      <td class="cost"><%= proposal.trading_parcel.cost.nil? ? 'N/A' : number_with_precision(proposal.trading_parcel.cost, precision: 2) %></td>
    </tr>

    <tr>
      <td> Comment by Seller </td>
      <td><%= proposal.trading_parcel.try(:comment) %><%=link_to "Size info", 'javascript:void(0)', class: 'pull-right size_info', "data-id" => proposal.trading_parcel.try(:id) %></td>
    </tr>
    <tr>
      <td> List Credit </td>
      <td><%= proposal.trading_parcel.credit_period.nil? ? 'N/A' : proposal.trading_parcel.credit_period %></td>
    </tr>
    <tr>
      <td> List Discount </td>
      <td><%= proposal.trading_parcel.box_value.nil? ? 'N/A' : proposal.trading_parcel.box_value %></td>
    </tr>
    <tr>
      <td> List Percent </td>
      <td><%= proposal.trading_parcel.percent.nil? ? 'N/A' : number_with_precision(proposal.trading_parcel.percent, precision: 2) %></td>
    </tr>

    <tr>
      <td> List Avg. Price </td>
      <td><%= proposal.trading_parcel.price.nil? ? 'N/A' : number_with_precision(proposal.trading_parcel.price, precision: 2) %></td>
    </tr>
    <tr>
      <td> List Total Price </td>
      <td><%= proposal.trading_parcel.total_value.nil? ? 'N/A' : number_with_precision(proposal.trading_parcel.total_value, precision: 2) %></td>
    </tr>

    <tr>
      <td> Offer Credit </td>
      <td><%= proposal.credit.nil? ? 'N/A' : proposal.credit %></td>
    </tr>
    <tr>
      <td> Offer Percent </td>
      <td><%= proposal.percent.nil? ? 'N/A' : proposal.percent %></td>
    </tr>
    <tr>
      <td> Offer Avg. Price </td>
      <td><%= proposal.price.nil? ? 'N/A' : proposal.price %></td>
    </tr>
    <tr>
      <td> Offer Total Price </td>
      <td><%= proposal.total_value.nil? ? 'N/A' : proposal.total_value %></td>
    </tr>

    <tr>
      <td> Notes </td>
      <td><%= proposal.notes.nil? ? 'N/A' : proposal.notes %></td>
    </tr>
  </table>
</div>

<div class="proposal-form hide">
  <h3> Edit Proposal </h3>
  <div class="clear10"></div>
  <div class="form-wrapper">
    <%= form_for @proposal do |f| %>
      <%= render partial: 'proposals/form', locals: { f: f } %>
      <% if current_company.id == @proposal.buyer_id %>
        <% value = @proposal.seller_id %>
      <% elsif current_company.id == @proposal.seller_id %>
        <% value = @proposal.buyer_id %>
      <% end %>
      <%=f.hidden_field :action_for, value: value %>
    <% end %>
  </div>
</div>

<div class="clear10"></div>
<% unless proposal.accepted? || proposal.rejected? %>
  <%= link_to 'Accept', "/proposals/#{proposal.id}/accept?check=true", class: 'btn-01 login_btn green accept-btn', method: :put, data: {turbolinks: false}, remote: true if current_company.id == proposal.try(:seller_id) %>
  <%= link_to 'Reject', "/proposals/#{proposal.id}/reject", class: 'btn-01 login_btn reject_btn red', method: :put, data: {turbolinks: false} if current_company.id == proposal.try(:seller_id) %>
  <%#= link_to 'Negotiate', "", class: 'btn-01 login_btn negotiate_btn', data: {turbolinks: false} %>
  <%= link_to 'Negotiate', 'javascript:void(0)', class: 'btn-01 login_btn negotiate_btn', data: {turbolinks: false} %>
<%end%>
<div class="size-info">
  <%@info = []%>
  <%= render partial: 'trading_parcels/size_info', collection: @info%>
</div>
<script type="text/javascript">
$(document).on('click', '.negotiate_btn', function(){
  var carat = parseFloat($('.carats').text());
  var price = parseFloat($('#proposal_price').val());
  $('#proposal_total_value').val(carat*price);
  $('.proposal-form').removeClass('hide');
  $(this).addClass('hide');
  $('.accept-btn').addClass('hide');
  $('.reject_btn').addClass('hide');
})

$(document).on('keyup focusout','#proposal_percent', function(){
  var carat = parseFloat($('.carats').text());
  var cost = parseFloat($('.cost').text());
  var price = parseFloat($('#proposal_price').val());
  var percent = parseFloat($('#proposal_percent').val());
  calculate_prices(carat, cost, percent, price)
});

$(document).on('keyup focusout','#proposal_price', function(){
  var carat = parseFloat($('.carats').text());
  var cost = parseFloat($('.cost').text());
  var price = parseFloat($('#proposal_price').val());
  calculate_percents(carat, cost, price)
});
$(document).on('keyup focusout','#proposal_total_value', function(){
  var carat = parseFloat($('.carats').text());
  var cost = parseFloat($('.cost').text());
  var total = parseFloat($(this).val());
  var price = total/carat;
  $('#proposal_price').val(price);
  calculate_percents(carat, cost, price)
});

function calculate_prices(carat, cost, percent, price){
  var avg_price = (percent/100)*cost + cost;
  var amount = carat*avg_price;
  if (isNaN(avg_price)){
    $('#proposal_price').val('')
  }else{
    $('#proposal_price').val(avg_price)
  }
  if(isNaN(amount)){
    $('#proposal_total_value').val('')
  }else{
    $('#proposal_total_value').val(amount)
  }
}
function calculate_percents(carat, cost, price){
  var percent = ((price - cost) * 100)/cost;
  var amount = carat*price;
  if (isNaN(percent)){
    $('#proposal_percent').val('')
  }else{
    $('#proposal_percent').val(percent)
  }
  if(isNaN(amount)){
    $('#proposal_total_value').val('')
  }else{
    $('#proposal_total_value').val(amount)
  }
}


</script>