<h3>Proposal Details</h3>
<div class="table">
  <table class="table table-bordered table-striped table-responsive tablesorter">
    <% if current_company.id == proposal.try(:buyer_id) %>
      <tr>
        <td> Supplier </td>
        <% if proposal.trading_parcel.anonymous %>
          <td>Anonymous</td>
        <% else %>
          <td><%= proposal.try(:supplier).try(:name) %></td>
        <% end %>
      </tr>
    <% else %>
      <tr>
        <td> Buyer</td>
        <td><%= proposal.try(:buyer).try(:name) %></td>
      </tr>
    <% end %>
    <% unless proposal.try(:trading_parcel).try(:source) == 'POLISHED' %>
      <tr>
        <td> Description </td>
        <td><%= proposal.trading_parcel.try(:description) %></td>
      </tr>
    <% end %>
    <tr>
      <td> Comment by Seller </td>
      <td><%= proposal.trading_parcel.try(:comment) %><%=link_to "Size info", 'javascript:void(0)', class: 'pull-right size_info', "data-id" => proposal.trading_parcel.try(:id) %></td>
    </tr>
    <tr>
      <td> Carats </td>
      <td><%= proposal.trading_parcel.weight.nil? ? 'N/A' : number_with_precision(proposal.trading_parcel.weight, precision: 2) %></td>
    </tr>
    <tr>
      <td> List Price </td>
      <td><%= proposal.trading_parcel.price.nil? ? 'N/A' : number_with_precision(proposal.trading_parcel.price, precision: 2) %></td>
    </tr>
    <tr>
      <td> List Credit </td>
      <td><%= proposal.trading_parcel.credit_period.nil? ? 'N/A' : proposal.trading_parcel.credit_period %></td>
    </tr>
    <tr>
      <td> Offer Price </td>
      <td><%= proposal.price.nil? ? 'N/A' : proposal.price %></td>
    </tr>
    <tr>
      <td> Offer Credit </td>
      <td><%= proposal.credit.nil? ? 'N/A' : proposal.credit %></td>
    </tr>
    <tr>
      <td> Percent </td>
      <td><%= proposal.trading_parcel.percent.nil? ? 'N/A' : proposal.trading_parcel.percent %>%</td>
    </tr>
    <tr>
      <td> Total Price </td>
      <td><%= proposal.trading_parcel.total_value.nil? ? 'N/A' : proposal.trading_parcel.total_value %></td>
    </tr>

    <tr>
      <td> Notes </td>
      <td><%= proposal.notes.nil? ? 'N/A' : proposal.notes %></td>
    </tr>
  </table>
</div>
<div class="clear10"></div>
<% unless proposal.accepted? || proposal.rejected? %>
  <%= link_to 'Accept', "/proposals/#{proposal.id}/accept?check=true", class: 'btn-01 login_btn green accept-btn', method: :put, data: {turbolinks: false}, remote: true if current_company.id == proposal.try(:seller_id) %>
  <%= link_to 'Reject', "/proposals/#{proposal.id}/reject", class: 'btn-01 login_btn red', method: :put, data: {turbolinks: false} if current_company.id == proposal.try(:seller_id) %>
  <%= link_to 'Negotiate', "/proposals/#{proposal.id}/edit", class: 'btn-01 login_btn', data: {turbolinks: false} %>
<%end%>
<div class="size-info">
  <%@info = []%>
  <%= render partial: 'trading_parcels/size_info', collection: @info%>
</div>
<script type="text/javascript">
// $(document).on('click', '.accept-btn', function(){
//   $(this).addClass('disabled')
// })

</script>