<h3>Proposal Details</h3>
<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
    <% if current_customer.id == @proposal.buyer_id %>
      <tr>
        <td> Supplier </td>
        <td><%= @proposal.try(:supplier).try(:company) %></td>
      </tr>
    <% else %>
      <tr>
        <td> Buyer</td>
        <td><%= @proposal.try(:buyer).try(:company) %></td>
      </tr>
    <% end %>
    <tr>
        <td> Description </td>
        <td><%= @proposal.trading_parcel.try(:description) %></td>
      </tr>
    <tr>
      <td> Carats </td>
      <td><%= @proposal.trading_parcel.weight.nil? ? 'N/A' : number_with_precision(@proposal.trading_parcel.weight, precision: 2) %></td>
    </tr>
    <tr>
      <td> List Price </td>
      <td><%= @proposal.trading_parcel.price.nil? ? 'N/A' : number_with_precision(@proposal.trading_parcel.price, precision: 2) %></td>
    </tr>
    <tr>
      <td> List Credit </td>
      <td><%= @proposal.trading_parcel.credit_period.nil? ? 'N/A' : @proposal.trading_parcel.credit_period %></td>
    </tr>
    <tr>
      <td> Offer Price </td>
      <td><%= @proposal.price.nil? ? 'N/A' : @proposal.price %></td>
    </tr>
    <tr>
      <td> Offer Credit </td>
      <td><%= @proposal.credit.nil? ? 'N/A' : @proposal.credit %></td>
    </tr>
    <tr>
      <td> Notes </td>
      <td><%= @proposal.notes.nil? ? 'N/A' : @proposal.notes %></td>
    </tr>
  </table>
</div>
<div class="clear10"></div>
<% unless @proposal.accepted? || @proposal.rejected? %>
  <%= link_to 'Accept', accept_proposal_path(id: @proposal.id), class: 'btn-01 login_btn green accept-btn', method: :put, data: {turbolinks: false} %>
  <%= link_to 'Reject', reject_proposal_path(id: @proposal.id), class: 'btn-01 login_btn red', method: :put, data: {turbolinks: false}  %>
  <%= link_to 'Negotiate', edit_proposal_path(@proposal), class: 'btn-01 login_btn', data: {turbolinks: false} %>
<% end %>

<script type="text/javascript">
$(document).on('click', '.accept-btn', function(){
  $(this).addClass('disabled')
})
  
</script>