<h3>Proposal Details</h3>
<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
    <% if current_customer.id == @proposal.buyer_id %>
      <tr>
        <td> Supplier </td>
        <td><%= @proposal.try(:supplier).try(:company) %></td>
      </tr>
    <% else %>
      <tr>
        <td> Buyer</td>
        <td><%= @proposal.try(:buyer).try(:company) %></td>
      </tr>
    <% end %>
    <tr>
      <td> List Price </td>
      <td><%= @proposal.trading_parcel.price.nil? ? 'N/A' : @proposal.trading_parcel.price %></td>
    </tr>
    <tr>
      <td> List Credit </td>
      <td><%= @proposal.trading_parcel.credit_period.nil? ? 'N/A' : @proposal.trading_parcel.credit_period %></td>
    </tr>
    <tr>
      <td> Offer Price </td>
      <td><%= @proposal.price.nil? ? 'N/A' : @proposal.price %></td>
    </tr>
    <tr>
      <td> Offer Credit </td>
      <td><%= @proposal.credit.nil? ? 'N/A' : @proposal.credit %></td>
    </tr>
    <tr>
      <td> Notes </td>
      <td><%= @proposal.notes.nil? ? 'N/A' : @proposal.notes %></td>
    </tr>
  </table>
</div>
<div class="clear10"></div>
<% unless @proposal.accepted? || @proposal.rejected? %>
  <%= link_to 'Accept', accept_proposal_path(id: @proposal.id), class: 'btn-01 login_btn green', remote: true, method: :put if @proposal.trading_parcel.customer_id == current_customer.id %>
  <%= link_to 'Reject', reject_proposal_path(id: @proposal.id), class: 'btn-01 login_btn red', remote: true, method: :put if @proposal.trading_parcel.customer_id == current_customer.id %>
  <%= link_to 'Negotiate', edit_proposal_path(@proposal), class: 'btn-01 login_btn' %>
<% end %>
