<% email_template = EmailTemplate.where(type_of_event: 'New Direct Sell').first %>
<p>Purchase Recorded</p>
</br>
<p> Seller: <%= @seller %> has added the following transaction on SafeTrade: </p>
<p>1. Source: <%= @transaction.trading_parcel.source %></p>
<p>2. Description: <%= @transaction.description %></p>
<p>3. Carats: <%= @transaction.trading_parcel.weight %></p>
<p>4. Cost: <%= @transaction.trading_parcel.weight %></p>
<p>5. Percentage: <%= @transaction.trading_parcel.percent %></p>
<p>6. Average Price: <%= @transaction.price %></p>
<p>7. Total Amount: <%= @transaction.total_amount %></p>
<p>8. Credit Period: <%= @transaction.credit %></p>
<p>9. Invoice Date: <%= @transaction.created_at %></p>
<p><%= email_template.before_here %> <%= link_to 'here', transaction_url(@transaction) %> <%= email_template.after_here.html_safe %>
<p><%= @seller%> uses SafeTrade for business protection against late and risky payers. You can join as well, immediately and for free. Download SafeTrade now:</p>

</br>
<p>Regards,</p>
</br>
<p>The SafeTrade Team</p>
