<% email_template = EmailTemplate.where(type_of_event: 'New Proposal').first %>
<p>Hello</p>

<h4>You have a new proposal as:</h4>
<p>Credit: <%= @proposal.credit %></p>
<p>Percent: <%= @proposal.percent %></p>
<p>Avg: <%= @proposal.price %></p>
<p>Total: <%= @proposal.total_value %></p>
</br>
<p><%= email_template.before_here %><%= link_to " Here", proposal_url(@proposal) %> <%= email_template.after_here %> </p>