<% logger.info @customer.inspect %>
Hello <%= @customer.first_name %>,
<br>
<br>
Your bids for, <strong><%= @tender.name %></strong>
are successfully confirmed.
<br/>
Bid details :
<table style="border-collapse: collapse;width:90%;border:1px solid #000;">
    <tr>
        <th>
            DEEC No
        </th>
        <th>
            Description
        </th>
        <th>
            Carats
        </th>
        <th>
            Average
        </th>
        <th>
            Total
        </th>
    </tr>
    <% @bid.each do |bid| %>
    <tr>
        <td>
            <%= bid.stone.deec_no %>
        </td>
        <td>
            <%= bid.stone.description %>
        </td>
        <td>
            <%= bid.stone.weight %>
        </td>
        <td>
            <%= bid.price_per_carat %>
        </td>
        <td>
            <%= bid.total %>
        </td>
    </tr>
    <% end %>
</table>
<br/>
To view the details, <%= link_to 'Click here.', tender_url(@tender) %>
<br>
<br>
Thanks & Regards,
<br>
SafeTrade Team.