<p>Hello,</p>
<br>
<p><b>A new parcel was found for you. Here are the details: </b></p>
<p>Supplier: <%= @parcel.try(:company).try(:name) %></p>
<p>Description: <%= @parcel.description %></p>
<p>Carats: <%= @parcel.weight %></p>
<p>Avg: <%= @parcel.price %></p>
<p>Amount: <%= @parcel.total_value %></p><br>
<p><%= link_to 'Click here', trading_customers_url %> to view more details or make an offer.</p>
<br><br>

Sincerely<br>
SafeTrade Team.

