<% email_template = EmailTemplate.where(type_of_event: 'New Parcel Uploaded').first %>
<p>Hello,</p>
<br>
<p><b>A new parcel was found for you. Here are the details: </b></p>
<p>Supplier: <%= @parcel.try(:company).try(:name) %></p>
<p>Description: <%= @parcel.description %></p>
<p>Carats: <%= @parcel.weight %></p>
<p>Avg: <%= @parcel.price %></p>
<p>Amount: <%= @parcel.total_value %></p><br>
<p><%= email_template.before_here %> <%= link_to 'here', trading_customers_url %> <%= email_template.after_here %></p>
<br><br>

Sincerely<br>
SafeTrade Team.
