
<div class="clear20"></div>
<h3>Send Invitation </h3>

<div class="form-wrapper">



    <%= form_for @customer, url: invite_send_transactions_path do |f| %>
      <div class="form-row">
      <% @customer.class.invite_key_fields.each do |field| -%>
    </div>
      <div class="clear20"></div>
      <div class="form-row">
        <div class="label">First Name: </div>
        <div class="field">
          <%= f.text_field :first_name,  class: 'input' %>
        </div>
      </div>
      <div class="form-row">
        <div class="label">Company Name: </div>
        <div class="field">
          <%= f.text_field :company,  class: 'input' %>
        </div>
      </div>
      <div class="form-row">
        <div class="label">Mobile No: </div>
        <div class="field">
          <%= f.text_field :mobile_no,  class: 'input' %>
        </div>
      </div>
      <div class="form-row">
        <div class="label">Email: </div>
        <div class="field">
          <%= f.text_field :email,  class: 'input' %>
        </div>
      </div>
       <% end -%>
      <div class="form-row">
        <div class="label"></div>
        <div class='field'>
          <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn-01 login_btn' %>
          <%=link_to 'Cancel', :back, class: 'btn-01 login_btn', data: {turbolinks: false}%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>addMask();</script>

