<div class="table">
  <h3>Transaction Detail</h3>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
    <tr>
      <td> Transaction Reference </td>
      <td><%= @transaction.transaction_uid %></td>
    </tr>
    <tr>
      <td> Description</td>
      <td><%= @transaction.trading_parcel.description %></td>
    </tr>
    <tr>
      <td> No. of stones</td>
      <td><%= @transaction.trading_parcel.no_of_stones.nil? ? 'N/A' : @transaction.trading_parcel.no_of_stones %></td>
    </tr>
    <tr>
      <td> Carats</td>
      <td><%= number_with_precision(@transaction.trading_parcel.weight, precision: 2) %></td>
    </tr>
    <tr>
      <td> Cost</td>
      <td><%= @transaction.trading_parcel.cost.nil? ? 'N/A' : @transaction.trading_parcel.cost %></td>
    </tr>
    <tr>
      <td> Box</td>
      <td><%= (@transaction.trading_parcel.box.nil? || @transaction.trading_parcel.box.blank?) ? 'N/A' : @transaction.trading_parcel.box %><%=link_to "Size info", 'javascript:void(0)', class: 'pull-right size_info', "data-id" => @transaction.trading_parcel.try(:id) %></td>
    </tr>
    <tr>
      <td> Sight</td>
      <td><%= (@transaction.trading_parcel.sight.nil? || @transaction.trading_parcel.sight.blank?) ? 'N/A' : @transaction.trading_parcel.sight.to_date.strftime("%m/%y") %></td>
    </tr>
    <tr class="parcel-details">
      <td> Avg. Price</td>
      <td><%= @transaction.price.nil? ? 'N/A' : number_with_precision(@transaction.price, precision: 2) %></td>
    </tr>
    <tr class="parcel-details">
      <td> Credit</td>
      <td><%= @transaction.trading_parcel.credit_period %> days (<%= (@transaction.created_at + (@transaction.trading_parcel.credit_period.to_i).days).strftime("%B %d, %Y") %>)</td>
    </tr>
    <tr>
      <td> Amount To Be paid</td>
      <td><%= number_with_precision(@transaction.remaining_amount, precision: 2) %></td>
    </tr>
    <tr>
      <td> Comment</td>
      <td><%= @transaction.trading_parcel.try(:comment) %></td>
    </tr>
  </table>
  <div class="clear20"></div>
  <% if current_user.id == @transaction.buyer_id && @transaction.transaction_type == 'manual' && !@transaction.buyer_confirmed && get_status(@transaction) != 'Completed' %>
    <%=link_to 'Confirm', confirm_transaction_path(@transaction), data: {turbolinks: false}, class: 'login-btn btn-02' %>
  <% end %>
  <div class="clear20"></div>
  <h3>Payment Details</h3>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTable" class="tablesorter">
    <thead>
      <th>#</th>
      <th>Amount</th>
      <th>Paid Date</th>
    </thead>
    <tbody>
      <% @payment_details.each_with_index do |payment_detail,i|%>
        <tr>
          <td><%=i+1%></td>
          <td><%=number_with_precision(payment_detail.amount, precision: 2) %></td>
          <td><%=payment_detail.created_at.strftime("%b, %d %Y")%></td>
        </tr>
      <% end %>
    </tbody>
    <tr>
    </tr>
  </table>
  <div class="clear20"></div>
  <% if current_customer.id == @transaction.buyer_id %>
    <%= link_to 'Message', new_message_path(id: @transaction.supplier_id), class: 'login-btn btn-02', data: {turbolinks: false}%>
  <% else %>
    <%= link_to 'Message', new_message_path(id: @transaction.buyer_id), class: 'login-btn btn-02', data: {turbolinks: false}%>
  <% end %>
  <%if (!@transaction.paid? && @transaction.supplier_id == current_customer.id && @transaction.buyer_confirmed) %>
    <%=link_to 'Enter Payment','javascript:void(0)', id: 'place_amount', class: 'login-btn btn-02',data: {turbolinks: false} %>
  <%end%>
</div>
<div class="clear20"></div>
<div class="container">
  <div class="form-wrapper">
    <div id='show_form' class="hide">
      <%if @transaction.paid? %>
        <p>Already Paid</p>
      <%else%>
        <% if @transaction.remaining_amount.nil? || @transaction.remaining_amount.blank? %>
          <p>No dues are left</p>
        <% else %>
          <%= form_for @payment, url: payment_transactions_path do |f|%>
            <div class="form-row">
              <div class="label control-label">
                Amount
              </div>
              <div class="field">
                <%= f.text_field :amount, :placeholder => 'Amount', :class => "input-1 form-control col-sm-12", required: true %>
                <%=link_to 'Full Payment','javascript:void(0)', class: 'full_payment' %>
                <%= f.hidden_field :transaction_id, value: @transaction.id %>
                <div class="clear"></div>
                <div class="idt_terms_text"></div>
                <div class="form-row">
                  <div class="label"></div>
                  <div class='row field'>
                   <%=f.submit 'Pay', class: 'btn-02 login_btn ', id: 'transaction_submit' %>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          <% end %>
        <% end %>
      <%end%>
    </div>
  </div>
</div>

<div class="size-info">
  <%= render partial: 'trading_parcels/size_info' %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    // $('#show_form').hide();

    $(document).on('click', '#place_amount', function(e) {
      e.preventDefault();
      $('#show_form').toggleClass('hide')
    });
    
    $('.full_payment').click(function(e){
      e.preventDefault();
      $('.input-1').val('<%=@transaction.remaining_amount%>')
    });
  });
</script>