<div class="dashboard">
  <h3> Send Request to <%= current_company.is_broker? ? 'Seller': 'Broker' %></h3>
  <div class="clear10"></div>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id='sellerList' class="tablesorter table-responsive">
      <thead class="thead-desktop">
        <th>Company</th>
        <th></th>
      </thead>
      <% if current_company.is_broker? %>
        <% @sellers.each do |seller| %>
          <tr>
            <td><%= seller.try(:name) %></td>
            <td><%= link_to_request(current_company, seller) %></td>
          </tr>
        <% end %>
      <% else %>
        <% @brokers.each do |broker| %>
          <tr>
            <td><%= broker.try(:name) %></td>
            <td><%= link_to_request(current_company, broker) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">
  $('#sellerList').DataTable({
    "pageLength": 50,
    "bInfo" : false
  });
</script>
