<div class="dashboard">
  <h3> <%= current_company.is_broker? ? 'Seller/Buyer': 'Broker' %> Requests </h3>
  <div class="clear10"></div>
  <div class="table">
    <table id="tenderList" class="table table-bordered table-responsive">
      <tr>
        <th></th>
        <th><%= current_company.is_broker? ? 'Seller/Buyer': 'Broker' %> Name</th>
        <th>Company</th>
        <th></th>
      </tr>
      <% if current_company.is_broker? %>
        <% @requests.each do |request| %>
          <tr>
            <td></td>
            <td><%= request.broker.try(:customers).try(:first).try(:name) %></td>
            <td><%= request.broker.try(:name) %></td>
            <td><%= link_to 'Accept', accept_brokers_path(id: request.id), data: {turbolinks: false} %>
              | <%= link_to 'Reject', reject_brokers_path(id: request.id), data: {turbolinks: false} %></td>
          </tr>
        <% end %>
      <% else %>
        <% @requests.each do |request| %>
          <tr>
            <td></td>
            <td><%= request.seller.try(:customers).try(:first).try(:name) %></td>
            <td><%= request.seller.try(:name) %></td>
            <td><%= link_to 'Accept', accept_brokers_path(id: request.id), data: {turbolinks: false} %>
              | <%= link_to 'Reject', reject_brokers_path(id: request.id), data: {turbolinks: false} %></td>
          </tr>
        <% end %>
      <% end %>
  </table>
  </div>
</div>
<div class="clear10"></div>
<div class="dashboard">
  <h3> My <%= current_company.is_broker? ? 'Sellers': 'Brokers' %> </h3>
  <div class="clear10"></div>
  <div class="table">
    <table id="tenderList" class="table table-bordered table-responsive">
    <tr>
      <th></th>
      <th><%= current_company.is_broker? ? 'Seller/Buyer': 'Broker' %> Name</th>
      <th>Company</th>
      <th></th>
    </tr>
    <% @my_brokers.each do |b| %>
      <tr>
        <td></td>
        <td><%= b.broker.try(:customers).try(:first).try(:name) %></td>
        <td><%= b.broker.try(:name) %></td>
        <td><%= link_to "Remove", remove_brokers_path(id: b.id), data: { turbolinks: false } %></td>
      </tr>
    <% end %>
</table>
  </div>
</div>

