<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="creditList" class="tablesorter table-responsive">
    <thead class="thead-desktop">
      <th>Company </th>
      <th>Total Limit</th>
      <th>Used Limit</th>
      <th>Available Limit</th>
      <th>Overdue Limit</th>
      <th>Suppliers Connected</th>
      <th>Block</th>
    </thead>
    <% @customers.each.with_index(1) do |customer, i|%>
      <tr>
        <td><span class="table-head-in-td">Company</span><%= link_to customer.company, profile_suppliers_path, :class => 'company_profile', "data-id"=> customer.id %></td>
        <td class="credit_limit">
        <span class="table-head-in-td">Total Limit</span>
          <span class="given_limit"><%= number_to_currency(get_credit_limit(customer, current_customer)) %><i class="fa fa-edit pull-right" id='credit_edit'></i></span><span class="edit_field hide"><%=text_field_tag "limit", '', 'data-id'=> customer.id, placeholder: 'Enter credit limit' %><%=link_to 'Add', 'javascript:void(0)', class: " save_btn_2"%> <%=link_to 'Cancel', credit_suppliers_path, data: { turbolinks: false }%></span>
        </td>
        <td><span class="table-head-in-td">Used Limit</span><%= number_to_currency(get_used_credit_limit(customer, current_customer)) rescue 'N/A' %></td>
        <td><span class="table-head-in-td">Available Limit</span><%= number_to_currency(get_available_credit_limit(customer, current_customer)) rescue 'N/A' %></td>
        <td class="days_limit">
        <span class="table-head-in-td">Overdue Limit</span>
          <a href="#" class="given_days"><%= get_days_limit(customer, current_customer) %><i class="fa fa-edit pull-right" id='days_edit'></i></a><a href="#" class="edit_days hide"><%=text_field_tag "days_limit", '', 'data-id'=> customer.id, placeholder: 'Enter days' %><i class="fa fa-check-square-o save_date_btn"></i></a>
        </td>
        <td><span class="table-head-in-td">Suppliers Connected</span><%= supplier_connected(customer,current_customer)%></td>
        <% if customer.is_blocked_by_supplier(current_customer.id) %>
          <td><span class="table-head-in-td">Block</span><%= image_tag("/assets/right.jpg", width: "35", class: 'image_approve', 'data-id'=> customer.id) %></td>
        <% else %>
          <td><span class="table-head-in-td">Block</span><%= image_tag("/assets/wrong.png", width: "15", class: 'image_block', 'data-id'=> customer.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
 $(document).on('click', '.company_profile', function(e) {
      e.preventDefault()
      var _this = $(this);
      id = $(this).data('id')
      var top = $(this).position()['top'] - 300;
      $.ajax({
        url : '/suppliers/profile',
        type : 'GET',
        data: {id: id},
        success : function(response) {
          console.log(response)
          $('.bid_form').html(response).show()
          // $('.bid_form').css('margin-top', top + 'px' )
          $('tr').removeClass('current_bid');
          $(_this).parents('tr').addClass('current_bid');
        }
      })
    });
</script>
<style>
  .current_bid {
    background-color: #E4E4E4 !important;
  }

</style>