<h4>Company Groups</h4>
<%= link_to 'Create Companies Group', new_companies_group_path, data: { turbolinks: false }, class: 'pull-right btn btn-xs btn-danger' %>
<div class="clear10"></div>
<div class="container">
  <% @companies_groups.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading clickable">
         <h5 style="color: #ED5A48;"><%= group.group_name %></h5>
        <div class="pull-right group-delete" style="margin-top: -28px;">
          <%= link_to edit_companies_group_path(id: group.id), data: {turbolinks: false} do %>
            <span class="fa fa-edit"></span>
          <% end %>
          <%= link_to companies_group_path(id: group.try(:id)), method: :delete, data: {confirm: "Are you sure ?"} do %>
            <span class="fa fa-trash"></span>
          <% end %>
        </div>
      </div>
      <div class=" panel-collapse collapse">
        <div class="panel-body">
          <div class="col-md-12">
            <h5>Group Market Limit: <%= number_to_currency(group.group_market_limit) %></h5>
            <h5>Group Overdue Limit: <%= group.group_overdue_limit %></h5>
            <h4>Companies</h4>
            <div class="clear10"></div>
            <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <th colspan="5">Company Name</th>
                  <!-- <th>Credit Limit</th> -->
                  <!-- <th>Overdue Limit</th> -->
                  <!-- <th>Market Limit</th> -->
                  <!-- <th>Available Limit</th> -->
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% group.company_id.each do |c| %>
                  <%- company = get_company(c) %>
                  <% unless company.nil? %>
                    <tr>
                      <td colspan="5"><%= company.name %></td>
                      <!-- <td><%#= number_to_currency(get_credit_limit(company, current_company)) %></td>
                      <td><%#= get_days_limit(company, current_company) %></td>
                      <td><%#= get_market_limit(company, current_company) %></td>
                      <td><%#= number_to_currency(get_available_credit_limit(company, current_company)) %></td> -->
                      <td>
                      <%= link_to delete_group_companies_groups_path(id: company.id, group_id: group.id), data: {confirm: 'Are you sure ?', turbolinks: false} do %>
                        <%= image_tag("/assets/wrong.png", width: "15", class: 'image') %>
                      <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).on('click', '.clickable', function (e){
    if ($(e.target).hasClass("group-delete")){
      // do nothing
    } else {
      object =  $(this).parents('.panel').find('.panel-collapse')
      object.collapse('toggle')
      object.height('');
    }
  })

  $(document).on('ready', function(){
    if ("<%= params[:group] %>" == "true"){
      $('.sectionA').parent('li').removeClass('active')
      $('#sectionA').removeClass('active')
      $('.sectionB').parent('li').addClass('active')
      $('#sectionB').addClass('active in')
    }else{
      $('.sectionA').parent('li').addClass('active')
      $('#sectionB').removeClass('active')
      $('.sectionB').parent('li').removeClass('active')
      $('#sectionA').addClass('active in')
    }
  })
</script>

