<div class="table">
  <table id="tenderList" class="table table-bordered tablesorter table-responsive">
    <tr class="thead-desktop">
      <th></th>
      <th>Buyer</th>
      <th>Description</th>
      <th>Carats</th>
      <th>Price</th>
      <th>Credit</th>
      <th>Due Date</th>
      <th>Invoice Date</th>
      <th></th>
    </tr>
    <% transactions.each.with_index(1) do |transaction, i|%>
      <tr>
        <td><span class="table-head-in-td">Count</span><%= index_count(params[:page].to_i) + i %></td>
        <td><span class="table-head-in-td">Buyer</span><%= transaction.try(:buyer).try(:company).try(:name) rescue 'N/A' %></td>
        <td><span class="table-head-in-td">Description</span><%= get_description(transaction.trading_parcel) if transaction %></td>
        <td><span class="table-head-in-td">Carats</span><%= transaction.trading_parcel.weight rescue 'N/A' %></td>
        <td><span class="table-head-in-td">Price</span><%= transaction.price.nil? ? 'N/A' : number_with_precision(transaction.price, precision: 2) %></td>
        <td><span class="table-head-in-td">Credit</span><%= transaction.credit.nil? ? 'N/A' : transaction.credit %></td>
        <td><span class="table-head-in-td">Due Date</span><%= transaction.due_date.try(:strftime, "%B, %d %Y") %></td>
        <td><span class="table-head-in-td">Invoice Date</span><%= transaction.created_at.try(:strftime, "%B, %d %Y") %></td>
        <td><%= link_to 'Mark as paid', paid_proposal_path(id: transaction.id), remote: true, method: :put unless transaction.paid? %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate transactions %>