<div class="form-group">
  <label class="col-sm-2 control-label">Shape:</label>
  <div class="col-sm-10">
    <%= f.select :shape, options_for_select(TradingParcel::SHAPE, @trading_parcel.shape), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="polish-carat">
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Color:</label>
  <div class="col-sm-10">
    <%= f.select :color, options_for_select(TradingParcel::COLOR, @trading_parcel.color), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Clarity:</label>
  <div class="col-sm-10">
    <%= f.select :clarity, options_for_select(TradingParcel::CLARITY, @trading_parcel.clarity), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Cut:</label>
  <div class="col-sm-10">
    <%= f.select :cut, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY, @trading_parcel.cut), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Polish:</label>
  <div class="col-sm-10">
    <%= f.select :polish, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY, @trading_parcel.polish), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Symmetry:</label>
  <div class="col-sm-10">
    <%= f.select :symmetry, options_for_select(TradingParcel::CUT_POLISH_SYMMETRY, @trading_parcel.symmetry), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Fluorescence:</label>
  <div class="col-sm-10">
    <%= f.select :fluorescence, options_for_select(TradingParcel::FLUORESCENCE, @trading_parcel.fluorescence), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Lab:</label>
  <div class="col-sm-10">
    <%= f.select :lab, options_for_select(TradingParcel::LAB, @trading_parcel.lab), {include_blank: true}, {class: 'form-control' }%>
  </div>
</div>

<div class="form-group <%= direct_sell ? 'hide' : ''%>">
  <label class="col-sm-2 control-label">City:</label>
  <div class="col-sm-10">
    <%= f.text_field :city, class: 'form-control' %>
  </div>
</div>

<div class="form-group <%= direct_sell ? 'hide' : ''%>">
  <label class="col-sm-2 control-label">Country:</label>
  <div class="col-sm-10">
    <%= f.country_select :country, {}, {class: "form-control"} %>
  </div>
</div>