<div class="bulk hide">
  <div class="clear10"></div>
  <div class="form-wrapper">
    <%= form_for @trading_document, url: parcels_suppliers_path do |f| %>
      <% if @trading_document.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trading_document.errors.count, "error") %> prohibited this auction from being saved:</h2>
          <ul>
            <% @trading_document.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-row">
        <div class="label">Diamond Type: </div>
        <div class="field">
          <%= f.select :diamond_type, options_for_select([['Outside Goods', 'Rough'], ['Sight', 'Sight']]), {include_blank: true}, class: 'input' %>
        </div>
      </div>

      <div class="common hide">
        <div class="form-row">
          <div class="label">
            Upload Parcel:
          </div>
          <div class="field">
            <%= f.file_field :document, class: 'input' %>
            <%= f.hidden_field :customer_id, value: current_customer.id %>
          </div>
        </div>

        <div class="rough_diamond hide">
          <div class="form-row">
            <div class="label">
              Lot No Column:
            </div>
            <div class="field">
              <%= f.text_field :lot_no_field, :value => 'A', class: 'input' %>
            </div>
          </div>

          <div class="form-row">
            <div class="label"> Description Column:</div>
            <div class="field">
              <%= f.text_field :desc_field, :value => 'B', class: 'input' %>
            </div>
          </div>

          <div class="form-row">
            <div class="label"> No of Stones Column:</div>
            <div class="field">
              <%= f.text_field :no_of_stones_field, :value => 'C', class: 'input' %>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Carats Column: </div>
          <div class="field">
            <%= f.text_field :weight_field, :value => 'D', class: 'input' %>
          </div>
        </div>
        <div class="form-row">
          <div class="label">
            Credit Column:
          </div>
          <div class="field">
            <%= f.text_field :credit_field, :value => 'E', class: 'input' %>
          </div>
        </div>
        <div class="form-row">
          <div class="label"> Price Column:</div>
          <div class="field">
            <%= f.text_field :price_field, :value => 'H', class: 'input' %>
          </div>
        </div>
      </div>

      <div class="sight_diamond hide">
        <div class="form-row">
          <div class="label"> Source Column:</div>
          <div class="field">
            <%= f.text_field :source_field, :value => 'B', class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Box Column:</div>
          <div class="field">
            <%= f.text_field :box_field, :value => 'C', class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Cost Column:</div>
          <div class="field">
            <%= f.text_field :cost_field, :value => 'E', class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Box Value Column:</div>
          <div class="field">
            <%= f.text_field :box_value_field, :value => 'F', class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Sight Column:</div>
          <div class="field">
            <%= f.text_field :sight_field, :value => 'G', class: 'input' %>
          </div>
        </div>
      </div>

      <div class="common hide">
        <div class="form-row">
          <div class="label">Sheet Number:</div>
          <div class="field">
            <%= f.select :sheet_no, (1..20).to_a, {}, class: 'input' %>
          </div>
        </div>
        <div class="clear10"></div>
        <div class="form-row">
          <div class="label"></div>
          <div class="field">
            <%=f.submit 'Submit', class: 'login-btn btn-02' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="single hide">
  <div class="clear10"></div>
  <div class="form-wrapper">
    <%= form_for @trading_parcel do |f| %>
      <% if @trading_parcel.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trading_parcel.errors.count, "error") %> prohibited this auction from being saved:</h2>
          <ul>
            <% @trading_parcel.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-row">
        <div class="label">Diamond Type: </div>
        <div class="field">
          <%= select_tag "trading_document_diamond_type", options_for_select([['Outside Goods', 'Rough'], ['Sight', 'Sight']]),  {class: 'input', include_blank: true} %>

        </div>
      </div>

      <div class="sight_diamond hide">
        <div class="form-row">
          <div class="label"> Source: </div>
          <div class="field">
            <%#= f.text_field :source, class: 'input' %>
            <%= f.select :source, options_for_select(supplier_list_for_demand), {include_blank: true}, class: 'input' %>
          </div>
        </div>

        <!-- <div class="form-row">
          <div class="label"> Box: </div>
          <div class="field">
            <%#= f.text_field :box, class: 'input' %>
            <%#= f.select :box, options_for_select(parcel_list_for_demand(nil)), {include_blank: true}, { class: 'input' } %>
          </div>
        </div> -->

        <div class="form-row">
          <div class="label"> Box Value:</div>
          <div class="field">
            <%= f.text_field :box_value, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Month Sight:</div>
          <div class="field">
            <%= f.text_field :sight, class: 'input' %>
          </div>
        </div>
      </div>

      <div class="rough_diamond hide">
        <div class="form-row">
          <div class="label">No of Stones: </div>
          <div class="field">
            <%= f.number_field :no_of_stones,  class: 'input' %>
          </div>
        </div>
        <div class="form-row">
          <div class="label">Lot No: </div>
          <div class="field">
            <%= f.number_field :lot_no,  class: 'input' %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="label">Description: </div>
        <div class="field">
          <%= f.select :description, options_for_select(parcel_list_for_demand(nil)), {include_blank: true}, class: 'input' %>
        </div>
      </div>

      <div class="common hide">
        <div class="form-row">
          <div class="label">Credit: </div>
          <div class="field">
            <%= f.number_field :credit_period, class: 'input' %>
            <%= f.hidden_field :customer_id, value: current_customer.id, class: 'input' %>
            <%= f.hidden_field :single_parcel, value: true, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Carats:</div>
          <div class="field">
            <%= f.text_field :weight, class: 'input', id: 'carat' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Cost:</div>
          <div class="field">
            <%= f.text_field :cost, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Percent:</div>
          <div class="field">
            <%= f.text_field :percent, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Avg Price:</div>
          <div class="field">
            <%= f.text_field :price, class: 'input', id: 'price' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Amount:</div>
          <div class="field">
            <%= text_field_tag "amount", '', class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Comment:</div>
          <div class="field">
            <%= f.text_area :comment, class: 'input' %>
          </div>
        </div>
        <div class="clear10"></div>
        <div class="form-row">
          <div class="label"></div>
          <div class="field">
            <%=f.submit 'Submit', class: 'login-btn btn-02' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  // $(document).on('change', '#trading_parcel_source', function(){
  //   id = $('#trading_parcel_source').val()
  //   $.ajax({
  //     url: '/supplier_demand_list',
  //     method: 'get',
  //     data: {id: id}
  //   })
  // })

  $(document).on('keyup focusout','#trading_parcel_percent', function(){
    var carat = parseFloat($('#carat').val());
    var cost = parseFloat($('#trading_parcel_cost').val());
    var percent = parseFloat($('#trading_parcel_percent').val());
    var price = parseFloat($('#price').val());
    calculate_price(carat, cost, percent, price)
  });

  $(document).on('keyup focusout','#price', function(){
    var carat = parseFloat($('#carat').val());
    var cost = parseFloat($('#trading_parcel_cost').val());
    var price = parseFloat($('#price').val());
    calculate_percent(carat, cost, price)
  });
  
  function calculate_price(carat, cost, percent, price){
    var avg_price = (percent/100)*cost + cost;
    var amount = carat*avg_price;
    if (isNaN(avg_price)){
      $('#price').val('')
      $('#amount').val('');
    }else{
      $('#price').val(avg_price)
      $('#amount').val(amount);
    }
  }

  function calculate_percent(carat, cost, price){
    var percent = ((price - cost) * 100)/cost;
    var amount = carat*price;
    if (isNaN(percent)){
      $('#trading_parcel_percent').val('')
      $('#amount').val(amount);
    }else{
      $('#trading_parcel_percent').val(percent)
      $('#amount').val(amount);
    }
  }

  $(document).on('focusout','#price', function(){
    var carat = $('#carat').val();
    var price = $('#price').val();
    var amount = carat*price;
    $('#amount').val(amount);
  });
  $(document).on('focusout','#carat', function(){
    var carat = $('#carat').val();
    var price = $('#price').val();
    var amount = carat*price;
    $('#amount').val(amount);
  });
</script>