<div class="">
  <h2>Credit Details</h2>
  <div class="credit_given">
    <div class="table">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tenderList" class="tablesorter credit-table">
        <tr class="thead-desktop">
          <th></th>
          <th>Company</th>
          <th>Given</th>
          <th>Used</th>
          <th>Available</th>
          <th></th>
        </tr>
        <% @credit_limits.each.with_index(1) do |cl, i|%>
          <% if cl.buyer.present? %>
            <tr>
              <td><span class="table-head-in-td"></span><%= %></td>
              <td><span class="table-head-in-td">Buyer</span><%= link_to cl.buyer.try(:company), customer_transactions_path(buyer_id: cl.buyer.id, supplier_id: current_customer.id) rescue 'N/A' %></td>
              <td class="given_limit">
              <span class="table-head-in-td">Given</span>
              <%= number_to_currency(get_credit_limit(cl.buyer, current_customer)) rescue 'N/A' %>
              <a href="javascript:void(0)" class="credit_edit_block"><i class="fa fa-edit pull-right credit_edit" id='credit_edit'></i></a></td>
              <td class="edit_field hide">
              <%=text_field_tag "limit", '', 'data-id'=> cl.buyer.id, placeholder: 'Enter limit' %><a href="javascript:void(0)" class="save_btn_block"><i class="fa fa-check-square-o save_btn"></i></a></td>
              <td>
              <span class="table-head-in-td">Used</span>
              <%= number_to_currency(get_used_credit_limit(cl.buyer, current_customer)) rescue 'N/A' %></td>
              <td>
              <span class="table-head-in-td">Available</span>
              <%= number_to_currency(get_available_credit_limit(cl.buyer, current_customer))rescue 'N/A' %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', '.credit_edit_block', function(){
    $(this).parent('.given_limit').addClass('hide')
    $(this).parent('td').next('td').removeClass('hide')
  })

  $(document).on('click', '.save_btn_block', function(){
    self = $(this)
    value = $(this).parent('.edit_field').find('#limit').val()
    user_id = $(this).parent('.edit_field').find('#limit').data('id')
    $.ajax({
      url: '<%=change_credit_limit_path %>',
      method: 'get',
      dataType: 'json',
      data: {limit: value, buyer_id: user_id},
      success:function(data){
        window.location.reload()
        // $(self).parents('tr').find('td.given_limit').removeClass('hide')
        // $(self).parents('tr').find('td.edit_field').addClass('hide')
        // $(self).parents('tr').find('td.given_limit').html(data.value + '<a href="#" class="credit_edit_block"><i id="credit_edit" class="fa fa-edit pull-right credit_edit"></i></a>')
        // $(self).parent('.edit_field').find('#limit').val('')
      }
    })
  })
</script>