<%#= link_to "Search Companies and add Limit", 'javascript:void(0)', style:"float: right", class: 'search_link' %>
<div class="search-form form-wrapper">
  <%= form_tag(list_company_companies_path, :method => "get", id: "search-form") do %>
    <div class="form-row">
      <div class="label">Search</div>
      <div class="field">
        <%= text_field_tag :name, params[:search], placeholder: "Search Companies", class: 'input'%>
      </div>
    </div>
    <div class="form-row">
      <div class="label"></div>
      <div class="field">
        <%= submit_tag "Search", :name => nil, class: 'login-btn btn-02' %>
      </div>
    </div>
  <% end %>
</div>
<div class="clear10">
<div class="">
  <h2>Approve Customers</h2>
  <p><%=link_to 'Total Credit Given', credit_given_list_suppliers_path  %>: <%= overall_credit_given(current_customer) %></p>
  <div class="approve_list">
    <%= render partial: 'approve_customers_list' %>
  </div>
  <%#= paginate @customers %>
</div>


<script type="text/javascript">
  $(document).on('click', '.image_block', function(){
    self = $(this)
    id = $(this).data('id')
    $.ajax({
      url: '<%= block_unblock_user_customer_path(current_user)%>',
      method: 'get',
      data: {status: 'block', block_user_id: id},

      success:function(){
        // $(self).parents('tr').fadeOut( "slow" );
      }
    })
  })

  $(document).on('click', '.image_approve', function(){
    self = $(this)
    id = $(this).data('id')
    $.ajax({
      url: '<%= block_unblock_user_customer_path(current_user)%>',
      method: 'get',
      data: {status: 'unblock', block_user_id: id},

      success:function(){
        // $(self).parents('tr').fadeOut( "slow" );
      }
    })
  })

  $(document).on('change', '#limit', function(){
    self = $(this)
    value = $(this).val()
    user_id = $(this).data('id')
    $.ajax({
      url: '<%=change_credit_limit_path %>',
      method: 'get',
      dataType: 'json',
      data: {limit: value, buyer_id: user_id},
      success:function(data){
        $(self).parents('tr').find('td.credit_limit').text(data.value)
        $(self).parent().find('span').text(data.message).fadeIn("slow").delay(1000).fadeOut("slow");
        $(self).val('')
      }
    })
  })

  $(document).on('change', '#days_limit', function(){
    self = $(this)
    value = $(this).val()
    user_id = $(this).data('id')
    $.ajax({
      url: '<%=change_days_limit_path %>',
      method: 'get',
      dataType: 'json',
      data: {limit: value, buyer_id: user_id},
      success:function(data){
        $(self).parents('tr').find('td.days_limit').text(data.value)
        $(self).parent().find('span').text(data.message).fadeIn("slow").delay(1000).fadeOut("slow");
        $(self).val('')
      }
    })
  })

  // $(document).on('click', '.search_link', function(){
  //   $('.search-form').slideToggle();
  // })

</script>