<div class="">
  <h2>Credit Details</h2>
  <div class="approve_list">
    <div class="table">
  <table id="credit" class="table table-bordered table-striped table-responsive tablesorter">
    <thead>
      <th>Buyer </th>
      <th>Total Limit</th>
      <th>Used Limit</th>
      <th>Available Limit</th>
      <th>Eligiable</th>

    </thead>
    <% @companies.each.with_index(1) do |company, i|%>
      <tr>
        <td><%#= link_to company.name, 'javascript:void(0)', :class => 'company_profile', "data-id"=> company.id %>
        <%=company.try(:name)%>
        </td>


        <td class="credit_limit">
          <a href="javascript:void(0)" class="given_limit"><%= number_to_currency(get_credit_limit(company, current_company)) %><i class="fa fa-edit pull-right" id='credit_edit'></i></a>
          <span class="edit_field hide"><%=text_field_tag "limit", '', 'data-id'=> company.id, placeholder: 'Enter credit limit' %><%=link_to 'Add', 'javascript:void(0)', class: " save_btn_2"%> <%=link_to 'Cancel',  demand_supplier_path(id: @parcel.id, is_polished: false) , data: { turbolinks: false }%></span>
        </td>
        <td><%= number_to_currency(get_used_credit_limit(company, current_company)) rescue 'N/A' %></td>
        <td><%= number_to_currency(get_available_credit_limit(company, current_company)) rescue 'N/A' %></td>


          <%if (@parcel.price*@parcel.weight).to_f < get_available_credit_limit(company, current_company).to_f %>
             <td><%= number_to_currency(get_available_credit_limit(company, current_company)) rescue 'N/A' %></td>
          <%else%>
             <td class= "eligiable"><%= number_to_currency(get_available_credit_limit(company, current_company)) rescue 'N/A' %></td>
          <%end%>

      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
 $(document).on('click', '#credit_edit', function(){
    $(this).parents('.credit_limit').find('.given_limit').addClass('hide')
    $(this).parents('.credit_limit').find('.edit_field').removeClass('hide')
  })

  $(document).on('click', '#days_edit', function(){
    $(this).parents('.days_limit').find('.given_days').addClass('hide')
    $(this).parents('.days_limit').find('.edit_days').removeClass('hide')
  })
   $(document).on('click', '.save_btn_2', function(){
    self = $(this)
    value = $(this).parent('.edit_field').find('#limit').val()
    user_id = $(this).parent('.edit_field').find('#limit').data('id')
    $.ajax({
      url: '<%=change_credit_limit_path %>',
      method: 'get',
      dataType: 'json',
      data: {limit: value, buyer_id: user_id},
      success:function(data){

        window.location.reload()
        // $(self).parents('tr').find('td.credit_limit').removeClass('hide')
        // $(self).parents('tr').find('td.edit_field').addClass('hide')
        // $(self).parents('tr').find('td.credit_limit').html('<a href="#" class="given_limit">'+ data.value +'<i class="fa fa-edit pull-right" id="credit_edit"></i></a><span class="edit_field hide"><input name="limit" id="limit" value="" data-id="'+ user_id +'" placeholder="Enter credit limit" type="text"><i class="fa fa-check-square-o save_btn_2"></i></span>')
        // $(self).parent('.edit_field').find('#limit').val('')
      }
    })
  })

  $(document).on('click', '.save_date_btn', function(){
    self = $(this)
    value = $(this).parent('.edit_days').find('#days_limit').val()
    user_id = $(this).parent('.edit_days').find('#days_limit').data('id')
    $.ajax({
      url: '<%=change_days_limit_path %>',
      method: 'get',
      dataType: 'json',
      data: {limit: value, buyer_id: user_id},
      success:function(data){
        $(self).parents('tr').find('td.days_limit').removeClass('hide')
        $(self).parents('tr').find('td.edit_days').addClass('hide')
        $(self).parents('tr').find('td.days_limit').html('<a href="#" class="given_days">'+ data.value +'<i class="fa fa-edit pull-right" id="days_edit"></i></a><a href="#" class="edit_days hide"><input name="days_limit" id="days_limit" value="" data-id="'+ user_id +'" placeholder="Enter days limit" type="text"><i class="fa fa-check-square-o save_date_btn"></i></a>')
        $(self).parent('.edit_field').find('#limit').val('')
      }
    })
  })
</script>
<style>
  .current_bid {
    background-color: #E4E4E4 !important;
  }
  td.eligiable {
    background-color: red !important;
  }
</style>
