<h3>Parcel Details</h3>
<%if @parcel.source == DemandSupplier::POLISHED%>
  <%= render partial: 'polished_parcel_details', locals: {uid: false}  %>
<%else%>
  <%= render partial: 'single_parcel_details' %>
<%end%>
<div class="clear10"></div>
<%=link_to 'Edit', edit_trading_parcel_path(id: @parcel.id), class: 'login-btn btn-02', data: {turbolinks: false} %>
<%=link_to 'Add Another', suppliers_path, class: 'login-btn btn-02', data: {turbolinks: false} %>
<%=link_to 'Done', trading_customers_path, class: 'login-btn btn-02', data: {turbolinks: false} %>
</div><br>

<div class="size-info">
  <%= render partial: 'trading_parcels/size_info' %>
</div>