<div class="single">
  <div class="clear10"></div>
  <div class="form-wrapper">
    <%= form_for @trading_parcel do |f| %>
      <% if @trading_parcel.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trading_parcel.errors.count, "error") %> prohibited this auction from being saved:</h2>
          <ul>
            <% @trading_parcel.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-row">
        <div class="label">Diamond Type: </div>
        <div class="field">
          <%= select_tag "trading_document_diamond_type", options_for_select(['Outside Goods', 'Sight']),  {class: 'input', include_blank: true} %>

        </div>
      </div>

      <div class="rough_diamond hide">
        <div class="form-row">
          <div class="label">Description: </div>
          <div class="field">
            <%= f.select :description, options_for_select(parcel_list_for_demand(nil)), {include_blank: true}, class: 'input' %>
          </div>
        </div>
        <div class="form-row">
          <div class="label">No of Stones: </div>
          <div class="field">
            <%= f.number_field :no_of_stones,  class: 'input' %>
          </div>
        </div>
        <div class="form-row">
          <div class="label">Lot No: </div>
          <div class="field">
            <%= f.number_field :lot_no,  class: 'input' %>
          </div>
        </div>
      </div>

      <div class="sight_diamond hide">
        <div class="form-row">
          <div class="label"> Source: </div>
          <div class="field">
            <%= f.select :source, options_for_select(supplier_list_for_demand), {include_blank: true}, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Box: </div>
          <div class="field">
            <%= f.select :box, options_for_select(parcel_list_for_demand(nil)), {include_blank: true}, { class: 'input' } %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Cost:</div>
          <div class="field">
            <%= f.text_field :cost, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Box Value:</div>
          <div class="field">
            <%= f.text_field :box_value, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"> Sight:</div>
          <div class="field">
            <%= f.text_field :sight, class: 'input' %>
          </div>
        </div>
      </div>

      <div class="common hide">
        <div class="form-row">
          <div class="label">Credit: </div>
          <div class="field">
            <%= f.number_field :credit_period, class: 'input' %>
            <%= f.hidden_field :customer_id, value: current_customer.id, class: 'input' %>
            <%= f.hidden_field :single_parcel, value: true, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Carats:</div>
          <div class="field">
            <%= f.text_field :weight, class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Avg Price:</div>
          <div class="field">
            <%= f.text_field :price, class: 'input', id: 'price' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label">Amount:</div>
          <div class="field">
            <%= text_field_tag "amount", '', class: 'input' %>
          </div>
        </div>

        <div class="form-row">
          <div class="label"></div>
          <div class="field">
            <%=f.submit 'Submit', class: 'login-btn btn-02' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).on('change', '#trading_document_diamond_type', function(){
    val = $(this).val()
    if(val == "Outside Goods"){
      $('.common').removeClass('hide')
      $('.rough_diamond').removeClass('hide')
      $('.sight_diamond').addClass('hide')
      $('#trading_document_credit_field').val('E')
      $('#trading_document_price_field').val('F')
    }else if(val == "Sight"){
      $('.common').removeClass('hide')
      $('.rough_diamond').addClass('hide')
      $('.sight_diamond').removeClass('hide')
      $('#trading_document_credit_field').val('I')
      $('#trading_document_price_field').val('H')
    }else{
      $('.common').addClass('hide')
      $('.rough_diamond').addClass('hide')
      $('.sight_diamond').addClass('hide')
    }
  })

  $(document).on('focusout','#price', function(){
    var carat = $('#trading_parcel_weight').val();
    var price = $('#price').val();
    var amount = carat*price;
    $('#amount').val(amount);
  });
  $(document).on('focusout','#trading_parcel_weight', function(){
    var carat = $('#trading_parcel_weight').val();
    var price = $('#price').val();
    var amount = carat*price;
    $('#amount').val(amount);
  });

  $(document).on('change', '#trading_document_diamond_type', function(){
    val = $('.single #trading_document_diamond_type').val()
    if (val == 'Outside Goods'){
      $.ajax({
        url: '/supplier_demand_list',
        method: 'get',
        data: {id: val}
      })
    } else if (val == 'Sight'){
      $.ajax({
        url: '/supplier_list',
        method: 'get',
        data: {diamond_type: val}
      })
    }
  })

  $(document).on('change', '#trading_parcel_source', function(){
    id = $('.single #trading_parcel_source').val()
    $.ajax({
      url: '/supplier_demand_list',
      method: 'get',
      data: {id: id}
    })
  })
  </script>