<h3>Trading</h3>
<div class="clear10"></div>
<%= form_for @trading_document, url: parcels_suppliers_path do |f| %>
  <% if @trading_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trading_document.errors.count, "error") %> prohibited this auction from being saved:</h2>
      <ul>
        <% @trading_document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-wrapper">
    <div class="form-row">
      <div class="label">
        Upload Parcel:
      </div>
      <div class="field">
        <%= f.file_field :document, class: 'input' %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label">
        Supplier:
      </div>
      <div class="field">
        <%= f.select :company_id, options_for_select(current_customer.companies.map { |e| [e.name, e.id] }), {}, class: 'input' %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label">
        Credit Column:
      </div>
      <div class="field">
        <%= f.text_field :credit_field, :value => 'E', class: 'input' %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label">
        Lot No Column:
      </div>
      <div class="field">
        <%= f.text_field :lot_no_field, :value => 'A', class: 'input' %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label">
        Description Column:
      </div>
      <div class="field">
        <%= f.text_field :desc_field, :value => 'B', class: 'input' %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label">
        No of Stones Column:
      </div>
      <div class="field">
        <%= f.text_field :no_of_stones_field, :value => 'C', class: 'input' %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label">
        Weight Column:
      </div>
      <div class="field">
        <%= f.text_field :weight_field, :value => 'D', class: 'input' %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label">
        Sheet Number:
      </div>
      <div class="field">
        <%= f.select :sheet_no, (1..20).to_a, {}, class: 'input' %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="form-row">
      <div class="label"></div>
      <div class="field">
        <%=f.submit 'Submit', class: 'login-btn btn-02' %>
      </div>
    </div>
  </div>
<% end %>








