<div class="form-wrapper">
  <div class="form-row">
    <div class="label">Transactions :</div>
    <div class="field">
      <%= select_tag "transaction", options_for_select(['Pending Transactions', 'Overdue Transactions', 'Complete Transactions', 'Rejected Transactions']), class: 'input', include_blank: true %>
    </div>
  </div>
  <%=link_to 'Create Manual Transaction', new_transaction_path, style: "margin-left: 7%;" %>
</div>
<div class="clear10"></div>
<div class="dashboard pending hide ">
  <h3>Pending Transactions</h3>
  <div class="clear10"></div>
  <%= render partial: "credit_list", locals: { transactions: @pending_transactions } %>
</div>
<div class="dashboard overdue hide">
  <h3>Overdue Transactions</h3>
  <div class="clear10"></div>
  <%= render partial: "credit_list", locals: { transactions: @overdue_transactions } %>
</div>
<div class="dashboard complete hide">
  <h3>Complete Transactions</h3>
  <div class="clear10"></div>
  <%= render partial: "credit_list", locals: { transactions: @complete_transactions } %>
</div>
<div class="dashboard rejected hide">
  <h3>Rejected Transactions</h3>
  <div class="clear10"></div>
  <%= render partial: "shared/rejected_list", locals: { transactions: @rejected_transactions } %>
</div>