<div class="header">
  <div class="c1">
  <div class="menu-burger"></div>
    <nav class="nav">
      <ul>
        <% if current_customer %>
          <% if can? :access, :broker %>
            <li class="first broker_home">
              <%= link_to 'Home', dashboard_brokers_path, :class => 'home', data: { turbolinks: false } %>
            </li>
            <li class="">
              <%= link_to 'Network', brokers_path, :class => 'home', data: { turbolinks: false } %>
            </li>
            <li class="<%= 'active' if current_page?('/live_demands') %>">
              <%= link_to 'Live Demands', '/live_demands', data: { turbolinks: false } %>
            </li>
            <!-- <li><%#= link_to 'Parcels', shared_parcels_brokers_path, data: { turbolinks: false } %></li> -->
            <li>
              <%#= link_to 'Invite', '#', data: { turbolinks: false } %>
              <%#= link_to 'Invite', invite_brokers_path, data: { turbolinks: false } %>
            </li>

          <% else %>
            <li class="first" onClick=" window.location.href = '/customers/trading' ">
              <%= link_to 'Home', trading_customers_path, :class => 'home', data: { turbolinks: false } %>
            </li>
            <li>
              <%= link_to 'Dashboard', trading_customers_path, data: { turbolinks: false } %>
            </li>
            <!-- <li>
              <%#= link_to 'Tenders', root_path, data: { turbolinks: false } %>
            </li> -->
            <li>
              <%#= link_to 'History', trading_history_path, data: { turbolinks: false } %>
              <div class="dropdown history-nav-dropdown">
                <a id="dropbtn" class="dropbtn">History</a>
                <div id="myDropdown" class="dropdown-content history">
                  <%= link_to 'Rough', trading_history_path, data: { turbolinks: false } %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Polished', polished_trading_history_path,  data: { turbolinks: false } %>
                </div>
              </div>
            </li>
            <!-- <%# if can? :access, :buy %>
              <li><%#= link_to 'Demand',  demanding_customers_path , data: { turbolinks: false } %></li>
            <%# end %> -->
            <% if can? :access, :sell %>
              <li><%= link_to 'Approve Clients', credit_suppliers_path, data: { turbolinks: false } %></li>
            <% end %>
            <li>
              <%= link_to 'Invite', invite_customers_path , data: { turbolinks: false } %>
            </li>
            <!-- <li><%#= link_to 'Invite',  '#' , data: { turbolinks: false } %></li> -->
            <%# if current_customer.parent_id.nil? %>
            <%# else %>
              <!-- <li> -->
                <%#= link_to 'Credit Request', credit_request_suppliers_path, data: { turbolinks: false } %>
              <!-- </li> -->
            <%# end %>
            <!-- <li>
              <%#= link_to 'Search', demanding_search_customers_path, data: { turbolinks: false } %>
            </li> -->
            <!-- <li>
              <%#= link_to 'Live Demands', '/live_demands', data: { turbolinks: false } %>
            </li> -->
          <% end %>
        <% else %>
          <li class="first broker_home">
            <%= link_to 'Home', dashboard_brokers_path, :class => 'home', data: { turbolinks: false } %>
          </li>
        <% end %>
          
        <% if current_admin %>
          <!-- <li>
            <%#= link_to 'Calendar', calendar_tenders_path, data: { turbolinks: false } %>
          </li> -->
          <li>
            <%= link_to 'Winners List', list_winners_path, data: { turbolinks: false } %>
          </li>
          <li class="bids_list">
            <%= link_to 'Bids List', list_bids_path, data: { turbolinks: false } %>
          </li>
          <li>
            <%= link_to 'Admin Panel', '/admins', data: { turbolinks: false } %>
          </li>
          <li>
            <%= link_to 'Invite', new_customer_invitation_path, data: { turbolinks: false } %>
          </li>
          <li>
            <%= link_to 'Demand List', add_demand_list_suppliers_path, data: { turbolinks: false } %>
          </li>
          <li>
            <%= link_to 'Company List', add_company_list_suppliers_path, data: { turbolinks: false } %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <% if current_customer %>
    <div class="current_user_menu">
      <div class="dropdown nav-dropdown">
        <a id="dropbtn" class="dropbtn">Welcome <%= current_customer.name %><% if current_customer.has_role?('Broker') %>(Broker)<% end %></a>
        <span><%=image_tag "down-arrow.png", width: '4%' %></span>
        <div id="myDropdown" class="dropdown-content">
          <%= link_to 'Profile', profile_customers_path, data: { turbolinks: false } %>
          <%= link_to 'Info', info_customers_path, data: { turbolinks: false } unless current_admin || current_customer.has_role?('Broker')  %>
          <% unless current_admin %>
            <%= link_to 'Manage Users', approve_access_customers_path, data: { turbolinks: false } if (current_customer == current_company.get_owner) && !current_customer.has_role?('Broker')  %>
          <% end %>
          <%= link_to 'Calendar', calendar_tenders_path, data: { turbolinks: false } %>
          <%= link_to 'Manage Brokers', requests_brokers_path, data: { turbolinks: false } if current_customer.has_role?('Seller') %>
          <%#= link_to 'Scores', scores_customers_path, data: { turbolinks: false } unless current_admin %>
          <%= link_to 'Buyer Scores', buyer_scores_customers_path, data: { turbolinks: false } unless current_admin %>
          <%= link_to 'Seller Scores', seller_scores_customers_path, data: { turbolinks: false } unless current_admin %>

          <!-- SUB COMPANY Feature on Hold -->
          <%#= link_to 'Sub Companies', sub_companies_path, data: { turbolinks: false } if current_customer.has_role?('Seller') %>
          <!--  -->
          <%= link_to 'Logout', destroy_customer_session_path, :method => :delete %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="current_user_menu">
      <div class="current_user_menu">
      <div class="dropdown nav-dropdown">
        <a id="dropbtn" class="dropbtn">Welcome <%= current_admin.name %></a>
        <span><%=image_tag "down-arrow.png", width: '4%' %></span>
        <div id="myDropdown" class="dropdown-content">
          <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
<% if controller.controller_name == "calculator" %>
<div class="mobile-header">
  <div class="profile-top">
    <span>Welcome Admin </span>
    <a href="#">Logout</a>
  </div>
  <a class="mobile-menu-icon" href="javascript:void(0);"></a>
  <div class="clear"></div>
</div>

<div class="mobilemenu">
  <ul>
    <li class="first">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="tender-dashboard.html">Tenders</a>
    </li>
    <li>
      <a href="tender-history.html">History</a>
    </li>
    <li>
      <a href="database.html">Database</a>
    </li>
    <li>
      <a href="profile.html">Profile</a>
    </li>
    <li>
      <a href="calendar.html">Calendar</a>
    </li>
    <li class="active">
      <a href="reports.html">Calculator</a>
    </li>
    <li>
      <a href="<%= auctions_path %>">Auctions</a>
    </li>
  </ul>
</div>
<% end %>
<script>
  $(document).ready(function() {
    $('nav.nav ul li a').each(function() {
      var href = $(this).attr('href');
      //alert(window.location.pathname)
      if (window.location.pathname == href) {
        $(this).parent().addClass('active')
      }
      else
        if((window.location.pathname == "/bids/tender_unsuccess") || (window.location.pathname == "/bids/tender_success") || (window.location.pathname == "/bids/tender_total")) {
          $(".bids_list").addClass('active')
     }
    })

    $(document).on('click', '.broker_home', function(){
      window.location.replace('/brokers/dashboard');
    })

    $(".mobile-menu-icon").click(function() {
      var pos = parseInt($('.mobilemenu').css('top'));
      if (pos < 0) {
        $('.mobilemenu').animate({
          'top' : '38px'
        }, 'slow');
      } else {
        $('.mobilemenu').animate({
          'top' : '-260px'
        }, 'slow');
      }
    });
  });
</script>
