<!DOCTYPE html>
<html>
  <head>
    <title><%= "DIALUCK - Tender Program" %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "jquery.dataTables.css", :media => "all"  unless controller.controller_name == 'calculator' %>
    <%= javascript_include_tag "application" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quickblox/2.5.4/quickblox.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118651902-1"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='wrapper <%=  ' calculator-page' if controller.controller_name == 'calculator'%>'>
      <%= render :partial => "layouts/navigation" if current_customer or current_admin %>
      <div class="clear20"></div>
      <%= render partial:  'layouts/supplier/flash' %>
      <div class='container'>
        <% if customer_signed_in? %>
          <%=link_to (image_tag "inbox.png", width: 65), messages_path, class: 'pull-right', data: {turbolinks: false} %>
          <div class="pull-right" style="margin-top: 20px; margin-right: 10px !important;">
            <button type="button" class="btn btn-default btn-sm refresh" data-turbolinks="false" >
              <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
          </div>
        <% end %>
        <div class="clear"></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript">
// <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

 gtag('config', 'UA-118651902-1');
</script>